<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,10}</string>
                <key>spriteSize</key>
                <string>{238,285}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{1410,279},{238,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,0}</string>
                <key>spriteSize</key>
                <string>{218,283}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{957,279},{218,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,10}</string>
                <key>spriteSize</key>
                <string>{268,275}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{453,0},{268,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,10}</string>
                <key>spriteSize</key>
                <string>{238,285}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{1648,279},{238,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{482,564},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{223,274}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{230,0},{223,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{229,276}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{721,0},{229,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{235,284}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{1175,279},{235,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{233,286}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{719,564},{233,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,5}</string>
                <key>spriteSize</key>
                <string>{227,286}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{952,564},{227,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,7}</string>
                <key>spriteSize</key>
                <string>{221,286}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{1179,564},{221,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{1400,564},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,32}</string>
                <key>spriteSize</key>
                <string>{238,285}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{0,564},{238,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,23}</string>
                <key>spriteSize</key>
                <string>{220,277}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{950,0},{220,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,25}</string>
                <key>spriteSize</key>
                <string>{230,271}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,26}</string>
                <key>spriteSize</key>
                <string>{244,285}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{238,564},{244,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,29}</string>
                <key>spriteSize</key>
                <string>{242,281}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{235,279},{242,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,33}</string>
                <key>spriteSize</key>
                <string>{240,281}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{477,279},{240,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,35}</string>
                <key>spriteSize</key>
                <string>{238,279}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{1793,0},{238,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,35}</string>
                <key>spriteSize</key>
                <string>{240,281}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{717,279},{240,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,32}</string>
                <key>spriteSize</key>
                <string>{234,277}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{1170,0},{234,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298,63}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1637,564},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-219,67}</string>
                <key>spriteSize</key>
                <string>{389,278}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1404,0},{389,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-295,64}</string>
                <key>spriteSize</key>
                <string>{235,280}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,279},{235,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298,63}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,850},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{239,850},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{476,850},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{713,850},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{952,850},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1189,850},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1428,850},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1665,850},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{0,1136},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{239,1136},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{478,1136},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{717,1136},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{956,1136},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1197,1136},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1438,1136},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1679,1136},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{0,1422},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{241,1422},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{482,1422},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{723,1422},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{964,1422},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1205,1422},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{241,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1446,1422},{241,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1687,1422},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{0,1708},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{239,1708},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{478,1708},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{717,1708},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{956,1708},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1195,1708},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1434,1708},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{1671,1708},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>8-2.png</string>
            <key>size</key>
            <string>{2031,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf30664f49081138dd6bdcb959f529aa:48faf49cc35d8802c8581fc6e26c59a0:9ab6dce2ec56bdd29a1b7eabf4672da9$</string>
            <key>textureFileName</key>
            <string>8-2.png</string>
        </dict>
    </dict>
</plist>
