<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,2}</string>
                <key>spriteSize</key>
                <string>{242,291}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{235,1150},{242,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,6}</string>
                <key>spriteSize</key>
                <string>{219,288}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{707,286},{219,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,4}</string>
                <key>spriteSize</key>
                <string>{217,292}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{477,1150},{217,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,2}</string>
                <key>spriteSize</key>
                <string>{217,294}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{0,1442},{217,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,3}</string>
                <key>spriteSize</key>
                <string>{219,294}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{217,1442},{219,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,4}</string>
                <key>spriteSize</key>
                <string>{223,294}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{436,1442},{223,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{229,294}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{659,1442},{229,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{231,292}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{694,1150},{231,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{235,290}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{0,1150},{235,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{235,287}</string>
                <key>spriteSourceSize</key>
                <string>{235,289}</string>
                <key>textureRect</key>
                <string>{{237,286},{235,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{235,287}</string>
                <key>spriteSourceSize</key>
                <string>{235,289}</string>
                <key>textureRect</key>
                <string>{{472,286},{235,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-294,63}</string>
                <key>spriteSize</key>
                <string>{243,288}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,574},{243,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-285,63}</string>
                <key>spriteSize</key>
                <string>{249,288}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{243,574},{249,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,288}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{492,574},{239,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{239,288}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{0,862},{239,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,288}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{239,862},{241,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{241,288}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{480,862},{241,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{241,288}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{721,862},{241,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{239,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{0,0},{239,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{239,0},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{476,0},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{713,0},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{237,286}</string>
                <key>spriteSourceSize</key>
                <string>{241,296}</string>
                <key>textureRect</key>
                <string>{{0,286},{237,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>8-3.png</string>
            <key>size</key>
            <string>{962,1736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf30664f49081138dd6bdcb959f529aa:48faf49cc35d8802c8581fc6e26c59a0:9ab6dce2ec56bdd29a1b7eabf4672da9$</string>
            <key>textureFileName</key>
            <string>8-3.png</string>
        </dict>
    </dict>
</plist>
