<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-33}</string>
                <key>spriteSize</key>
                <string>{307,221}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{600,964},{307,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-26}</string>
                <key>spriteSize</key>
                <string>{285,235}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1491,1178},{285,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-26}</string>
                <key>spriteSize</key>
                <string>{263,235}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1761,203},{263,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,13}</string>
                <key>spriteSize</key>
                <string>{271,313}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{537,1},{271,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,11}</string>
                <key>spriteSize</key>
                <string>{279,309}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{581,653},{279,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,9}</string>
                <key>spriteSize</key>
                <string>{271,305}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{473,1337},{271,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,8}</string>
                <key>spriteSize</key>
                <string>{265,303}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{823,964},{265,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,8}</string>
                <key>spriteSize</key>
                <string>{261,303}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{998,1269},{261,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{281,291}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1332,596},{281,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-33}</string>
                <key>spriteSize</key>
                <string>{307,221}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{600,964},{307,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,3}</string>
                <key>spriteSize</key>
                <string>{308,221}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{608,316},{308,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,7}</string>
                <key>spriteSize</key>
                <string>{286,229}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1615,684},{286,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,4}</string>
                <key>spriteSize</key>
                <string>{296,223}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1241,1},{296,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-5}</string>
                <key>spriteSize</key>
                <string>{308,205}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{810,1},{308,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-29}</string>
                <key>spriteSize</key>
                <string>{358,159}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1,363},{358,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-34}</string>
                <key>spriteSize</key>
                <string>{360,155}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-36}</string>
                <key>spriteSize</key>
                <string>{358,151}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{158,1},{358,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-35}</string>
                <key>spriteSize</key>
                <string>{356,153}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1,723},{356,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-32}</string>
                <key>spriteSize</key>
                <string>{354,157}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1,1081},{354,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{322,197}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{382,700},{322,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,3}</string>
                <key>spriteSize</key>
                <string>{308,221}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{608,316},{308,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{307,222}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1017,1},{307,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,3}</string>
                <key>spriteSize</key>
                <string>{291,228}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1261,1222},{291,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,1}</string>
                <key>spriteSize</key>
                <string>{295,224}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1106,613},{295,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-8}</string>
                <key>spriteSize</key>
                <string>{301,206}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1087,310},{301,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,10}</string>
                <key>spriteSize</key>
                <string>{261,242}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1761,440},{261,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,4}</string>
                <key>spriteSize</key>
                <string>{249,230}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1776,1119},{249,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-12}</string>
                <key>spriteSize</key>
                <string>{255,202}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1776,915},{255,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-21}</string>
                <key>spriteSize</key>
                <string>{261,196}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1578,915},{261,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-22}</string>
                <key>spriteSize</key>
                <string>{279,200}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1761,1},{279,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-23}</string>
                <key>spriteSize</key>
                <string>{283,232}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1728,1351},{283,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-20}</string>
                <key>spriteSize</key>
                <string>{287,240}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1336,889},{287,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{291,244}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1515,296},{291,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-19}</string>
                <key>spriteSize</key>
                <string>{295,244}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1090,925},{295,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-14}</string>
                <key>spriteSize</key>
                <string>{307,254}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{831,311},{307,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-20}</string>
                <key>spriteSize</key>
                <string>{303,242}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{862,620},{303,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-20}</string>
                <key>spriteSize</key>
                <string>{303,242}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{862,620},{303,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-20}</string>
                <key>spriteSize</key>
                <string>{303,242}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{862,620},{303,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,6}</string>
                <key>spriteSize</key>
                <string>{295,218}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1295,299},{295,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{293,218}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1466,1},{293,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,5}</string>
                <key>spriteSize</key>
                <string>{307,216}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{780,1273},{307,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,5}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{160,1393},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{315,218}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{388,336},{315,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{329,220}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{160,1062},{329,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{337,224}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{156,723},{337,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{337,224}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{162,361},{337,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{333,224}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{311,1},{333,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{382,1024},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>19-0.png</string>
            <key>size</key>
            <string>{2041,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00ee046413f3676d7821ab969a68042d:cc4647f35afe817a0275d96967211427:15dcc79777e6f78359eb282dd55f2179$</string>
            <key>textureFileName</key>
            <string>19-0.png</string>
        </dict>
    </dict>
</plist>
