<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{295,231}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1673,1056},{295,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-27}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1508,1289},{289,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-28}</string>
                <key>spriteSize</key>
                <string>{271,231}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1763,231},{271,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,7}</string>
                <key>spriteSize</key>
                <string>{299,301}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1306,621},{299,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,10}</string>
                <key>spriteSize</key>
                <string>{285,307}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{895,970},{285,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,10}</string>
                <key>spriteSize</key>
                <string>{275,307}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1079,312},{275,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,10}</string>
                <key>spriteSize</key>
                <string>{277,307}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1,1359},{277,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,10}</string>
                <key>spriteSize</key>
                <string>{277,307}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1027,625},{277,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,9}</string>
                <key>spriteSize</key>
                <string>{273,305}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1182,934},{273,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-30}</string>
                <key>spriteSize</key>
                <string>{301,227}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1534,1},{301,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-36}</string>
                <key>spriteSize</key>
                <string>{309,215}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{862,314},{309,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-36}</string>
                <key>spriteSize</key>
                <string>{309,215}</string>
                <key>spriteSourceSize</key>
                <string>{367,353}</string>
                <key>textureRect</key>
                <string>{{1061,1},{309,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{334,175}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{406,1},{334,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-19}</string>
                <key>spriteSize</key>
                <string>{342,177}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{342,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-16}</string>
                <key>spriteSize</key>
                <string>{338,183}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{1,345},{338,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{332,191}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{227,677},{332,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_byatk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{326,189}</string>
                <key>spriteSourceSize</key>
                <string>{402,281}</string>
                <key>textureRect</key>
                <string>{{420,670},{326,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{311,192}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{833,657},{311,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,3}</string>
                <key>spriteSize</key>
                <string>{277,228}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1763,1},{277,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-27}</string>
                <key>spriteSize</key>
                <string>{283,224}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1743,1289},{283,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-15}</string>
                <key>spriteSize</key>
                <string>{297,252}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{310,1342},{297,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-15}</string>
                <key>spriteSize</key>
                <string>{301,252}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1356,310},{301,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-15}</string>
                <key>spriteSize</key>
                <string>{307,252}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1038,1279},{307,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-15}</string>
                <key>spriteSize</key>
                <string>{311,252}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{564,1325},{311,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-15}</string>
                <key>spriteSize</key>
                <string>{311,252}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{807,1},{311,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-14}</string>
                <key>spriteSize</key>
                <string>{307,254}</string>
                <key>spriteSourceSize</key>
                <string>{421,292}</string>
                <key>textureRect</key>
                <string>{{1278,1},{307,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{295,220}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1823,464},{295,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,4}</string>
                <key>spriteSize</key>
                <string>{293,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1823,761},{293,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,4}</string>
                <key>spriteSize</key>
                <string>{297,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1607,613},{297,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{299,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1457,924},{299,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,4}</string>
                <key>spriteSize</key>
                <string>{301,214}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1292,1241},{301,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{319,218}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{818,1320},{319,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{323,218}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{675,995},{323,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{325,220}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{453,998},{325,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{331,226}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{414,337},{331,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{333,226}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1,1024},{333,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{335,226}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{186,340},{335,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{337,224}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{180,1},{337,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{337,224}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{1,685},{337,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{331,222}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{583,1},{331,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{329,222}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{229,1011},{329,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{323,220}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{611,670},{323,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{321,218}</string>
                <key>spriteSourceSize</key>
                <string>{345,258}</string>
                <key>textureRect</key>
                <string>{{642,334},{321,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>19-2.png</string>
            <key>size</key>
            <string>{2044,1640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00ee046413f3676d7821ab969a68042d:cc4647f35afe817a0275d96967211427:15dcc79777e6f78359eb282dd55f2179$</string>
            <key>textureFileName</key>
            <string>19-2.png</string>
        </dict>
    </dict>
</plist>
