<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-10}</string>
                <key>spriteSize</key>
                <string>{283,265}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1484,1474},{283,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-6}</string>
                <key>spriteSize</key>
                <string>{221,271}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1,208},{221,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-5}</string>
                <key>spriteSize</key>
                <string>{223,273}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{274,210},{223,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-4}</string>
                <key>spriteSize</key>
                <string>{223,273}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{549,210},{223,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{347,245}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{651,439},{347,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{343,245}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1000,443},{343,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{339,245}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1345,445},{339,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-20}</string>
                <key>spriteSize</key>
                <string>{335,245}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1686,445},{335,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-11}</string>
                <key>spriteSize</key>
                <string>{305,259}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{569,941},{305,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-11}</string>
                <key>spriteSize</key>
                <string>{301,259}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{876,946},{301,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-10}</string>
                <key>spriteSize</key>
                <string>{295,263}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1,1460},{295,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,16}</string>
                <key>spriteSize</key>
                <string>{282,262}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{283,1196},{282,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,11}</string>
                <key>spriteSize</key>
                <string>{312,254}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{971,690},{312,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{326,244}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1,435},{326,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{320,244}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{329,435},{320,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{312,252}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1,681},{312,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{306,254}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1285,692},{306,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{300,254}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1593,692},{300,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,14}</string>
                <key>spriteSize</key>
                <string>{284,260}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1179,948},{284,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,16}</string>
                <key>spriteSize</key>
                <string>{282,262}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{283,1196},{282,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,13}</string>
                <key>spriteSize</key>
                <string>{325,263}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{298,1466},{325,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-4}</string>
                <key>spriteSize</key>
                <string>{329,233}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1394,210},{329,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,5}</string>
                <key>spriteSize</key>
                <string>{323,253}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{315,681},{323,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,4}</string>
                <key>spriteSize</key>
                <string>{329,253}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{640,686},{329,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-10}</string>
                <key>spriteSize</key>
                <string>{285,233}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1725,210},{285,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-13}</string>
                <key>spriteSize</key>
                <string>{281,231}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1111,210},{281,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{285,227}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{824,210},{285,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-27}</string>
                <key>spriteSize</key>
                <string>{305,205}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{305,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-28}</string>
                <key>spriteSize</key>
                <string>{305,207}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{308,1},{305,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-30}</string>
                <key>spriteSize</key>
                <string>{305,207}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{615,1},{305,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-31}</string>
                <key>spriteSize</key>
                <string>{305,207}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{922,1},{305,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-31}</string>
                <key>spriteSize</key>
                <string>{307,207}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1229,1},{307,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-33}</string>
                <key>spriteSize</key>
                <string>{307,207}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1538,1},{307,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{280,261}</string>
                <key>spriteSourceSize</key>
                <string>{280,293}</string>
                <key>textureRect</key>
                <string>{{1,1195},{280,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{280,261}</string>
                <key>spriteSourceSize</key>
                <string>{280,293}</string>
                <key>textureRect</key>
                <string>{{1,1195},{280,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,13}</string>
                <key>spriteSize</key>
                <string>{283,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{567,1202},{283,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,13}</string>
                <key>spriteSize</key>
                <string>{283,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{852,1207},{283,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,13}</string>
                <key>spriteSize</key>
                <string>{285,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1137,1210},{285,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,13}</string>
                <key>spriteSize</key>
                <string>{285,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1424,1210},{285,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,13}</string>
                <key>spriteSize</key>
                <string>{283,264}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{625,1471},{283,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{285,264}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{910,1474},{285,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,13}</string>
                <key>spriteSize</key>
                <string>{285,264}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1197,1474},{285,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,13}</string>
                <key>spriteSize</key>
                <string>{287,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1711,1210},{287,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,11}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1465,948},{293,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,11}</string>
                <key>spriteSize</key>
                <string>{283,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1,935},{283,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{281,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{286,936},{281,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{279,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1760,948},{279,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,13}</string>
                <key>spriteSize</key>
                <string>{283,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{567,1202},{283,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>13-0.png</string>
            <key>size</key>
            <string>{2040,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec96fa945d59d79568823a2ab377f09:ad13d99560c6833e670e5fc6ca6afac4:dbbd00ccac1984e8dd2c1a3792f3474e$</string>
            <key>textureFileName</key>
            <string>13-0.png</string>
        </dict>
    </dict>
</plist>
