<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-10}</string>
                <key>spriteSize</key>
                <string>{283,261}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1289,544},{283,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-11}</string>
                <key>spriteSize</key>
                <string>{283,261}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1542,240},{283,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-11}</string>
                <key>spriteSize</key>
                <string>{283,261}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1718,1131},{283,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-9}</string>
                <key>spriteSize</key>
                <string>{281,265}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1029,872},{281,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-8}</string>
                <key>spriteSize</key>
                <string>{247,267}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1763,862},{247,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-7}</string>
                <key>spriteSize</key>
                <string>{235,269}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1119,1155},{235,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-7}</string>
                <key>spriteSize</key>
                <string>{223,269}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1119,1434},{223,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-9}</string>
                <key>spriteSize</key>
                <string>{213,265}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1390,1434},{213,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-4}</string>
                <key>spriteSize</key>
                <string>{363,275}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{355,241}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1,366},{355,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-20}</string>
                <key>spriteSize</key>
                <string>{331,245}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{244,366},{331,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-19}</string>
                <key>spriteSize</key>
                <string>{331,245}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{278,1},{331,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{317,255}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1,1060},{317,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{311,257}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{491,334},{311,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-10}</string>
                <key>spriteSize</key>
                <string>{283,261}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1289,544},{283,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,3}</string>
                <key>spriteSize</key>
                <string>{326,246}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1,1379},{326,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{294,254}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1049,1},{294,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,12}</string>
                <key>spriteSize</key>
                <string>{286,256}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1718,1394},{286,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{321,249}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{252,699},{321,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,3}</string>
                <key>spriteSize</key>
                <string>{335,249}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1,723},{335,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{315,245}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{258,1022},{315,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-3}</string>
                <key>spriteSize</key>
                <string>{309,237}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1345,1},{309,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-5}</string>
                <key>spriteSize</key>
                <string>{303,237}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1656,1},{303,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-7}</string>
                <key>spriteSize</key>
                <string>{293,235}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1552,525},{293,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{303,209}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1507,1129},{303,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{311,209}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1805,240},{311,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-31}</string>
                <key>spriteSize</key>
                <string>{307,209}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1789,553},{307,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-30}</string>
                <key>spriteSize</key>
                <string>{307,209}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1552,820},{307,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-30}</string>
                <key>spriteSize</key>
                <string>{307,209}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1296,829},{307,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,13}</string>
                <key>spriteSize</key>
                <string>{285,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{765,888},{285,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,13}</string>
                <key>spriteSize</key>
                <string>{285,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1025,585},{285,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{285,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1278,257},{285,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{285,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{855,1175},{285,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{287,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1014,296},{287,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{289,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{591,1241},{289,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{291,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{750,300},{291,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,11}</string>
                <key>spriteSize</key>
                <string>{295,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{329,1339},{295,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{293,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{787,1},{293,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{295,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{503,647},{295,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{297,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{525,1},{297,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{295,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{505,944},{295,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,10}</string>
                <key>spriteSize</key>
                <string>{293,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{765,593},{293,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>13-1.png</string>
            <key>size</key>
            <string>{2015,1658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec96fa945d59d79568823a2ab377f09:ad13d99560c6833e670e5fc6ca6afac4:dbbd00ccac1984e8dd2c1a3792f3474e$</string>
            <key>textureFileName</key>
            <string>13-1.png</string>
        </dict>
    </dict>
</plist>
