<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-10}</string>
                <key>spriteSize</key>
                <string>{283,263}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1707,1284},{283,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-11}</string>
                <key>spriteSize</key>
                <string>{271,263}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1,1229},{271,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-11}</string>
                <key>spriteSize</key>
                <string>{259,263}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1783,1},{259,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-8}</string>
                <key>spriteSize</key>
                <string>{217,269}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1217,1},{217,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,-9}</string>
                <key>spriteSize</key>
                <string>{215,265}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{950,1},{215,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{367,261}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1420,1021},{367,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{363,251}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1308,467},{363,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{351,241}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1,216},{351,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{351,241}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{354,216},{351,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{349,243}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1029,220},{349,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-18}</string>
                <key>spriteSize</key>
                <string>{325,249}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{663,462},{325,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-16}</string>
                <key>spriteSize</key>
                <string>{321,251}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{1673,508},{321,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-10}</string>
                <key>spriteSize</key>
                <string>{289,261}</string>
                <key>spriteSourceSize</key>
                <string>{411,345}</string>
                <key>textureRect</key>
                <string>{{844,977},{289,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{328,244}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1703,262},{328,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{320,242}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{707,218},{320,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,4}</string>
                <key>spriteSize</key>
                <string>{336,246}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{1,459},{336,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,4}</string>
                <key>spriteSize</key>
                <string>{322,248}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{339,459},{322,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{380,294}</string>
                <key>textureRect</key>
                <string>{{990,465},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,13}</string>
                <key>spriteSize</key>
                <string>{283,261}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1135,980},{283,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{321,243}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1380,222},{321,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{293,219}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1488,1},{293,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-19}</string>
                <key>spriteSize</key>
                <string>{315,213}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{315,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-21}</string>
                <key>spriteSize</key>
                <string>{315,213}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{318,1},{315,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-23}</string>
                <key>spriteSize</key>
                <string>{313,213}</string>
                <key>spriteSourceSize</key>
                <string>{417,299}</string>
                <key>textureRect</key>
                <string>{{635,1},{313,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{287,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{555,1235},{287,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,12}</string>
                <key>spriteSize</key>
                <string>{293,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1412,1284},{293,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,10}</string>
                <key>spriteSize</key>
                <string>{297,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1,707},{297,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,10}</string>
                <key>spriteSize</key>
                <string>{297,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{300,709},{297,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,10}</string>
                <key>spriteSize</key>
                <string>{295,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{599,713},{295,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,10}</string>
                <key>spriteSize</key>
                <string>{291,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{896,717},{291,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,10}</string>
                <key>spriteSize</key>
                <string>{289,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1189,720},{289,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,10}</string>
                <key>spriteSize</key>
                <string>{287,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1480,761},{287,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{277,258}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1769,761},{277,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{277,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1,967},{277,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,11}</string>
                <key>spriteSize</key>
                <string>{279,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{280,969},{279,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,12}</string>
                <key>spriteSize</key>
                <string>{279,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{274,1231},{279,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,13}</string>
                <key>spriteSize</key>
                <string>{281,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{844,1240},{281,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,12}</string>
                <key>spriteSize</key>
                <string>{281,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{561,973},{281,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,13}</string>
                <key>spriteSize</key>
                <string>{283,262}</string>
                <key>spriteSourceSize</key>
                <string>{339,300}</string>
                <key>textureRect</key>
                <string>{{1127,1243},{283,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>13-2.png</string>
            <key>size</key>
            <string>{2047,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec96fa945d59d79568823a2ab377f09:ad13d99560c6833e670e5fc6ca6afac4:dbbd00ccac1984e8dd2c1a3792f3474e$</string>
            <key>textureFileName</key>
            <string>13-2.png</string>
        </dict>
    </dict>
</plist>
