<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,41}</string>
                <key>spriteSize</key>
                <string>{227,257}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{227,256},{227,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,42}</string>
                <key>spriteSize</key>
                <string>{223,259}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{464,771},{223,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,42}</string>
                <key>spriteSize</key>
                <string>{221,257}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{454,256},{221,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,41}</string>
                <key>spriteSize</key>
                <string>{219,257}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{675,256},{219,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,41}</string>
                <key>spriteSize</key>
                <string>{219,257}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{894,256},{219,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,37}</string>
                <key>spriteSize</key>
                <string>{223,259}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{687,771},{223,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,32}</string>
                <key>spriteSize</key>
                <string>{229,271}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1438,1034},{229,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{231,281}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1185,1305},{231,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{251,285}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1395,1586},{251,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,17}</string>
                <key>spriteSize</key>
                <string>{265,265}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{681,1034},{265,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,16}</string>
                <key>spriteSize</key>
                <string>{267,269}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1171,1034},{267,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,12}</string>
                <key>spriteSize</key>
                <string>{267,277}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{458,1305},{267,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,10}</string>
                <key>spriteSize</key>
                <string>{267,283}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{568,1586},{267,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,8}</string>
                <key>spriteSize</key>
                <string>{267,285}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1646,1586},{267,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,8}</string>
                <key>spriteSize</key>
                <string>{277,281}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1416,1305},{277,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,10}</string>
                <key>spriteSize</key>
                <string>{281,283}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{835,1586},{281,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,10}</string>
                <key>spriteSize</key>
                <string>{285,281}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1693,1305},{285,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,11}</string>
                <key>spriteSize</key>
                <string>{285,281}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{0,1586},{285,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{283,281}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{285,1586},{283,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,12}</string>
                <key>spriteSize</key>
                <string>{279,283}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1116,1586},{279,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,27}</string>
                <key>spriteSize</key>
                <string>{229,277}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{725,1305},{229,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,36}</string>
                <key>spriteSize</key>
                <string>{231,263}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1669,771},{231,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,17}</string>
                <key>spriteSize</key>
                <string>{227,257}</string>
                <key>spriteSourceSize</key>
                <string>{355,303}</string>
                <key>textureRect</key>
                <string>{{1113,256},{227,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,16}</string>
                <key>spriteSize</key>
                <string>{289,257}</string>
                <key>spriteSourceSize</key>
                <string>{355,303}</string>
                <key>textureRect</key>
                <string>{{1340,256},{289,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,17}</string>
                <key>spriteSize</key>
                <string>{299,259}</string>
                <key>spriteSourceSize</key>
                <string>{355,303}</string>
                <key>textureRect</key>
                <string>{{910,771},{299,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,16}</string>
                <key>spriteSize</key>
                <string>{231,257}</string>
                <key>spriteSourceSize</key>
                <string>{355,303}</string>
                <key>textureRect</key>
                <string>{{1629,256},{231,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,17}</string>
                <key>spriteSize</key>
                <string>{227,257}</string>
                <key>spriteSourceSize</key>
                <string>{355,303}</string>
                <key>textureRect</key>
                <string>{{0,513},{227,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,34}</string>
                <key>spriteSize</key>
                <string>{227,257}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{227,513},{227,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,33}</string>
                <key>spriteSize</key>
                <string>{225,257}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{454,513},{225,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,7}</string>
                <key>spriteSize</key>
                <string>{227,263}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{0,1034},{227,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,7}</string>
                <key>spriteSize</key>
                <string>{225,265}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{946,1034},{225,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,8}</string>
                <key>spriteSize</key>
                <string>{229,271}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{1667,1034},{229,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,9}</string>
                <key>spriteSize</key>
                <string>{231,277}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{954,1305},{231,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,5}</string>
                <key>spriteSize</key>
                <string>{231,273}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{227,1305},{231,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{227,271}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{0,1305},{227,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{225,261}</string>
                <key>spriteSourceSize</key>
                <string>{447,357}</string>
                <key>textureRect</key>
                <string>{{1444,771},{225,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{227,263}</string>
                <key>spriteSourceSize</key>
                <string>{237,303}</string>
                <key>textureRect</key>
                <string>{{227,1034},{227,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{227,263}</string>
                <key>spriteSourceSize</key>
                <string>{237,303}</string>
                <key>textureRect</key>
                <string>{{454,1034},{227,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{231,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{0,0},{231,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{233,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{231,0},{233,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{235,258}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{679,513},{235,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{237,258}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{914,513},{237,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{235,260}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{1209,771},{235,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{237,258}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{1151,513},{237,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{237,258}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{1388,513},{237,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{235,258}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{1625,513},{235,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{237,258}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{0,771},{237,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,15}</string>
                <key>spriteSize</key>
                <string>{235,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{464,0},{235,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{233,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{699,0},{233,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,15}</string>
                <key>spriteSize</key>
                <string>{225,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{932,0},{225,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,16}</string>
                <key>spriteSize</key>
                <string>{227,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{1157,0},{227,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,15}</string>
                <key>spriteSize</key>
                <string>{227,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{1384,0},{227,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{227,258}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{237,771},{227,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{227,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{1611,0},{227,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{227,256}</string>
                <key>spriteSourceSize</key>
                <string>{295,304}</string>
                <key>textureRect</key>
                <string>{{0,256},{227,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>9-1.png</string>
            <key>size</key>
            <string>{1978,1871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08706fac324a5ed8b2d1951a30c3044f:fbcf33e53b986c12846432c1ae40f4c8:92caee61fdf5127a352cbdc14d8d0edf$</string>
            <key>textureFileName</key>
            <string>9-1.png</string>
        </dict>
    </dict>
</plist>
