<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,24}</string>
                <key>spriteSize</key>
                <string>{233,289}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{267,0},{233,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,21}</string>
                <key>spriteSize</key>
                <string>{235,295}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1000,0},{235,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{241,297}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1490,0},{241,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{237,299}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{508,297},{237,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{235,299}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{745,297},{235,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{231,309}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1456,297},{231,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{265,297}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{0,297},{265,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{243,297}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{265,297},{243,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,9}</string>
                <key>spriteSize</key>
                <string>{267,285}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{0,0},{267,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{269,289}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{500,0},{269,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{255,295}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1235,0},{255,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{241,303}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{1215,297},{241,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{235,299}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{980,297},{235,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,17}</string>
                <key>spriteSize</key>
                <string>{231,289}</string>
                <key>spriteSourceSize</key>
                <string>{357,379}</string>
                <key>textureRect</key>
                <string>{{769,0},{231,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>9-2.png</string>
            <key>size</key>
            <string>{1731,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08706fac324a5ed8b2d1951a30c3044f:fbcf33e53b986c12846432c1ae40f4c8:92caee61fdf5127a352cbdc14d8d0edf$</string>
            <key>textureFileName</key>
            <string>9-2.png</string>
        </dict>
    </dict>
</plist>
