<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,5}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{0,0},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,14}</string>
                <key>spriteSize</key>
                <string>{212,272}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{678,1558},{212,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,14}</string>
                <key>spriteSize</key>
                <string>{226,272}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{890,1558},{226,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,14}</string>
                <key>spriteSize</key>
                <string>{238,272}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1116,1558},{238,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,13}</string>
                <key>spriteSize</key>
                <string>{226,270}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{226,1558},{226,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,14}</string>
                <key>spriteSize</key>
                <string>{234,272}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1354,1558},{234,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,14}</string>
                <key>spriteSize</key>
                <string>{242,272}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1588,1558},{242,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,13}</string>
                <key>spriteSize</key>
                <string>{226,270}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{452,1558},{226,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,12}</string>
                <key>spriteSize</key>
                <string>{272,268}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1024,1290},{272,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,10}</string>
                <key>spriteSize</key>
                <string>{270,264}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1194,1026},{270,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,6}</string>
                <key>spriteSize</key>
                <string>{262,258}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{738,768},{262,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,5}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{246,0},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,6}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{492,0},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,8}</string>
                <key>spriteSize</key>
                <string>{240,258}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{1000,768},{240,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,6}</string>
                <key>spriteSize</key>
                <string>{242,266}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{0,1290},{242,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,10}</string>
                <key>spriteSize</key>
                <string>{240,262}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{488,1026},{240,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,11}</string>
                <key>spriteSize</key>
                <string>{254,264}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{1464,1026},{254,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{242,1290},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{272,268}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{1296,1290},{272,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{1568,1290},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{262,266}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{508,1290},{262,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,11}</string>
                <key>spriteSize</key>
                <string>{254,266}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{770,1290},{254,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,11}</string>
                <key>spriteSize</key>
                <string>{246,264}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{1718,1026},{246,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,10}</string>
                <key>spriteSize</key>
                <string>{244,262}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{728,1026},{244,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,8}</string>
                <key>spriteSize</key>
                <string>{242,258}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{1240,768},{242,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,6}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{738,0},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,25}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{984,0},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,28}</string>
                <key>spriteSize</key>
                <string>{226,268}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{0,1558},{226,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,33}</string>
                <key>spriteSize</key>
                <string>{232,256}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1230,0},{232,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,51}</string>
                <key>spriteSize</key>
                <string>{222,262}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{972,1026},{222,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,49}</string>
                <key>spriteSize</key>
                <string>{244,258}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1482,768},{244,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{244,259}</string>
                <key>spriteSourceSize</key>
                <string>{250,301}</string>
                <key>textureRect</key>
                <string>{{0,1026},{244,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{244,259}</string>
                <key>spriteSourceSize</key>
                <string>{250,301}</string>
                <key>textureRect</key>
                <string>{{244,1026},{244,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1462,0},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{244,258}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1726,768},{244,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1708,0},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{0,256},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{244,256},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{488,256},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{732,256},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{976,256},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{244,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1222,256},{244,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1466,256},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1712,256},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{0,512},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{248,512},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{496,512},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{250,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{744,512},{250,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{252,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{994,512},{252,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1246,512},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1500,512},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{248,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1756,512},{248,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{0,768},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{246,768},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{246,256}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{492,768},{246,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>6-1.png</string>
            <key>size</key>
            <string>{2004,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f382031b79baf0be4cd51395cfb87a9a:91bd508ef6aa50f915bdf1b9f2ab9585:9a80eba86e4aaea9342fd8cf65601893$</string>
            <key>textureFileName</key>
            <string>6-1.png</string>
        </dict>
    </dict>
</plist>
