<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>25_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-10}</string>
                <key>spriteSize</key>
                <string>{304,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1307,553},{304,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,35}</string>
                <key>spriteSize</key>
                <string>{313,253}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{986,1},{313,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{265,247}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{398,1},{265,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{305,255}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1672,1},{305,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-22}</string>
                <key>spriteSize</key>
                <string>{319,247}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{665,1},{319,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-19}</string>
                <key>spriteSize</key>
                <string>{369,253}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1301,1},{369,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-42}</string>
                <key>spriteSize</key>
                <string>{395,245}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1,1},{395,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-48}</string>
                <key>spriteSize</key>
                <string>{479,299}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{317,846},{479,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-44}</string>
                <key>spriteSize</key>
                <string>{507,299}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{798,852},{507,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-40}</string>
                <key>spriteSize</key>
                <string>{483,299}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1307,854},{483,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-5}</string>
                <key>spriteSize</key>
                <string>{571,355}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,1147},{571,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-5}</string>
                <key>spriteSize</key>
                <string>{471,355}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{574,1153},{471,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-5}</string>
                <key>spriteSize</key>
                <string>{471,355}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1047,1155},{471,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{599,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{574,1512},{599,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{573,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1175,1512},{573,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-5}</string>
                <key>spriteSize</key>
                <string>{469,355}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1520,1155},{469,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-4}</string>
                <key>spriteSize</key>
                <string>{571,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,1504},{571,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{344,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,248},{344,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{320,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{347,250},{320,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{324,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{977,256},{324,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{324,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1303,256},{324,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,4}</string>
                <key>spriteSize</key>
                <string>{328,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1629,258},{328,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{306,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{669,250},{306,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{314,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,844},{314,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{324,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,545},{324,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,3}</string>
                <key>spriteSize</key>
                <string>{326,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{327,547},{326,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,2}</string>
                <key>spriteSize</key>
                <string>{330,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{975,553},{330,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,1}</string>
                <key>spriteSize</key>
                <string>{334,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1613,555},{334,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{318,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{655,547},{318,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>25-2.png</string>
            <key>size</key>
            <string>{1990,1870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66751f9ff027a0200f5f06d2b77887f6:434ae985869ac2589d2b89325584c2a3:e2b727bf3731368c234f771a85973daa$</string>
            <key>textureFileName</key>
            <string>25-2.png</string>
        </dict>
    </dict>
</plist>
