<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>25_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,5}</string>
                <key>spriteSize</key>
                <string>{334,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1615,569},{334,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-7}</string>
                <key>spriteSize</key>
                <string>{310,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{665,563},{310,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-142,18}</string>
                <key>spriteSize</key>
                <string>{304,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{977,565},{304,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,5}</string>
                <key>spriteSize</key>
                <string>{334,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1615,569},{334,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-18}</string>
                <key>spriteSize</key>
                <string>{262,284}</string>
                <key>spriteSourceSize</key>
                <string>{492,414}</string>
                <key>textureRect</key>
                <string>{{671,1},{262,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,24}</string>
                <key>spriteSize</key>
                <string>{261,279}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{390,1},{261,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,24}</string>
                <key>spriteSize</key>
                <string>{279,263}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{957,1},{279,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-14}</string>
                <key>spriteSize</key>
                <string>{293,265}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1238,1},{293,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-25}</string>
                <key>spriteSize</key>
                <string>{387,269}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1533,1},{387,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-37}</string>
                <key>spriteSize</key>
                <string>{387,255}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1,1},{387,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-4}</string>
                <key>spriteSize</key>
                <string>{455,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{472,1164},{455,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{573,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,1523},{573,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-4}</string>
                <key>spriteSize</key>
                <string>{455,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1504,1170},{455,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{599,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{576,1527},{599,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{573,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1177,1529},{573,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-5}</string>
                <key>spriteSize</key>
                <string>{469,355}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,1161},{469,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-5}</string>
                <key>spriteSize</key>
                <string>{573,355}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{929,1170},{573,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,5}</string>
                <key>spriteSize</key>
                <string>{332,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,258},{332,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,6}</string>
                <key>spriteSize</key>
                <string>{334,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{335,264},{334,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,9}</string>
                <key>spriteSize</key>
                <string>{310,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{671,266},{310,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{314,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{983,268},{314,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,10}</string>
                <key>spriteSize</key>
                <string>{316,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1299,272},{316,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,11}</string>
                <key>spriteSize</key>
                <string>{318,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1617,272},{318,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,12}</string>
                <key>spriteSize</key>
                <string>{318,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,854},{318,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,11}</string>
                <key>spriteSize</key>
                <string>{320,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{321,860},{320,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,10}</string>
                <key>spriteSize</key>
                <string>{326,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{643,863},{326,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{330,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{971,868},{330,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,8}</string>
                <key>spriteSize</key>
                <string>{332,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1303,869},{332,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,7}</string>
                <key>spriteSize</key>
                <string>{316,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1637,869},{316,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{336,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{327,561},{336,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{324,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,555},{324,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{330,297}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1283,569},{330,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>25-3.png</string>
            <key>size</key>
            <string>{1960,1887}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66751f9ff027a0200f5f06d2b77887f6:434ae985869ac2589d2b89325584c2a3:e2b727bf3731368c234f771a85973daa$</string>
            <key>textureFileName</key>
            <string>25-3.png</string>
        </dict>
    </dict>
</plist>
