<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>25_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,5}</string>
                <key>spriteSize</key>
                <string>{344,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1289,580},{344,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,2}</string>
                <key>spriteSize</key>
                <string>{350,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1635,580},{350,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-6}</string>
                <key>spriteSize</key>
                <string>{340,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{947,579},{340,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,-3}</string>
                <key>spriteSize</key>
                <string>{324,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{313,573},{324,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-160,15}</string>
                <key>spriteSize</key>
                <string>{352,300}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{323,877},{352,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,21}</string>
                <key>spriteSize</key>
                <string>{310,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1,569},{310,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,1}</string>
                <key>spriteSize</key>
                <string>{588,296}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1289,282},{588,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,4}</string>
                <key>spriteSize</key>
                <string>{436,302}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{677,879},{436,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,4}</string>
                <key>spriteSize</key>
                <string>{438,302}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1115,880},{438,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,2}</string>
                <key>spriteSize</key>
                <string>{306,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{639,577},{306,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,2}</string>
                <key>spriteSize</key>
                <string>{306,296}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{651,279},{306,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,25}</string>
                <key>spriteSize</key>
                <string>{293,279}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1255,1},{293,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{273,285}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{390,1},{273,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{279,277}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{974,1},{279,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-20}</string>
                <key>spriteSize</key>
                <string>{279,287}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1550,1},{279,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-30}</string>
                <key>spriteSize</key>
                <string>{387,269}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1,1},{387,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{295,276}</string>
                <key>spriteSourceSize</key>
                <string>{297,278}</string>
                <key>textureRect</key>
                <string>{{677,1},{295,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{295,276}</string>
                <key>spriteSourceSize</key>
                <string>{297,278}</string>
                <key>textureRect</key>
                <string>{{677,1},{295,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-58}</string>
                <key>spriteSize</key>
                <string>{353,303}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1555,880},{353,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-4}</string>
                <key>spriteSize</key>
                <string>{603,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,1179},{603,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-4}</string>
                <key>spriteSize</key>
                <string>{455,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{606,1183},{455,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{573,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,1538},{573,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-4}</string>
                <key>spriteSize</key>
                <string>{455,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1063,1184},{455,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-4}</string>
                <key>spriteSize</key>
                <string>{431,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1520,1185},{431,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-4}</string>
                <key>spriteSize</key>
                <string>{571,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{576,1543},{571,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{599,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1149,1544},{599,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,12}</string>
                <key>spriteSize</key>
                <string>{322,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,272},{322,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,12}</string>
                <key>spriteSize</key>
                <string>{324,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{325,276},{324,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{328,295}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{959,282},{328,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{320,299}</string>
                <key>spriteSourceSize</key>
                <string>{396,415}</string>
                <key>textureRect</key>
                <string>{{1,873},{320,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>25-4.png</string>
            <key>size</key>
            <string>{1986,1902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66751f9ff027a0200f5f06d2b77887f6:434ae985869ac2589d2b89325584c2a3:e2b727bf3731368c234f771a85973daa$</string>
            <key>textureFileName</key>
            <string>25-4.png</string>
        </dict>
    </dict>
</plist>
