<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>25_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,1}</string>
                <key>spriteSize</key>
                <string>{352,304}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{719,500},{352,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,-9}</string>
                <key>spriteSize</key>
                <string>{350,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{968,854},{350,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,0}</string>
                <key>spriteSize</key>
                <string>{338,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1025,355},{338,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-143,4}</string>
                <key>spriteSize</key>
                <string>{352,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{967,1},{352,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-155,13}</string>
                <key>spriteSize</key>
                <string>{366,308}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{658,1129},{366,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,11}</string>
                <key>spriteSize</key>
                <string>{344,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{695,1497},{344,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,1}</string>
                <key>spriteSize</key>
                <string>{598,296}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{598,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,1}</string>
                <key>spriteSize</key>
                <string>{418,296}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{360,1129},{418,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,11}</string>
                <key>spriteSize</key>
                <string>{306,316}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1268,695},{306,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,3}</string>
                <key>spriteSize</key>
                <string>{306,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1576,598},{306,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,3}</string>
                <key>spriteSize</key>
                <string>{306,298}</string>
                <key>spriteSourceSize</key>
                <string>{676,400}</string>
                <key>textureRect</key>
                <string>{{1576,898},{306,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{322,296}</string>
                <key>spriteSourceSize</key>
                <string>{492,414}</string>
                <key>textureRect</key>
                <string>{{1576,300},{322,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-16}</string>
                <key>spriteSize</key>
                <string>{312,286}</string>
                <key>spriteSourceSize</key>
                <string>{492,414}</string>
                <key>textureRect</key>
                <string>{{968,1206},{312,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-17}</string>
                <key>spriteSize</key>
                <string>{290,284}</string>
                <key>spriteSourceSize</key>
                <string>{492,414}</string>
                <key>textureRect</key>
                <string>{{1282,1013},{290,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-16}</string>
                <key>spriteSize</key>
                <string>{304,286}</string>
                <key>spriteSourceSize</key>
                <string>{492,414}</string>
                <key>textureRect</key>
                <string>{{1574,1198},{304,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-10}</string>
                <key>spriteSize</key>
                <string>{284,284}</string>
                <key>spriteSourceSize</key>
                <string>{492,414}</string>
                <key>textureRect</key>
                <string>{{1569,1486},{284,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,38}</string>
                <key>spriteSize</key>
                <string>{323,297}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1576,1},{323,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,26}</string>
                <key>spriteSize</key>
                <string>{285,281}</string>
                <key>spriteSourceSize</key>
                <string>{581,483}</string>
                <key>textureRect</key>
                <string>{{1282,1299},{285,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-53}</string>
                <key>spriteSize</key>
                <string>{333,297}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{360,1549},{333,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_skill_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-75}</string>
                <key>spriteSize</key>
                <string>{339,285}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{995,1494},{339,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_skill_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-46}</string>
                <key>spriteSize</key>
                <string>{497,307}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{658,1},{497,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_skill_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-4}</string>
                <key>spriteSize</key>
                <string>{585,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,601},{585,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_skill_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{573,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{299,1},{573,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_skill_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-4}</string>
                <key>spriteSize</key>
                <string>{551,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{360,576},{551,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_skill_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{573,357}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1,1188},{573,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_skill_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-45}</string>
                <key>spriteSize</key>
                <string>{335,307}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{1267,1},{335,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25_skill_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-53}</string>
                <key>spriteSize</key>
                <string>{333,297}</string>
                <key>spriteSourceSize</key>
                <string>{665,517}</string>
                <key>textureRect</key>
                <string>{{360,1549},{333,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>25-5.png</string>
            <key>size</key>
            <string>{1900,1847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66751f9ff027a0200f5f06d2b77887f6:434ae985869ac2589d2b89325584c2a3:e2b727bf3731368c234f771a85973daa$</string>
            <key>textureFileName</key>
            <string>25-5.png</string>
        </dict>
    </dict>
</plist>
