<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,18}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1095,194},{223,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,12}</string>
                <key>spriteSize</key>
                <string>{227,257}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1513,1100},{227,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,10}</string>
                <key>spriteSize</key>
                <string>{225,257}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1241,646},{225,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{225,261}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1500,646},{225,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{223,263}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1342,196},{223,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-3}</string>
                <key>spriteSize</key>
                <string>{225,259}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1763,646},{225,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-6}</string>
                <key>spriteSize</key>
                <string>{237,251}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1530,1329},{237,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-8}</string>
                <key>spriteSize</key>
                <string>{255,245}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1,1556},{255,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-8}</string>
                <key>spriteSize</key>
                <string>{251,245}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{258,1556},{251,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-8}</string>
                <key>spriteSize</key>
                <string>{251,245}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{511,1562},{251,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-8}</string>
                <key>spriteSize</key>
                <string>{253,247}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1019,1564},{253,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-9}</string>
                <key>spriteSize</key>
                <string>{253,245}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{764,1564},{253,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-9}</string>
                <key>spriteSize</key>
                <string>{255,247}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1531,1568},{255,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-9}</string>
                <key>spriteSize</key>
                <string>{255,247}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1788,1568},{255,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-9}</string>
                <key>spriteSize</key>
                <string>{245,255}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1274,1568},{245,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{233,257}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{753,1327},{233,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{223,255}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1607,196},{223,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{219,257}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{577,194},{219,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{221,257}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{836,194},{221,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{225,255}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{738,642},{225,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,18}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1095,194},{223,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{227,257}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1772,1100},{227,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{235,261}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1012,1327},{235,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{237,255}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1783,1329},{237,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{235,253}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1275,1329},{235,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{231,251}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{252,1323},{231,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,22}</string>
                <key>spriteSize</key>
                <string>{231,249}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1,1319},{231,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,14}</string>
                <key>spriteSize</key>
                <string>{225,245}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1,618},{225,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,8}</string>
                <key>spriteSize</key>
                <string>{225,243}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{248,638},{225,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{225,243}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{493,640},{225,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-24}</string>
                <key>spriteSize</key>
                <string>{283,217}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{292,194},{283,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-35}</string>
                <key>spriteSize</key>
                <string>{289,201}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1,190},{289,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-37}</string>
                <key>spriteSize</key>
                <string>{289,187}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1,1},{289,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-35}</string>
                <key>spriteSize</key>
                <string>{281,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1438,1},{281,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-37}</string>
                <key>spriteSize</key>
                <string>{283,191}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{292,1},{283,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-39}</string>
                <key>spriteSize</key>
                <string>{285,191}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{577,1},{285,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-40}</string>
                <key>spriteSize</key>
                <string>{285,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1721,1},{285,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-41}</string>
                <key>spriteSize</key>
                <string>{285,191}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{864,1},{285,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-41}</string>
                <key>spriteSize</key>
                <string>{285,191}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1151,1},{285,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{231,246}</string>
                <key>spriteSourceSize</key>
                <string>{233,274}</string>
                <key>textureRect</key>
                <string>{{505,1323},{231,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{231,246}</string>
                <key>spriteSourceSize</key>
                <string>{233,274}</string>
                <key>textureRect</key>
                <string>{{505,1323},{231,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{223,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1,393},{223,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{223,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{249,413},{223,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{223,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{495,415},{223,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{995,644},{225,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1,845},{225,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{247,865},{225,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{493,869},{225,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{739,869},{225,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{985,871},{225,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{225,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1231,873},{225,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{225,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1479,873},{225,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{225,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1727,873},{225,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1,1092},{225,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{223,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{743,417},{223,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{253,1096},{225,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{505,1096},{225,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{757,1098},{225,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1009,1100},{225,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1261,1100},{225,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{223,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{995,419},{223,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{223,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1247,421},{223,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{223,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1497,421},{223,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{223,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1747,421},{223,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{223,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1,393},{223,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>27-0.png</string>
            <key>size</key>
            <string>{2044,1816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403b6f82be9df128962bee9f833145a7:0aaa969b4eb600072cd0888a5649ad9b:e926a389df5863c03fb9c07dcc5560ba$</string>
            <key>textureFileName</key>
            <string>27-0.png</string>
        </dict>
    </dict>
</plist>
