<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,15}</string>
                <key>spriteSize</key>
                <string>{225,253}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{720,744},{225,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{229,261}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{487,1290},{229,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{229,261}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{583,1521},{229,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{229,261}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{489,744},{229,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-7}</string>
                <key>spriteSize</key>
                <string>{257,245}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1,770},{257,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-9}</string>
                <key>spriteSize</key>
                <string>{255,249}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1,513},{255,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-9}</string>
                <key>spriteSize</key>
                <string>{255,251}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{253,251}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1,258},{253,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{223,253}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{1007,1},{223,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{223,257}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{748,1},{223,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,9}</string>
                <key>spriteSize</key>
                <string>{225,255}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{521,487},{225,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,13}</string>
                <key>spriteSize</key>
                <string>{225,253}</string>
                <key>spriteSourceSize</key>
                <string>{329,333}</string>
                <key>textureRect</key>
                <string>{{748,485},{225,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1716,421},{223,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{231,255}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{254,1},{231,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{241,261}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1,1029},{241,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{231,259}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{487,1029},{231,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{225,253}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{947,226},{225,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,8}</string>
                <key>spriteSize</key>
                <string>{241,261}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1,1292},{241,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{241,259}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{244,1029},{241,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,8}</string>
                <key>spriteSize</key>
                <string>{239,257}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{248,770},{239,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{227,249}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{720,999},{227,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1587,1417},{223,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{281,299}</string>
                <key>textureRect</key>
                <string>{{1714,1148},{223,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,36}</string>
                <key>spriteSize</key>
                <string>{223,245}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1812,1395},{223,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,31}</string>
                <key>spriteSize</key>
                <string>{225,255}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{720,228},{225,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,24}</string>
                <key>spriteSize</key>
                <string>{225,259}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{487,1},{225,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,24}</string>
                <key>spriteSize</key>
                <string>{225,257}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{493,228},{225,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,22}</string>
                <key>spriteSize</key>
                <string>{223,253}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{947,740},{223,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,21}</string>
                <key>spriteSize</key>
                <string>{223,249}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1262,1},{223,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,22}</string>
                <key>spriteSize</key>
                <string>{241,249}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{244,1290},{241,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{247,237}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{254,258},{247,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-16}</string>
                <key>spriteSize</key>
                <string>{267,229}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{252,513},{267,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-34}</string>
                <key>spriteSize</key>
                <string>{293,197}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{288,1541},{293,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-40}</string>
                <key>spriteSize</key>
                <string>{285,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1,1555},{285,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-40}</string>
                <key>spriteSize</key>
                <string>{285,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1399,728},{285,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-40}</string>
                <key>spriteSize</key>
                <string>{285,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1429,476},{285,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-40}</string>
                <key>spriteSize</key>
                <string>{285,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1628,226},{285,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-40}</string>
                <key>spriteSize</key>
                <string>{285,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1073,1495},{285,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-40}</string>
                <key>spriteSize</key>
                <string>{285,193}</string>
                <key>spriteSourceSize</key>
                <string>{379,371}</string>
                <key>textureRect</key>
                <string>{{1202,1233},{285,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1401,923},{225,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1360,1428},{225,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{225,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{846,1502},{225,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{225,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{949,995},{225,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{225,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1172,733},{225,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{225,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1202,478},{225,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{225,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1401,226},{225,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{975,481},{225,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1174,226},{225,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{750,1250},{225,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{223,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1513,1},{223,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{223,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{977,1245},{223,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{223,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1176,983},{223,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{223,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1763,1},{223,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{223,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1489,1169},{223,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{223,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1628,923},{223,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{223,246}</string>
                <key>spriteSourceSize</key>
                <string>{239,292}</string>
                <key>textureRect</key>
                <string>{{1686,671},{223,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>27-1.png</string>
            <key>size</key>
            <string>{2036,1751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403b6f82be9df128962bee9f833145a7:0aaa969b4eb600072cd0888a5649ad9b:e926a389df5863c03fb9c07dcc5560ba$</string>
            <key>textureFileName</key>
            <string>27-1.png</string>
        </dict>
    </dict>
</plist>
