<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-4}</string>
                <key>spriteSize</key>
                <string>{313,169}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1732,222},{313,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{319,169}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{661,1345},{319,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-4}</string>
                <key>spriteSize</key>
                <string>{329,179}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1718,725},{329,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{335,197}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1018,869},{335,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{339,215}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1036,459},{339,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{341,231}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1389,1},{341,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,12}</string>
                <key>spriteSize</key>
                <string>{343,247}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{350,278},{343,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,17}</string>
                <key>spriteSize</key>
                <string>{339,259}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1385,421},{339,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,22}</string>
                <key>spriteSize</key>
                <string>{343,271}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{697,180},{343,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,24}</string>
                <key>spriteSize</key>
                <string>{347,277}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{347,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,24}</string>
                <key>spriteSize</key>
                <string>{345,275}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{350,1},{345,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,26}</string>
                <key>spriteSize</key>
                <string>{343,273}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1044,1},{343,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,24}</string>
                <key>spriteSize</key>
                <string>{341,277}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1,280},{341,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,22}</string>
                <key>spriteSize</key>
                <string>{339,281}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{695,453},{339,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,21}</string>
                <key>spriteSize</key>
                <string>{337,287}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{340,716},{337,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{337,289}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1,559},{337,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{345,177}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{697,1},{345,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,17}</string>
                <key>spriteSize</key>
                <string>{327,215}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{677,1128},{327,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,16}</string>
                <key>spriteSize</key>
                <string>{333,203}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1,1045},{333,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,14}</string>
                <key>spriteSize</key>
                <string>{339,191}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1036,676},{339,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,9}</string>
                <key>spriteSize</key>
                <string>{341,181}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1042,276},{341,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,10}</string>
                <key>spriteSize</key>
                <string>{341,185}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1389,234},{341,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,11}</string>
                <key>spriteSize</key>
                <string>{339,187}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{344,527},{339,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,12}</string>
                <key>spriteSize</key>
                <string>{339,189}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1377,682},{339,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,12}</string>
                <key>spriteSize</key>
                <string>{337,191}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{679,736},{337,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,13}</string>
                <key>spriteSize</key>
                <string>{337,193}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1,850},{337,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,13}</string>
                <key>spriteSize</key>
                <string>{335,195}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{340,1005},{335,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,14}</string>
                <key>spriteSize</key>
                <string>{335,197}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{679,929},{335,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,15}</string>
                <key>spriteSize</key>
                <string>{333,199}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1016,1068},{333,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,15}</string>
                <key>spriteSize</key>
                <string>{333,201}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1355,873},{333,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,6}</string>
                <key>spriteSize</key>
                <string>{315,219}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1732,1},{315,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-1}</string>
                <key>spriteSize</key>
                <string>{293,227}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1413,1558},{293,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-8}</string>
                <key>spriteSize</key>
                <string>{289,185}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1,1757},{289,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-4}</string>
                <key>spriteSize</key>
                <string>{313,169}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1732,222},{313,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-3}</string>
                <key>spriteSize</key>
                <string>{313,168}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1732,393},{313,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,1}</string>
                <key>spriteSize</key>
                <string>{291,190}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1413,1853},{291,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{287,210}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{188,1757},{287,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-3}</string>
                <key>spriteSize</key>
                <string>{313,168}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1732,393},{313,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,30}</string>
                <key>spriteSize</key>
                <string>{313,168}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1,1418},{313,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,31}</string>
                <key>spriteSize</key>
                <string>{311,168}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1243,1721},{311,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{313,156}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1327,1400},{313,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{313,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1674,1392},{313,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{317,168}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{326,1370},{317,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{319,170}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1006,1269},{319,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{321,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1726,563},{321,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{321,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1351,1238},{321,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{323,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1690,906},{323,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{323,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1690,1068},{323,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{323,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1351,1076},{323,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{323,160}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1676,1230},{323,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{323,166}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{336,1202},{323,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{323,166}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1,1250},{323,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{323,166}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1,1250},{323,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{323,166}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1,1250},{323,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{323,166}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1,1250},{323,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{311,168}</string>
                <key>spriteSourceSize</key>
                <string>{399,186}</string>
                <key>textureRect</key>
                <string>{{1706,1721},{311,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{311,168}</string>
                <key>spriteSourceSize</key>
                <string>{399,186}</string>
                <key>textureRect</key>
                <string>{{1706,1721},{311,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,5}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{645,1516},{312,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,5}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{316,1540},{312,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,6}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1,1588},{312,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{312,165}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1642,1554},{312,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{312,165}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1076,1721},{312,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{308,171}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1876,1721},{308,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{312,169}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{982,1441},{312,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{400,1709},{312,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{569,1709},{312,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,6}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{738,1685},{312,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,5}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{907,1685},{312,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,5}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{645,1516},{312,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>16-0.png</string>
            <key>size</key>
            <string>{2048,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a33c9b99f0455bc2bfb8cae046e93c0:a852d821a6a9f8505fa923a27b1e2be9:5b4a0a4d955ecefbd702e8d22b244f4a$</string>
            <key>textureFileName</key>
            <string>16-0.png</string>
        </dict>
    </dict>
</plist>
