<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{269,229}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1731,1219},{269,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{271,223}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1458,1219},{271,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{271,217}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1185,1196},{271,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{279,201}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1837,864},{279,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-6}</string>
                <key>spriteSize</key>
                <string>{299,175}</string>
                <key>spriteSourceSize</key>
                <string>{511,383}</string>
                <key>textureRect</key>
                <string>{{1556,165},{299,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-3}</string>
                <key>spriteSize</key>
                <string>{303,182}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1521,1035},{303,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{283,184}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1857,278},{283,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{275,184}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1857,1},{275,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{275,208}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{605,1191},{275,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{301,214}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{882,1195},{301,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{301,206}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{302,1189},{301,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{299,196}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1,1186},{299,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{299,184}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1849,563},{299,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{303,170}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1,664},{303,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{305,162}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{1243,1},{305,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{307,160}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{623,1},{307,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-4}</string>
                <key>spriteSize</key>
                <string>{309,160}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{312,1},{309,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-4}</string>
                <key>spriteSize</key>
                <string>{309,162}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{932,1},{309,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-4}</string>
                <key>spriteSize</key>
                <string>{309,164}</string>
                <key>spriteSourceSize</key>
                <string>{521,374}</string>
                <key>textureRect</key>
                <string>{{621,163},{309,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,32}</string>
                <key>spriteSize</key>
                <string>{307,170}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1233,501},{307,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,34}</string>
                <key>spriteSize</key>
                <string>{305,170}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1542,513},{305,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,26}</string>
                <key>spriteSize</key>
                <string>{301,166}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{619,329},{301,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{305,162}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1550,1},{305,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{309,158}</string>
                <key>spriteSourceSize</key>
                <string>{399,238}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{310,165}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{932,165},{310,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{310,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{922,332},{310,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,5}</string>
                <key>spriteSize</key>
                <string>{310,165}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1244,165},{310,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,5}</string>
                <key>spriteSize</key>
                <string>{308,163}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1,161},{308,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,5}</string>
                <key>spriteSize</key>
                <string>{308,163}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{311,163},{308,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{308,165}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1,326},{308,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{306,165}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{311,328},{306,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1234,332},{306,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{306,169}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1,493},{306,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,1}</string>
                <key>spriteSize</key>
                <string>{304,169}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{309,495},{304,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{304,169}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{615,497},{304,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{304,171}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{306,666},{304,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{302,171}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{612,668},{302,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{302,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1,836},{302,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{302,171}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1226,673},{302,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{302,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{611,841},{302,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{300,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1219,1021},{300,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{302,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1,1011},{302,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{302,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{611,1016},{302,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{302,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{915,1020},{302,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{304,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{305,839},{304,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{304,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1223,846},{304,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{304,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{305,1014},{304,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{306,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{915,845},{306,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{306,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1529,860},{306,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{308,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1530,685},{308,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{308,171}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{916,672},{308,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{310,169}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{1542,342},{310,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{310,169}</string>
                <key>spriteSourceSize</key>
                <string>{484,287}</string>
                <key>textureRect</key>
                <string>{{921,501},{310,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>16-1.png</string>
            <key>size</key>
            <string>{2042,1449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a33c9b99f0455bc2bfb8cae046e93c0:a852d821a6a9f8505fa923a27b1e2be9:5b4a0a4d955ecefbd702e8d22b244f4a$</string>
            <key>textureFileName</key>
            <string>16-1.png</string>
        </dict>
    </dict>
</plist>
