<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,6}</string>
                <key>spriteSize</key>
                <string>{223,226}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{1396,0},{223,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,19}</string>
                <key>spriteSize</key>
                <string>{191,260}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{188,1400},{191,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,27}</string>
                <key>spriteSize</key>
                <string>{179,286}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{1520,1400},{179,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,25}</string>
                <key>spriteSize</key>
                <string>{183,288}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{1699,1400},{183,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,14}</string>
                <key>spriteSize</key>
                <string>{193,270}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{1327,1400},{193,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-4}</string>
                <key>spriteSize</key>
                <string>{225,236}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{1108,910},{225,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-145,-1}</string>
                <key>spriteSize</key>
                <string>{227,232}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{648,910},{227,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,1}</string>
                <key>spriteSize</key>
                <string>{227,228}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{868,452},{227,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-151,7}</string>
                <key>spriteSize</key>
                <string>{233,232}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{875,910},{233,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{379,226}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{0,226},{379,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{377,226}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{379,226},{377,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,6}</string>
                <key>spriteSize</key>
                <string>{223,226}</string>
                <key>spriteSourceSize</key>
                <string>{635,460}</string>
                <key>textureRect</key>
                <string>{{756,226},{223,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-18}</string>
                <key>spriteSize</key>
                <string>{224,225}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{220,0},{224,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-17}</string>
                <key>spriteSize</key>
                <string>{218,237}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{1333,910},{218,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-15}</string>
                <key>spriteSize</key>
                <string>{206,245}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{0,1147},{206,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-14}</string>
                <key>spriteSize</key>
                <string>{202,249}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{426,1147},{202,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-13}</string>
                <key>spriteSize</key>
                <string>{208,253}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{1268,1147},{208,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-14}</string>
                <key>spriteSize</key>
                <string>{220,253}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{1476,1147},{220,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-14}</string>
                <key>spriteSize</key>
                <string>{228,253}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{1696,1147},{228,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-14}</string>
                <key>spriteSize</key>
                <string>{226,251}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{818,1147},{226,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-15}</string>
                <key>spriteSize</key>
                <string>{224,251}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{1044,1147},{224,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-16}</string>
                <key>spriteSize</key>
                <string>{220,245}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{206,1147},{220,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-17}</string>
                <key>spriteSize</key>
                <string>{214,237}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{1551,910},{214,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-18}</string>
                <key>spriteSize</key>
                <string>{212,231}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{436,910},{212,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-17}</string>
                <key>spriteSize</key>
                <string>{218,227}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{650,452},{218,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-18}</string>
                <key>spriteSize</key>
                <string>{224,225}</string>
                <key>spriteSourceSize</key>
                <string>{394,307}</string>
                <key>textureRect</key>
                <string>{{444,0},{224,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,5}</string>
                <key>spriteSize</key>
                <string>{224,225}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{668,0},{224,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,20}</string>
                <key>spriteSize</key>
                <string>{186,265}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{379,1400},{186,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,20}</string>
                <key>spriteSize</key>
                <string>{182,269}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{955,1400},{182,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,18}</string>
                <key>spriteSize</key>
                <string>{190,269}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{1137,1400},{190,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,16}</string>
                <key>spriteSize</key>
                <string>{196,265}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{565,1400},{196,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,16}</string>
                <key>spriteSize</key>
                <string>{194,265}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{761,1400},{194,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,16}</string>
                <key>spriteSize</key>
                <string>{188,259}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{0,1400},{188,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,14}</string>
                <key>spriteSize</key>
                <string>{190,249}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{628,1147},{190,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,11}</string>
                <key>spriteSize</key>
                <string>{202,237}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{1765,910},{202,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,1}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{892,0},{226,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-6}</string>
                <key>spriteSize</key>
                <string>{252,229}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{644,680},{252,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-14}</string>
                <key>spriteSize</key>
                <string>{278,225}</string>
                <key>spriteSourceSize</key>
                <string>{434,441}</string>
                <key>textureRect</key>
                <string>{{1118,0},{278,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-28}</string>
                <key>spriteSize</key>
                <string>{224,226}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{979,226},{224,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-27}</string>
                <key>spriteSize</key>
                <string>{224,226}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1203,226},{224,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-27}</string>
                <key>spriteSize</key>
                <string>{224,226}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1427,226},{224,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-26}</string>
                <key>spriteSize</key>
                <string>{222,228}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1095,452},{222,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-26}</string>
                <key>spriteSize</key>
                <string>{222,228}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1317,452},{222,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-25}</string>
                <key>spriteSize</key>
                <string>{222,230}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{896,680},{222,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-25}</string>
                <key>spriteSize</key>
                <string>{220,230}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1118,680},{220,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-25}</string>
                <key>spriteSize</key>
                <string>{220,230}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1338,680},{220,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-25}</string>
                <key>spriteSize</key>
                <string>{220,230}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1558,680},{220,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-25}</string>
                <key>spriteSize</key>
                <string>{218,230}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{0,910},{218,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-25}</string>
                <key>spriteSize</key>
                <string>{218,230}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{218,910},{218,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-25}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1539,452},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-25}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{0,680},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-25}</string>
                <key>spriteSize</key>
                <string>{214,228}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{216,680},{214,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-25}</string>
                <key>spriteSize</key>
                <string>{214,228}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{430,680},{214,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-26}</string>
                <key>spriteSize</key>
                <string>{212,226}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{1651,226},{212,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-26}</string>
                <key>spriteSize</key>
                <string>{212,226}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{0,452},{212,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-25}</string>
                <key>spriteSize</key>
                <string>{214,226}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{212,452},{214,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-27}</string>
                <key>spriteSize</key>
                <string>{220,224}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-28}</string>
                <key>spriteSize</key>
                <string>{224,226}</string>
                <key>spriteSourceSize</key>
                <string>{312,322}</string>
                <key>textureRect</key>
                <string>{{426,452},{224,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4-1.png</string>
            <key>size</key>
            <string>{1967,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:170ea14f3442ef483852bcc0a1081d54:b7220c8a8adb57df394abbeed25191d1:6522f1b4bffcd14e72b5c5a618270c12$</string>
            <key>textureFileName</key>
            <string>4-1.png</string>
        </dict>
    </dict>
</plist>
