<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-52}</string>
                <key>spriteSize</key>
                <string>{277,232}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{302,1616},{277,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-53}</string>
                <key>spriteSize</key>
                <string>{267,230}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{306,1386},{267,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-55}</string>
                <key>spriteSize</key>
                <string>{265,224}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{304,1157},{265,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-57}</string>
                <key>spriteSize</key>
                <string>{267,220}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1168,935},{267,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-56}</string>
                <key>spriteSize</key>
                <string>{257,222}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1435,935},{257,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-56}</string>
                <key>spriteSize</key>
                <string>{241,222}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1692,935},{241,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-57}</string>
                <key>spriteSize</key>
                <string>{225,224}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{569,1157},{225,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-60}</string>
                <key>spriteSize</key>
                <string>{217,228}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1395,1157},{217,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-64}</string>
                <key>spriteSize</key>
                <string>{215,230}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{573,1386},{215,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-51}</string>
                <key>spriteSize</key>
                <string>{297,232}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{579,1616},{297,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{300,229}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{1612,1157},{300,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,9}</string>
                <key>spriteSize</key>
                <string>{302,231}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{0,1616},{302,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,10}</string>
                <key>spriteSize</key>
                <string>{298,233}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{876,1616},{298,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,10}</string>
                <key>spriteSize</key>
                <string>{294,233}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{1174,1616},{294,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,1}</string>
                <key>spriteSize</key>
                <string>{280,225}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{794,1157},{280,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-10}</string>
                <key>spriteSize</key>
                <string>{276,215}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{594,935},{276,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-7}</string>
                <key>spriteSize</key>
                <string>{290,203}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{1240,517},{290,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-9}</string>
                <key>spriteSize</key>
                <string>{308,195}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{0,517},{308,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-12}</string>
                <key>spriteSize</key>
                <string>{310,189}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{922,324},{310,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-10}</string>
                <key>spriteSize</key>
                <string>{300,193}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{1555,324},{300,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-8}</string>
                <key>spriteSize</key>
                <string>{292,197}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{308,517},{292,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-4}</string>
                <key>spriteSize</key>
                <string>{296,207}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{532,721},{296,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,1}</string>
                <key>spriteSize</key>
                <string>{298,217}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{870,935},{298,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,4}</string>
                <key>spriteSize</key>
                <string>{304,223}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{0,1157},{304,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,7}</string>
                <key>spriteSize</key>
                <string>{306,229}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{0,1386},{306,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,28}</string>
                <key>spriteSize</key>
                <string>{327,230}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{788,1386},{327,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,26}</string>
                <key>spriteSize</key>
                <string>{321,226}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1074,1157},{321,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,28}</string>
                <key>spriteSize</key>
                <string>{323,230}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1115,1386},{323,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,22}</string>
                <key>spriteSize</key>
                <string>{311,230}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1438,1386},{311,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,1}</string>
                <key>spriteSize</key>
                <string>{299,230}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1749,1386},{299,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,9}</string>
                <key>spriteSize</key>
                <string>{315,212}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1368,721},{315,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,11}</string>
                <key>spriteSize</key>
                <string>{325,204}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1530,517},{325,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,11}</string>
                <key>spriteSize</key>
                <string>{329,198}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{600,517},{329,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,9}</string>
                <key>spriteSize</key>
                <string>{323,192}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1232,324},{323,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,12}</string>
                <key>spriteSize</key>
                <string>{311,200}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{929,517},{311,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,17}</string>
                <key>spriteSize</key>
                <string>{307,206}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{225,721},{307,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,20}</string>
                <key>spriteSize</key>
                <string>{305,214}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1683,721},{305,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,21}</string>
                <key>spriteSize</key>
                <string>{301,214}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{0,935},{301,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,19}</string>
                <key>spriteSize</key>
                <string>{293,214}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{301,935},{293,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,14}</string>
                <key>spriteSize</key>
                <string>{283,210}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{828,721},{283,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{257,210}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1111,721},{257,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{225,204}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{0,721},{225,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-18}</string>
                <key>spriteSize</key>
                <string>{231,186}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{229,324},{231,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-18}</string>
                <key>spriteSize</key>
                <string>{231,188}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{460,324},{231,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-18}</string>
                <key>spriteSize</key>
                <string>{231,188}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{691,324},{231,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-20}</string>
                <key>spriteSize</key>
                <string>{229,184}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{0,324},{229,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-27}</string>
                <key>spriteSize</key>
                <string>{227,174}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1639,150},{227,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-36}</string>
                <key>spriteSize</key>
                <string>{231,162}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1408,150},{231,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-39}</string>
                <key>spriteSize</key>
                <string>{231,156}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1177,150},{231,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-41}</string>
                <key>spriteSize</key>
                <string>{229,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{0,0},{229,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-41}</string>
                <key>spriteSize</key>
                <string>{229,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{229,0},{229,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-42}</string>
                <key>spriteSize</key>
                <string>{231,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{458,0},{231,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-41}</string>
                <key>spriteSize</key>
                <string>{231,154}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{946,150},{231,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-43}</string>
                <key>spriteSize</key>
                <string>{229,152}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{482,150},{229,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-44}</string>
                <key>spriteSize</key>
                <string>{229,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{689,0},{229,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-44}</string>
                <key>spriteSize</key>
                <string>{235,152}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{711,150},{235,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-45}</string>
                <key>spriteSize</key>
                <string>{239,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{918,0},{239,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-45}</string>
                <key>spriteSize</key>
                <string>{239,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1157,0},{239,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-45}</string>
                <key>spriteSize</key>
                <string>{241,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1396,0},{241,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-45}</string>
                <key>spriteSize</key>
                <string>{241,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1637,0},{241,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-45}</string>
                <key>spriteSize</key>
                <string>{241,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{0,150},{241,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-45}</string>
                <key>spriteSize</key>
                <string>{241,150}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{241,150},{241,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{299,233}</string>
                <key>spriteSourceSize</key>
                <string>{301,273}</string>
                <key>textureRect</key>
                <string>{{1468,1616},{299,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10-0.png</string>
            <key>size</key>
            <string>{2048,1849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb7f396c7efc4a2a7eb5b9deda6ba1b:07eb4d8f1e10cde47b8e7b7f8a61cf31:0c8b3e23a614db966914813dd88031ab$</string>
            <key>textureFileName</key>
            <string>10-0.png</string>
        </dict>
    </dict>
</plist>
