<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-12}</string>
                <key>spriteSize</key>
                <string>{219,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1708,0},{219,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-6}</string>
                <key>spriteSize</key>
                <string>{221,320}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{221,310},{221,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-9}</string>
                <key>spriteSize</key>
                <string>{225,316}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{667,310},{225,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-12}</string>
                <key>spriteSize</key>
                <string>{227,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1119,310},{227,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-12}</string>
                <key>spriteSize</key>
                <string>{221,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{0,310},{221,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-12}</string>
                <key>spriteSize</key>
                <string>{219,308}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1489,0},{219,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-12}</string>
                <key>spriteSize</key>
                <string>{229,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1346,310},{229,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-12}</string>
                <key>spriteSize</key>
                <string>{227,308}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{892,310},{227,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-12}</string>
                <key>spriteSize</key>
                <string>{213,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{844,0},{213,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-12}</string>
                <key>spriteSize</key>
                <string>{211,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{0,0},{211,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-12}</string>
                <key>spriteSize</key>
                <string>{211,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{211,0},{211,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-12}</string>
                <key>spriteSize</key>
                <string>{211,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{422,0},{211,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-12}</string>
                <key>spriteSize</key>
                <string>{211,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{633,0},{211,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-12}</string>
                <key>spriteSize</key>
                <string>{215,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1057,0},{215,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-12}</string>
                <key>spriteSize</key>
                <string>{217,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1272,0},{217,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-12}</string>
                <key>spriteSize</key>
                <string>{225,310}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{442,310},{225,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-16}</string>
                <key>spriteSize</key>
                <string>{255,300}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{1575,310},{255,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-22}</string>
                <key>spriteSize</key>
                <string>{275,288}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{0,630},{275,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-30}</string>
                <key>spriteSize</key>
                <string>{281,274}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{556,630},{281,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-38}</string>
                <key>spriteSize</key>
                <string>{281,258}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{275,630},{281,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-47}</string>
                <key>spriteSize</key>
                <string>{289,240}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{837,630},{289,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,3}</string>
                <key>spriteSize</key>
                <string>{306,241}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1432,630},{306,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,3}</string>
                <key>spriteSize</key>
                <string>{306,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1126,630},{306,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10-2.png</string>
            <key>size</key>
            <string>{1927,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb7f396c7efc4a2a7eb5b9deda6ba1b:07eb4d8f1e10cde47b8e7b7f8a61cf31:0c8b3e23a614db966914813dd88031ab$</string>
            <key>textureFileName</key>
            <string>10-2.png</string>
        </dict>
    </dict>
</plist>
