<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{273,317}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1324,619},{273,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-12}</string>
                <key>spriteSize</key>
                <string>{281,319}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{514,936},{281,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{285,315}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{795,619},{285,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-10}</string>
                <key>spriteSize</key>
                <string>{293,317}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1597,619},{293,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-12}</string>
                <key>spriteSize</key>
                <string>{299,321}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1039,936},{299,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-17}</string>
                <key>spriteSize</key>
                <string>{301,333}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{823,1259},{301,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-20}</string>
                <key>spriteSize</key>
                <string>{295,337}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{0,1594},{295,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-18}</string>
                <key>spriteSize</key>
                <string>{289,333}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1124,1259},{289,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-16}</string>
                <key>spriteSize</key>
                <string>{285,329}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{263,1259},{285,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-19}</string>
                <key>spriteSize</key>
                <string>{273,335}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1666,1259},{273,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-25}</string>
                <key>spriteSize</key>
                <string>{263,349}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{843,1594},{263,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-26}</string>
                <key>spriteSize</key>
                <string>{251,359}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1406,1594},{251,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-11}</string>
                <key>spriteSize</key>
                <string>{253,333}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1413,1259},{253,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{261,317}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{0,936},{261,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-13}</string>
                <key>spriteSize</key>
                <string>{245,313}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{0,619},{245,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-16}</string>
                <key>spriteSize</key>
                <string>{253,317}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{261,936},{253,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-19}</string>
                <key>spriteSize</key>
                <string>{263,325}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{0,1259},{263,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-20}</string>
                <key>spriteSize</key>
                <string>{275,329}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{548,1259},{275,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-16}</string>
                <key>spriteSize</key>
                <string>{283,321}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1338,936},{283,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{281,309}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1588,0},{281,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-28}</string>
                <key>spriteSize</key>
                <string>{244,315}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1080,619},{244,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-42}</string>
                <key>spriteSize</key>
                <string>{258,323}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1621,936},{258,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-12}</string>
                <key>spriteSize</key>
                <string>{294,309}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{0,309},{294,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-13}</string>
                <key>spriteSize</key>
                <string>{288,309}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{294,309},{288,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-13}</string>
                <key>spriteSize</key>
                <string>{278,309}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{582,309},{278,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-14}</string>
                <key>spriteSize</key>
                <string>{268,307}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{0,0},{268,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-16}</string>
                <key>spriteSize</key>
                <string>{264,307}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{268,0},{264,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-42}</string>
                <key>spriteSize</key>
                <string>{264,307}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{532,0},{264,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-44}</string>
                <key>spriteSize</key>
                <string>{244,319}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{795,936},{244,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-47}</string>
                <key>spriteSize</key>
                <string>{266,345}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{577,1594},{266,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-33}</string>
                <key>spriteSize</key>
                <string>{282,339}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{295,1594},{282,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-24}</string>
                <key>spriteSize</key>
                <string>{300,349}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1106,1594},{300,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-27}</string>
                <key>spriteSize</key>
                <string>{300,379}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1657,1594},{300,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{275,314}</string>
                <key>spriteSourceSize</key>
                <string>{317,390}</string>
                <key>textureRect</key>
                <string>{{245,619},{275,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{275,314}</string>
                <key>spriteSourceSize</key>
                <string>{317,390}</string>
                <key>textureRect</key>
                <string>{{520,619},{275,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{264,308}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{796,0},{264,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{264,310}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{860,309},{264,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{262,310}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1124,309},{262,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{262,310}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1386,309},{262,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{264,308}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1060,0},{264,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{264,310}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1648,309},{264,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{264,308}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1324,0},{264,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5-2.png</string>
            <key>size</key>
            <string>{1957,1973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c231ee0fc7566ebcdd00f08864435fe:4c90de20521b7689f1a5c71a27cb55a7:0681531cec72fdd4156c0880d9f47345$</string>
            <key>textureFileName</key>
            <string>5-2.png</string>
        </dict>
    </dict>
</plist>
