<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-23}</string>
                <key>spriteSize</key>
                <string>{312,397}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{0,0},{312,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-17}</string>
                <key>spriteSize</key>
                <string>{306,409}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{312,0},{306,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-10}</string>
                <key>spriteSize</key>
                <string>{290,415}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{618,0},{290,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5-3.png</string>
            <key>size</key>
            <string>{908,415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c231ee0fc7566ebcdd00f08864435fe:4c90de20521b7689f1a5c71a27cb55a7:0681531cec72fdd4156c0880d9f47345$</string>
            <key>textureFileName</key>
            <string>5-3.png</string>
        </dict>
    </dict>
</plist>
