<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,7}</string>
                <key>spriteSize</key>
                <string>{194,247}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{1133,715},{194,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,8}</string>
                <key>spriteSize</key>
                <string>{176,233}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{353,0},{176,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,2}</string>
                <key>spriteSize</key>
                <string>{202,233}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{529,0},{202,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,2}</string>
                <key>spriteSize</key>
                <string>{202,233}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{731,0},{202,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,4}</string>
                <key>spriteSize</key>
                <string>{204,235}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{1162,0},{204,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,5}</string>
                <key>spriteSize</key>
                <string>{206,239}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{347,473},{206,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,6}</string>
                <key>spriteSize</key>
                <string>{208,241}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{1257,473},{208,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,8}</string>
                <key>spriteSize</key>
                <string>{210,247}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{1327,715},{210,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,9}</string>
                <key>spriteSize</key>
                <string>{362,237}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{1304,236},{362,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,11}</string>
                <key>spriteSize</key>
                <string>{336,251}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{226,964},{336,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,11}</string>
                <key>spriteSize</key>
                <string>{302,263}</string>
                <key>spriteSourceSize</key>
                <string>{436,313}</string>
                <key>textureRect</key>
                <string>{{851,1732},{302,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-6}</string>
                <key>spriteSize</key>
                <string>{225,244}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{226,715},{225,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{223,264}</string>
                <key>spriteSourceSize</key>
                <string>{287,314}</string>
                <key>textureRect</key>
                <string>{{1153,1732},{223,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,16}</string>
                <key>spriteSize</key>
                <string>{224,245}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{684,715},{224,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,27}</string>
                <key>spriteSize</key>
                <string>{246,265}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{1376,1732},{246,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,18}</string>
                <key>spriteSize</key>
                <string>{244,261}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{379,1732},{244,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{238,257}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{199,1474},{238,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{232,253}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{795,964},{232,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{226,249}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{1537,715},{226,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{226,243}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{0,715},{226,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-22}</string>
                <key>spriteSize</key>
                <string>{222,235}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{1366,0},{222,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-23}</string>
                <key>spriteSize</key>
                <string>{224,237}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{1666,236},{224,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-28}</string>
                <key>spriteSize</key>
                <string>{226,249}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{0,964},{226,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-39}</string>
                <key>spriteSize</key>
                <string>{228,261}</string>
                <key>spriteSourceSize</key>
                <string>{426,365}</string>
                <key>textureRect</key>
                <string>{{623,1732},{228,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-231,74}</string>
                <key>spriteSize</key>
                <string>{379,260}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,1732},{379,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-242,74}</string>
                <key>spriteSize</key>
                <string>{367,258}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{437,1474},{367,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-252,73}</string>
                <key>spriteSize</key>
                <string>{353,258}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{804,1474},{353,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-240,72}</string>
                <key>spriteSize</key>
                <string>{389,254}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1027,964},{389,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-222,71}</string>
                <key>spriteSize</key>
                <string>{437,254}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1416,964},{437,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-204,72}</string>
                <key>spriteSize</key>
                <string>{485,256}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{828,1218},{485,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-184,74}</string>
                <key>spriteSize</key>
                <string>{525,258}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1157,1474},{525,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-166,72}</string>
                <key>spriteSize</key>
                <string>{561,256}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1313,1218},{561,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-149,71}</string>
                <key>spriteSize</key>
                <string>{593,254}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,1218},{593,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-345,72}</string>
                <key>spriteSize</key>
                <string>{199,256}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,1474},{199,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-224,61}</string>
                <key>spriteSize</key>
                <string>{229,234}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{933,0},{229,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-206,62}</string>
                <key>spriteSize</key>
                <string>{289,236}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1588,0},{289,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-172,62}</string>
                <key>spriteSize</key>
                <string>{355,236}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,236},{355,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-164,60}</string>
                <key>spriteSize</key>
                <string>{347,240}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{553,473},{347,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-195,62}</string>
                <key>spriteSize</key>
                <string>{267,236}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{355,236},{267,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-188,62}</string>
                <key>spriteSize</key>
                <string>{311,236}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{622,236},{311,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-171,60}</string>
                <key>spriteSize</key>
                <string>{353,232}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,0},{353,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-169,60}</string>
                <key>spriteSize</key>
                <string>{357,240}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{900,473},{357,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,62}</string>
                <key>spriteSize</key>
                <string>{371,236}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{933,236},{371,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-167,63}</string>
                <key>spriteSize</key>
                <string>{347,238}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{0,473},{347,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-232,65}</string>
                <key>spriteSize</key>
                <string>{227,242}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1465,473},{227,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-269,67}</string>
                <key>spriteSize</key>
                <string>{233,244}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{451,715},{233,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-300,67}</string>
                <key>spriteSize</key>
                <string>{225,246}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{908,715},{225,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-296,70}</string>
                <key>spriteSize</key>
                <string>{233,252}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{562,964},{233,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,71}</string>
                <key>spriteSize</key>
                <string>{235,254}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{593,1218},{235,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_skill_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-291,68}</string>
                <key>spriteSize</key>
                <string>{231,268}</string>
                <key>spriteSourceSize</key>
                <string>{907,678}</string>
                <key>textureRect</key>
                <string>{{1622,1732},{231,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>8-1.png</string>
            <key>size</key>
            <string>{1890,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf30664f49081138dd6bdcb959f529aa:48faf49cc35d8802c8581fc6e26c59a0:9ab6dce2ec56bdd29a1b7eabf4672da9$</string>
            <key>textureFileName</key>
            <string>8-1.png</string>
        </dict>
    </dict>
</plist>
