<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-19}</string>
                <key>spriteSize</key>
                <string>{204,296}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{589,770},{204,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{216,290}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1470,1285},{216,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-21}</string>
                <key>spriteSize</key>
                <string>{230,284}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{867,1623},{230,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-19}</string>
                <key>spriteSize</key>
                <string>{220,282}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1467,1503},{220,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{192,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{597,176},{192,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20}</string>
                <key>spriteSize</key>
                <string>{214,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1,1177},{214,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-21}</string>
                <key>spriteSize</key>
                <string>{218,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1,1393},{218,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-24}</string>
                <key>spriteSize</key>
                <string>{232,276}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1762,1476},{232,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-25}</string>
                <key>spriteSize</key>
                <string>{232,276}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{285,1613},{232,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{228,302}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{563,1623},{228,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,25}</string>
                <key>spriteSize</key>
                <string>{200,306}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1487,661},{200,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,28}</string>
                <key>spriteSize</key>
                <string>{208,296}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{579,976},{208,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,19}</string>
                <key>spriteSize</key>
                <string>{210,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1,965},{210,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{198,298}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1735,461},{198,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{194,300}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{299,370},{194,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,16}</string>
                <key>spriteSize</key>
                <string>{208,292}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{877,979},{208,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{222,282}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1,1613},{222,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,12}</string>
                <key>spriteSize</key>
                <string>{216,284}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{281,1395},{216,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,20}</string>
                <key>spriteSize</key>
                <string>{198,296}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1,561},{198,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,16}</string>
                <key>spriteSize</key>
                <string>{202,286}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1,761},{202,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,15}</string>
                <key>spriteSize</key>
                <string>{198,288}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{299,566},{198,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,14}</string>
                <key>spriteSize</key>
                <string>{192,288}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{877,178},{192,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,13}</string>
                <key>spriteSize</key>
                <string>{192,288}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1167,182},{192,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,12}</string>
                <key>spriteSize</key>
                <string>{192,286}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1457,184},{192,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{194,296}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1,365},{194,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{107,42}</string>
                <key>spriteSize</key>
                <string>{195,297}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{899,376},{195,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,47}</string>
                <key>spriteSize</key>
                <string>{215,285}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{579,1186},{215,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,51}</string>
                <key>spriteSize</key>
                <string>{243,269}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1789,928},{243,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,62}</string>
                <key>spriteSize</key>
                <string>{219,265}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1795,661},{219,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,18}</string>
                <key>spriteSize</key>
                <string>{205,261}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1835,1},{205,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-65}</string>
                <key>spriteSize</key>
                <string>{259,235}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1498,378},{259,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-79}</string>
                <key>spriteSize</key>
                <string>{275,217}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1771,1199},{275,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-98}</string>
                <key>spriteSize</key>
                <string>{309,169}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-103}</string>
                <key>spriteSize</key>
                <string>{307,179}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1221,1},{307,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-115}</string>
                <key>spriteSize</key>
                <string>{303,181}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1530,1},{303,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-116}</string>
                <key>spriteSize</key>
                <string>{301,175}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{918,1},{301,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-117}</string>
                <key>spriteSize</key>
                <string>{301,173}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{312,1},{301,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-117}</string>
                <key>spriteSize</key>
                <string>{301,173}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{615,1},{301,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{195,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1198,378},{195,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{191,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1,172},{191,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{191,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{299,176},{191,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{195,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{601,372},{195,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{195,294}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1745,264},{195,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{199,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{589,569},{199,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{199,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{887,573},{199,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{203,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{289,766},{203,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{203,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{887,774},{203,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,23}</string>
                <key>spriteSize</key>
                <string>{207,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1487,863},{207,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{209,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1171,981},{209,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,23}</string>
                <key>spriteSize</key>
                <string>{213,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{866,1189},{213,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{213,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1168,1192},{213,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{217,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{567,1404},{217,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{219,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1167,1407},{219,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,19}</string>
                <key>spriteSize</key>
                <string>{217,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{867,1404},{217,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{213,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{281,1180},{213,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{211,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1473,1072},{211,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{207,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{281,971},{207,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{203,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1187,776},{203,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{199,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1187,575},{199,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{195,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1198,378},{195,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>14-0.png</string>
            <key>size</key>
            <string>{2041,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c42097fee6e571efbb54b6a3ff079c28:73da97ad345042aa838b72899d923438:61944b1ad430dcbc257958f6c30a860a$</string>
            <key>textureFileName</key>
            <string>14-0.png</string>
        </dict>
    </dict>
</plist>
