<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>14_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-17}</string>
                <key>spriteSize</key>
                <string>{196,298}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{641,1},{196,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-21}</string>
                <key>spriteSize</key>
                <string>{210,294}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1251,1},{210,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-27}</string>
                <key>spriteSize</key>
                <string>{222,284}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1036,1188},{222,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-24}</string>
                <key>spriteSize</key>
                <string>{228,284}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{579,1524},{228,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-17}</string>
                <key>spriteSize</key>
                <string>{208,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1576,288},{208,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{198,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1822,798},{198,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{190,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1468,1149},{190,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{200,276}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1822,520},{200,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-20}</string>
                <key>spriteSize</key>
                <string>{208,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1612,570},{208,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-22}</string>
                <key>spriteSize</key>
                <string>{226,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1084,1474},{226,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{220,314}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,21}</string>
                <key>spriteSize</key>
                <string>{206,282}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1211,889},{206,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,17}</string>
                <key>spriteSize</key>
                <string>{218,274}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1743,1291},{218,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,15}</string>
                <key>spriteSize</key>
                <string>{220,276}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{301,1533},{220,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{216,278}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1419,869},{216,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,13}</string>
                <key>spriteSize</key>
                <string>{216,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1312,1457},{216,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,11}</string>
                <key>spriteSize</key>
                <string>{210,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1400,587},{210,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,10}</string>
                <key>spriteSize</key>
                <string>{206,282}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1260,1173},{206,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,5}</string>
                <key>spriteSize</key>
                <string>{204,288}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{1370,297},{204,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{200,294}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{834,1197},{200,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{198,296}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{801,601},{198,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-17}</string>
                <key>spriteSize</key>
                <string>{196,298}</string>
                <key>spriteSourceSize</key>
                <string>{290,422}</string>
                <key>textureRect</key>
                <string>{{641,1},{196,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{196,298}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{421,905},{196,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,8}</string>
                <key>spriteSize</key>
                <string>{222,276}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1786,242},{222,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,14}</string>
                <key>spriteSize</key>
                <string>{202,290}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{1196,597},{202,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,18}</string>
                <key>spriteSize</key>
                <string>{200,296}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{619,903},{200,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,20}</string>
                <key>spriteSize</key>
                <string>{204,298}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{411,1224},{204,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{196,298}</string>
                <key>spriteSourceSize</key>
                <string>{286,350}</string>
                <key>textureRect</key>
                <string>{{421,905},{196,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,62}</string>
                <key>spriteSize</key>
                <string>{211,275}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1743,1078},{211,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,43}</string>
                <key>spriteSize</key>
                <string>{213,285}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1463,1},{213,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,32}</string>
                <key>spriteSize</key>
                <string>{211,277}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1530,1429},{211,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,23}</string>
                <key>spriteSize</key>
                <string>{209,267}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1743,1511},{209,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{217,249}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{865,1493},{217,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-28}</string>
                <key>spriteSize</key>
                <string>{239,241}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1786,1},{239,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-91}</string>
                <key>spriteSize</key>
                <string>{291,193}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1016,895},{291,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-108}</string>
                <key>spriteSize</key>
                <string>{307,185}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1,317},{307,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-113}</string>
                <key>spriteSize</key>
                <string>{303,189}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{1,626},{303,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-114}</string>
                <key>spriteSize</key>
                <string>{303,187}</string>
                <key>spriteSourceSize</key>
                <string>{455,423}</string>
                <key>textureRect</key>
                <string>{{188,317},{303,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,20}</string>
                <key>spriteSize</key>
                <string>{191,299}</string>
                <key>spriteSourceSize</key>
                <string>{227,349}</string>
                <key>textureRect</key>
                <string>{{1,1233},{191,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,20}</string>
                <key>spriteSize</key>
                <string>{191,299}</string>
                <key>spriteSourceSize</key>
                <string>{227,349}</string>
                <key>textureRect</key>
                <string>{{1,1233},{191,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{193,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{606,603},{193,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{193,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1056,1},{193,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{193,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{783,301},{193,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{193,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{821,899},{193,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{191,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1177,299},{191,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{193,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1001,597},{193,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{197,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{978,299},{197,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{205,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{377,303},{205,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,24}</string>
                <key>spriteSize</key>
                <string>{211,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1,931},{211,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,24}</string>
                <key>spriteSize</key>
                <string>{211,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{192,622},{211,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,23}</string>
                <key>spriteSize</key>
                <string>{215,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{223,1},{215,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{215,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{194,1233},{215,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,20}</string>
                <key>spriteSize</key>
                <string>{219,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{1,1534},{219,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{215,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{839,1},{215,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{215,296}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{617,1205},{215,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{205,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{214,924},{205,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{199,300}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{440,1},{199,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{199,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{405,605},{199,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{197,298}</string>
                <key>spriteSourceSize</key>
                <string>{237,356}</string>
                <key>textureRect</key>
                <string>{{584,303},{197,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>14-1.png</string>
            <key>size</key>
            <string>{2028,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c42097fee6e571efbb54b6a3ff079c28:73da97ad345042aa838b72899d923438:61944b1ad430dcbc257958f6c30a860a$</string>
            <key>textureFileName</key>
            <string>14-1.png</string>
        </dict>
    </dict>
</plist>
