<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,17}</string>
                <key>spriteSize</key>
                <string>{233,283}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{689,526},{233,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,49}</string>
                <key>spriteSize</key>
                <string>{207,345}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{0,1447},{207,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,51}</string>
                <key>spriteSize</key>
                <string>{251,345}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{207,1447},{251,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,23}</string>
                <key>spriteSize</key>
                <string>{339,289}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{331,809},{339,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,39}</string>
                <key>spriteSize</key>
                <string>{307,341}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{496,1106},{307,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-39}</string>
                <key>spriteSize</key>
                <string>{331,287}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{0,809},{331,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{279,327}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{0,1106},{279,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-63}</string>
                <key>spriteSize</key>
                <string>{231,349}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{458,1447},{231,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-61}</string>
                <key>spriteSize</key>
                <string>{209,349}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{689,1447},{209,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-49}</string>
                <key>spriteSize</key>
                <string>{217,329}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{279,1106},{217,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-30}</string>
                <key>spriteSize</key>
                <string>{229,297}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{670,809},{229,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{219,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{235,0},{219,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{221,265}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{235,526},{221,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{225,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{454,0},{225,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{225,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{679,0},{225,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{229,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{0,263},{229,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{229,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{229,263},{229,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{233,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{458,263},{233,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{233,265}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{456,526},{233,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{235,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{0,526},{235,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{235,261}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{0,0},{235,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Swordsman-2.png</string>
            <key>size</key>
            <string>{922,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b093e82a564c44ed5579cc8b357f97c:061488aafd94653ef3806bb1742d6dc2:8f4ec393c2d2e3b76d926f62ed8960c6$</string>
            <key>textureFileName</key>
            <string>Swordsman-2.png</string>
        </dict>
    </dict>
</plist>
