<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-7}</string>
                <key>spriteSize</key>
                <string>{317,301}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{926,926},{317,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-6}</string>
                <key>spriteSize</key>
                <string>{313,301}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1243,926},{313,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-4}</string>
                <key>spriteSize</key>
                <string>{313,299}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{0,926},{313,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-4}</string>
                <key>spriteSize</key>
                <string>{315,297}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1262,629},{315,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{317,299}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{313,926},{317,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-6}</string>
                <key>spriteSize</key>
                <string>{317,301}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1556,926},{317,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-32}</string>
                <key>spriteSize</key>
                <string>{286,293}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{976,629},{286,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-27}</string>
                <key>spriteSize</key>
                <string>{308,297}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1577,629},{308,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-25}</string>
                <key>spriteSize</key>
                <string>{330,301}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{0,1227},{330,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-90}</string>
                <key>spriteSize</key>
                <string>{284,243}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{700,380},{284,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-88}</string>
                <key>spriteSize</key>
                <string>{274,249}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1476,380},{274,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-88}</string>
                <key>spriteSize</key>
                <string>{266,257}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{490,629},{266,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-82}</string>
                <key>spriteSize</key>
                <string>{266,255}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{0,629},{266,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-78}</string>
                <key>spriteSize</key>
                <string>{258,245}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{984,380},{258,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-85}</string>
                <key>spriteSize</key>
                <string>{234,247}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1242,380},{234,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-99}</string>
                <key>spriteSize</key>
                <string>{224,255}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{266,629},{224,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-109}</string>
                <key>spriteSize</key>
                <string>{220,257}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{756,629},{220,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-118}</string>
                <key>spriteSize</key>
                <string>{220,249}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1750,380},{220,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-131}</string>
                <key>spriteSize</key>
                <string>{212,233}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{488,380},{212,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-126}</string>
                <key>spriteSize</key>
                <string>{218,217}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{986,161},{218,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-122}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1446,161},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-122}</string>
                <key>spriteSize</key>
                <string>{242,217}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1204,161},{242,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-120}</string>
                <key>spriteSize</key>
                <string>{244,219}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1678,161},{244,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-124}</string>
                <key>spriteSize</key>
                <string>{244,223}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{244,380},{244,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-131}</string>
                <key>spriteSize</key>
                <string>{244,221}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{0,380},{244,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-129}</string>
                <key>spriteSize</key>
                <string>{244,207}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{742,161},{244,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-131}</string>
                <key>spriteSize</key>
                <string>{244,203}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{498,161},{244,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-136}</string>
                <key>spriteSize</key>
                <string>{246,193}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{252,161},{246,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-144}</string>
                <key>spriteSize</key>
                <string>{252,179}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{0,161},{252,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-156}</string>
                <key>spriteSize</key>
                <string>{258,161}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1588,0},{258,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-163}</string>
                <key>spriteSize</key>
                <string>{264,145}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{0,0},{264,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-163}</string>
                <key>spriteSize</key>
                <string>{266,145}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{264,0},{266,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-163}</string>
                <key>spriteSize</key>
                <string>{264,145}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{530,0},{264,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-163}</string>
                <key>spriteSize</key>
                <string>{266,145}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{794,0},{266,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-163}</string>
                <key>spriteSize</key>
                <string>{264,145}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1060,0},{264,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_die_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-163}</string>
                <key>spriteSize</key>
                <string>{264,145}</string>
                <key>spriteSourceSize</key>
                <string>{428,559}</string>
                <key>textureRect</key>
                <string>{{1324,0},{264,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{278,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{330,1227},{278,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{280,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{608,1227},{280,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{282,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{888,1227},{282,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{284,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1170,1227},{284,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{286,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1454,1227},{286,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{288,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1740,1227},{288,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{294,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{0,1529},{294,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{294,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{294,1529},{294,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{296,300}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{630,926},{296,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{296,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{588,1529},{296,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{296,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{884,1529},{296,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{298,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1180,1529},{298,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{296,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1478,1529},{296,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5-0.png</string>
            <key>size</key>
            <string>{2028,1831}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c231ee0fc7566ebcdd00f08864435fe:4c90de20521b7689f1a5c71a27cb55a7:0681531cec72fdd4156c0880d9f47345$</string>
            <key>textureFileName</key>
            <string>5-0.png</string>
        </dict>
    </dict>
</plist>
