<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{263,307}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1630,1218},{263,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-9}</string>
                <key>spriteSize</key>
                <string>{293,305}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1390,608},{293,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-7}</string>
                <key>spriteSize</key>
                <string>{315,303}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{878,0},{315,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{315,305}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{1683,608},{315,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{309,305}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{0,913},{309,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{299,305}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{309,913},{299,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{289,307}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{0,1525},{289,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{275,307}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{289,1525},{275,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{271,307}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{564,1525},{271,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{263,307}</string>
                <key>spriteSourceSize</key>
                <string>{447,433}</string>
                <key>textureRect</key>
                <string>{{835,1525},{263,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-16}</string>
                <key>spriteSize</key>
                <string>{264,307}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1098,1525},{264,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{330,303}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1193,0},{330,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-21}</string>
                <key>spriteSize</key>
                <string>{320,305}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{608,913},{320,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-19}</string>
                <key>spriteSize</key>
                <string>{310,305}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{928,913},{310,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{302,305}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1238,913},{302,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-13}</string>
                <key>spriteSize</key>
                <string>{302,305}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1540,913},{302,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{300,305}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{0,1218},{300,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{298,307}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1362,1525},{298,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-14}</string>
                <key>spriteSize</key>
                <string>{274,307}</string>
                <key>spriteSourceSize</key>
                <string>{468,435}</string>
                <key>textureRect</key>
                <string>{{1660,1525},{274,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{264,306}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{300,1218},{264,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{266,306}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{564,1218},{266,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{268,306}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{830,1218},{268,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{270,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1523,0},{270,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{272,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{0,304},{272,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{276,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{272,304},{276,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{288,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{548,304},{288,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{298,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{836,304},{298,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{294,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{0,0},{294,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{294,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{294,0},{294,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{290,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1134,304},{290,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{290,302}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{588,0},{290,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{288,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1424,304},{288,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{286,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1712,304},{286,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{284,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{0,608},{284,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{282,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{284,608},{282,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{278,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{566,608},{278,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{274,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{844,608},{274,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{272,304}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1118,608},{272,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{268,306}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1098,1218},{268,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{264,306}</string>
                <key>spriteSourceSize</key>
                <string>{338,402}</string>
                <key>textureRect</key>
                <string>{{1366,1218},{264,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5-1.png</string>
            <key>size</key>
            <string>{1998,1832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c231ee0fc7566ebcdd00f08864435fe:4c90de20521b7689f1a5c71a27cb55a7:0681531cec72fdd4156c0880d9f47345$</string>
            <key>textureFileName</key>
            <string>5-1.png</string>
        </dict>
    </dict>
</plist>
