<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-30}</string>
                <key>spriteSize</key>
                <string>{199,237}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{626,1403},{199,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-15}</string>
                <key>spriteSize</key>
                <string>{185,265}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{587,1},{185,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-3}</string>
                <key>spriteSize</key>
                <string>{175,303}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{282,1},{175,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-32}</string>
                <key>spriteSize</key>
                <string>{197,249}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{419,1156},{197,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,1}</string>
                <key>spriteSize</key>
                <string>{181,241}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{234,915},{181,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,3}</string>
                <key>spriteSize</key>
                <string>{185,243}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{471,441},{185,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,4}</string>
                <key>spriteSize</key>
                <string>{185,241}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{232,1158},{185,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,5}</string>
                <key>spriteSize</key>
                <string>{187,241}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{228,1401},{187,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-15}</string>
                <key>spriteSize</key>
                <string>{279,215}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{279,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-9}</string>
                <key>spriteSize</key>
                <string>{261,221}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,218},{261,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,5}</string>
                <key>spriteSize</key>
                <string>{237,225}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{905,660},{237,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,7}</string>
                <key>spriteSize</key>
                <string>{233,227}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{467,686},{233,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,7}</string>
                <key>spriteSize</key>
                <string>{233,227}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1470,411},{233,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,7}</string>
                <key>spriteSize</key>
                <string>{233,225}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1235,409},{233,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,7}</string>
                <key>spriteSize</key>
                <string>{235,225}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{240,678},{235,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,7}</string>
                <key>spriteSize</key>
                <string>{235,225}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{244,441},{235,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,7}</string>
                <key>spriteSize</key>
                <string>{237,221}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{264,218},{237,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,7}</string>
                <key>spriteSize</key>
                <string>{237,221}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{857,421},{237,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,3}</string>
                <key>spriteSize</key>
                <string>{241,225}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,1401},{241,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-2}</string>
                <key>spriteSize</key>
                <string>{241,229}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,1158},{241,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-7}</string>
                <key>spriteSize</key>
                <string>{241,231}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,915},{241,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{241,235}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,441},{241,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-16}</string>
                <key>spriteSize</key>
                <string>{237,235}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,678},{237,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-21}</string>
                <key>spriteSize</key>
                <string>{229,235}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{503,188},{229,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-2}</string>
                <key>spriteSize</key>
                <string>{206,229}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{451,1643},{206,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,13}</string>
                <key>spriteSize</key>
                <string>{188,239}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{417,915},{188,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{214,219}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1455,1081},{214,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-21}</string>
                <key>spriteSize</key>
                <string>{234,207}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{417,1407},{234,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{250,199}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1491,210},{250,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-15}</string>
                <key>spriteSize</key>
                <string>{254,199}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{982,206},{254,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{258,203}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{854,1},{258,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,2}</string>
                <key>spriteSize</key>
                <string>{250,207}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1624,1},{250,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-1}</string>
                <key>spriteSize</key>
                <string>{246,213}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{734,206},{246,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-2}</string>
                <key>spriteSize</key>
                <string>{240,221}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1743,210},{240,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-2}</string>
                <key>spriteSize</key>
                <string>{206,229}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{451,1643},{206,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,45}</string>
                <key>spriteSize</key>
                <string>{211,239}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{607,915},{211,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,21}</string>
                <key>spriteSize</key>
                <string>{213,215}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1684,868},{213,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,11}</string>
                <key>spriteSize</key>
                <string>{247,197}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{658,425},{247,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,18}</string>
                <key>spriteSize</key>
                <string>{251,199}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1238,208},{251,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,32}</string>
                <key>spriteSize</key>
                <string>{255,203}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1114,1},{255,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,46}</string>
                <key>spriteSize</key>
                <string>{251,205}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1371,1},{251,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,53}</string>
                <key>spriteSize</key>
                <string>{245,205}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{618,1156},{245,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,48}</string>
                <key>spriteSize</key>
                <string>{237,201}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{702,674},{237,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,12}</string>
                <key>spriteSize</key>
                <string>{203,179}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1704,1675},{203,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-23}</string>
                <key>spriteSize</key>
                <string>{203,151}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1499,1675},{203,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-50}</string>
                <key>spriteSize</key>
                <string>{209,153}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1455,1302},{209,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-51}</string>
                <key>spriteSize</key>
                <string>{215,159}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1499,1457},{215,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-58}</string>
                <key>spriteSize</key>
                <string>{223,159}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1671,1083},{223,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-62}</string>
                <key>spriteSize</key>
                <string>{223,153}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1080,407},{223,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-66}</string>
                <key>spriteSize</key>
                <string>{223,145}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1660,1528},{223,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-68}</string>
                <key>spriteSize</key>
                <string>{223,141}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1666,1385},{223,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-69}</string>
                <key>spriteSize</key>
                <string>{225,139}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1820,641},{225,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-70}</string>
                <key>spriteSize</key>
                <string>{225,139}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1671,1244},{225,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,14}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1705,433},{206,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,15}</string>
                <key>spriteSize</key>
                <string>{202,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{827,1377},{202,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,15}</string>
                <key>spriteSize</key>
                <string>{200,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{820,913},{200,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,15}</string>
                <key>spriteSize</key>
                <string>{200,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{825,1145},{200,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,16}</string>
                <key>spriteSize</key>
                <string>{202,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{867,1609},{202,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,16}</string>
                <key>spriteSize</key>
                <string>{202,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1022,899},{202,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,18}</string>
                <key>spriteSize</key>
                <string>{202,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1027,1131},{202,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,18}</string>
                <key>spriteSize</key>
                <string>{202,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1031,1363},{202,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,19}</string>
                <key>spriteSize</key>
                <string>{206,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{659,1642},{206,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,20}</string>
                <key>spriteSize</key>
                <string>{212,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1071,1595},{212,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,20}</string>
                <key>spriteSize</key>
                <string>{214,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1454,865},{214,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,21}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1235,1322},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,22}</string>
                <key>spriteSize</key>
                <string>{222,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{227,1644},{222,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{222,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1360,640},{222,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1132,636},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1226,864},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,16}</string>
                <key>spriteSize</key>
                <string>{224,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1,1644},{224,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{222,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1590,641},{222,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{222,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1231,1092},{222,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,14}</string>
                <key>spriteSize</key>
                <string>{212,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1285,1552},{212,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,14}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1705,433},{206,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>17-0.png</string>
            <key>size</key>
            <string>{1984,1873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69058e7ae6f735c4722ddc67a5d8ae62:765f7182cd02ee2a8ea98f1b8736bf48:3e9ac3c63364c62462a39d6c2fbd5221$</string>
            <key>textureFileName</key>
            <string>17-0.png</string>
        </dict>
    </dict>
</plist>
