<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-34}</string>
                <key>spriteSize</key>
                <string>{205,229}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{476,567},{205,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-32}</string>
                <key>spriteSize</key>
                <string>{201,235}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{460,361},{201,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-25}</string>
                <key>spriteSize</key>
                <string>{195,245}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1395,172},{195,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-5}</string>
                <key>spriteSize</key>
                <string>{173,293}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1642,1},{173,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-10}</string>
                <key>spriteSize</key>
                <string>{163,293}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-5}</string>
                <key>spriteSize</key>
                <string>{201,231}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{697,364},{201,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-3}</string>
                <key>spriteSize</key>
                <string>{243,227}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1397,1444},{243,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,2}</string>
                <key>spriteSize</key>
                <string>{239,227}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{919,1436},{239,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,6}</string>
                <key>spriteSize</key>
                <string>{235,227}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1160,1439},{235,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,7}</string>
                <key>spriteSize</key>
                <string>{235,227}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1642,1444},{235,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,7}</string>
                <key>spriteSize</key>
                <string>{235,223}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{231,1202},{235,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,7}</string>
                <key>spriteSize</key>
                <string>{235,223}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{468,1205},{235,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,7}</string>
                <key>spriteSize</key>
                <string>{237,219}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1169,993},{237,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-25}</string>
                <key>spriteSize</key>
                <string>{223,235}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1161,1214},{223,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-31}</string>
                <key>spriteSize</key>
                <string>{211,231}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{1408,783},{211,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_atk_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-34}</string>
                <key>spriteSize</key>
                <string>{205,229}</string>
                <key>spriteSourceSize</key>
                <string>{391,385}</string>
                <key>textureRect</key>
                <string>{{476,567},{205,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,13}</string>
                <key>spriteSize</key>
                <string>{204,241}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{233,564},{204,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,20}</string>
                <key>spriteSize</key>
                <string>{194,231}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{929,168},{194,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,19}</string>
                <key>spriteSize</key>
                <string>{192,239}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{220,166},{192,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{194,231}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1162,172},{194,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-24}</string>
                <key>spriteSize</key>
                <string>{246,195}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1642,176},{246,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{256,201}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1162,369},{256,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{258,205}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{707,568},{258,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,3}</string>
                <key>spriteSize</key>
                <string>{254,205}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{967,572},{254,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,0}</string>
                <key>spriteSize</key>
                <string>{244,211}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1641,783},{244,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-2}</string>
                <key>spriteSize</key>
                <string>{248,215}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{1,979},{248,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_byatk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-3}</string>
                <key>spriteSize</key>
                <string>{226,223}</string>
                <key>spriteSourceSize</key>
                <string>{320,319}</string>
                <key>textureRect</key>
                <string>{{705,1207},{226,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,30}</string>
                <key>spriteSize</key>
                <string>{205,229}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1223,574},{205,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,41}</string>
                <key>spriteSize</key>
                <string>{207,241}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{231,770},{207,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,45}</string>
                <key>spriteSize</key>
                <string>{205,231}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1454,576},{205,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,41}</string>
                <key>spriteSize</key>
                <string>{209,237}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{939,779},{209,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,33}</string>
                <key>spriteSize</key>
                <string>{201,225}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{233,360},{201,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,10}</string>
                <key>spriteSize</key>
                <string>{233,207}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{474,775},{233,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,25}</string>
                <key>spriteSize</key>
                <string>{255,201}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1642,373},{255,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,39}</string>
                <key>spriteSize</key>
                <string>{253,205}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1687,576},{253,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,42}</string>
                <key>spriteSize</key>
                <string>{235,193}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{461,166},{235,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,34}</string>
                <key>spriteSize</key>
                <string>{229,193}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{698,168},{229,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,24}</string>
                <key>spriteSize</key>
                <string>{217,189}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1,166},{217,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-3}</string>
                <key>spriteSize</key>
                <string>{203,163}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{296,1},{203,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-49}</string>
                <key>spriteSize</key>
                <string>{221,165}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{730,1},{221,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-48}</string>
                <key>spriteSize</key>
                <string>{225,169}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1184,1},{225,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-48}</string>
                <key>spriteSize</key>
                <string>{229,169}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{1411,1},{229,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-52}</string>
                <key>spriteSize</key>
                <string>{229,165}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{953,1},{229,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-54}</string>
                <key>spriteSize</key>
                <string>{227,163}</string>
                <key>spriteSourceSize</key>
                <string>{393,383}</string>
                <key>textureRect</key>
                <string>{{501,1},{227,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,23}</string>
                <key>spriteSize</key>
                <string>{203,220}</string>
                <key>spriteSourceSize</key>
                <string>{209,276}</string>
                <key>textureRect</key>
                <string>{{1420,369},{203,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,23}</string>
                <key>spriteSize</key>
                <string>{203,220}</string>
                <key>spriteSourceSize</key>
                <string>{209,276}</string>
                <key>textureRect</key>
                <string>{{1420,369},{203,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,14}</string>
                <key>spriteSize</key>
                <string>{202,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{930,364},{202,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,17}</string>
                <key>spriteSize</key>
                <string>{200,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1,360},{200,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,19}</string>
                <key>spriteSize</key>
                <string>{204,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1,562},{204,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,19}</string>
                <key>spriteSize</key>
                <string>{208,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1,768},{208,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,19}</string>
                <key>spriteSize</key>
                <string>{210,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1178,781},{210,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,21}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{481,985},{218,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{220,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1408,996},{220,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{220,226}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{711,985},{220,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,22}</string>
                <key>spriteSize</key>
                <string>{220,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1638,996},{220,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{224,226}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{933,1210},{224,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{224,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1398,1218},{224,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{224,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1628,1218},{224,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1,1420},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{226,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{229,1427},{226,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{226,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{459,1430},{226,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{226,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{689,1432},{226,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{222,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{1,1196},{222,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,14}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{939,990},{218,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,14}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{251,984},{216,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,14}</string>
                <key>spriteSize</key>
                <string>{208,228}</string>
                <key>spriteSourceSize</key>
                <string>{236,288}</string>
                <key>textureRect</key>
                <string>{{709,775},{208,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>17-1.png</string>
            <key>size</key>
            <string>{1941,1672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69058e7ae6f735c4722ddc67a5d8ae62:765f7182cd02ee2a8ea98f1b8736bf48:3e9ac3c63364c62462a39d6c2fbd5221$</string>
            <key>textureFileName</key>
            <string>17-1.png</string>
        </dict>
    </dict>
</plist>
