<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{385,284}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{620,1084},{385,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{357,262}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{0,0},{357,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,10}</string>
                <key>spriteSize</key>
                <string>{319,276}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{903,806},{319,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,15}</string>
                <key>spriteSize</key>
                <string>{315,284}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1005,1084},{315,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,13}</string>
                <key>spriteSize</key>
                <string>{317,280}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{303,1084},{317,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,11}</string>
                <key>spriteSize</key>
                <string>{319,276}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1222,806},{319,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,9}</string>
                <key>spriteSize</key>
                <string>{321,272}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1505,534},{321,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,7}</string>
                <key>spriteSize</key>
                <string>{321,268}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1236,265},{321,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,5}</string>
                <key>spriteSize</key>
                <string>{319,266}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{309,265},{319,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{303,262}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{357,0},{303,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{297,262}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{660,0},{297,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,278}</string>
                <key>spriteSourceSize</key>
                <string>{305,278}</string>
                <key>textureRect</key>
                <string>{{1541,806},{303,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,278}</string>
                <key>spriteSourceSize</key>
                <string>{305,278}</string>
                <key>textureRect</key>
                <string>{{0,1084},{303,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{299,265}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1270,0},{299,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{299,267}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{628,265},{299,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{299,269}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1557,265},{299,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{299,269}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{0,534},{299,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{299,271}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{604,534},{299,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{299,271}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{903,534},{299,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{301,273}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{0,806},{301,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{301,273}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{301,806},{301,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{301,273}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{602,806},{301,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,10}</string>
                <key>spriteSize</key>
                <string>{303,271}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1202,534},{303,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{305,269}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{299,534},{305,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{309,267}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{927,265},{309,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{309,265}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{0,265},{309,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{313,263}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{957,0},{313,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gragon-2.png</string>
            <key>size</key>
            <string>{1856,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2915f5b537737b52498fa106f47b65f1:b07b323474a4db475273b417bdacfeef:b7b1e539af19894be0855c9632b170c2$</string>
            <key>textureFileName</key>
            <string>gragon-2.png</string>
        </dict>
    </dict>
</plist>
