<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{297,262}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1485,1745},{297,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{303,254}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1549,972},{303,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{309,244}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1246,478},{309,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,3}</string>
                <key>spriteSize</key>
                <string>{319,260}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{929,1484},{319,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,1}</string>
                <key>spriteSize</key>
                <string>{315,256}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{957,1226},{315,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-1}</string>
                <key>spriteSize</key>
                <string>{315,254}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{0,1226},{315,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-2}</string>
                <key>spriteSize</key>
                <string>{323,252}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{925,972},{323,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{325,254}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{315,1226},{325,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{323,258}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1573,1226},{323,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{317,258}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{0,1484},{317,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{307,260}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1248,1484},{307,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1555,1484},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{313,247}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{307,723},{313,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{309,239}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{311,237},{309,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{307,249}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{925,723},{307,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{301,249}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1232,723},{301,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{0,1745},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,21}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{297,1745},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,12}</string>
                <key>spriteSize</key>
                <string>{311,243}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{0,478},{311,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,9}</string>
                <key>spriteSize</key>
                <string>{331,237}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{0,0},{331,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-11}</string>
                <key>spriteSize</key>
                <string>{273,239}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{620,237},{273,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{594,1745},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{315,259}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{317,1484},{315,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,2}</string>
                <key>spriteSize</key>
                <string>{317,255}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{640,1226},{317,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{317,251}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{305,972},{317,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{319,249}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1533,723},{319,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{317,245}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1555,478},{317,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{319,243}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{311,478},{319,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{317,241}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1519,237},{317,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{315,239}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{893,237},{315,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{315,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{331,0},{315,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{646,0},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{959,0},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1272,0},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1585,0},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{311,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{0,237},{311,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{311,239}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1208,237},{311,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{309,243}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{630,478},{309,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{307,243}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{939,478},{307,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{307,245}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{0,723},{307,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{305,247}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{620,723},{305,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{305,249}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{0,972},{305,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{303,251}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{622,972},{303,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{301,253}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1248,972},{301,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{301,257}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1272,1226},{301,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{297,259}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{632,1484},{297,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{891,1745},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1188,1745},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gragon-1.png</string>
            <key>size</key>
            <string>{1898,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2915f5b537737b52498fa106f47b65f1:b07b323474a4db475273b417bdacfeef:b7b1e539af19894be0855c9632b170c2$</string>
            <key>textureFileName</key>
            <string>gragon-1.png</string>
        </dict>
    </dict>
</plist>
