<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{313,236}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{626,1621},{313,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{315,228}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{899,1159},{315,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{317,222}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{887,936},{317,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{319,218}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1547,718},{319,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{319,210}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{321,718},{319,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-25}</string>
                <key>spriteSize</key>
                <string>{317,204}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1282,514},{317,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{317,204}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1599,514},{317,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-34}</string>
                <key>spriteSize</key>
                <string>{319,202}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{638,514},{319,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-33}</string>
                <key>spriteSize</key>
                <string>{321,204}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{0,718},{321,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-36}</string>
                <key>spriteSize</key>
                <string>{321,198}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{317,514},{321,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-38}</string>
                <key>spriteSize</key>
                <string>{317,196}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{0,514},{317,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-39}</string>
                <key>spriteSize</key>
                <string>{313,194}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1709,320},{313,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-41}</string>
                <key>spriteSize</key>
                <string>{311,190}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1063,320},{311,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-24}</string>
                <key>spriteSize</key>
                <string>{339,236}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{939,1621},{339,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{309,229}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1214,1159},{309,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{305,223}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1204,936},{305,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-11}</string>
                <key>spriteSize</key>
                <string>{301,219}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{0,936},{301,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-11}</string>
                <key>spriteSize</key>
                <string>{301,217}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{953,718},{301,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{299,231}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{281,1388},{299,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{299,233}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1188,1388},{299,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{295,233}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1487,1388},{295,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-10}</string>
                <key>spriteSize</key>
                <string>{295,219}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{301,936},{295,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{291,219}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{596,936},{291,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{285,225}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{301,1159},{285,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{297,233}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{0,1621},{297,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{305,237}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1278,1621},{305,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,9}</string>
                <key>spriteSize</key>
                <string>{333,237}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1583,1621},{333,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,7}</string>
                <key>spriteSize</key>
                <string>{329,233}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{297,1621},{329,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,6}</string>
                <key>spriteSize</key>
                <string>{327,229}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1523,1159},{327,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,7}</string>
                <key>spriteSize</key>
                <string>{323,231}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{580,1388},{323,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,5}</string>
                <key>spriteSize</key>
                <string>{313,227}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{586,1159},{313,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,3}</string>
                <key>spriteSize</key>
                <string>{303,223}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1509,936},{303,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-4}</string>
                <key>spriteSize</key>
                <string>{293,217}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1254,718},{293,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{281,229}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{0,1388},{281,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{285,231}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{903,1388},{285,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{301,223}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{0,1159},{301,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-33}</string>
                <key>spriteSize</key>
                <string>{313,215}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{640,718},{313,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-42}</string>
                <key>spriteSize</key>
                <string>{325,203}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{957,514},{325,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-50}</string>
                <key>spriteSize</key>
                <string>{335,191}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1374,320},{335,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-53}</string>
                <key>spriteSize</key>
                <string>{343,181}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{720,320},{343,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-56}</string>
                <key>spriteSize</key>
                <string>{351,169}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{369,320},{351,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-57}</string>
                <key>spriteSize</key>
                <string>{355,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{361,0},{355,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-54}</string>
                <key>spriteSize</key>
                <string>{361,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{716,0},{361,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-59}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{0,0},{361,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-60}</string>
                <key>spriteSize</key>
                <string>{363,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1077,0},{363,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-63}</string>
                <key>spriteSize</key>
                <string>{363,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1440,0},{363,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-64}</string>
                <key>spriteSize</key>
                <string>{365,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{367,159},{365,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-63}</string>
                <key>spriteSize</key>
                <string>{367,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{732,159},{367,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-63}</string>
                <key>spriteSize</key>
                <string>{367,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{0,159},{367,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-62}</string>
                <key>spriteSize</key>
                <string>{369,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1099,159},{369,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-62}</string>
                <key>spriteSize</key>
                <string>{369,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1468,159},{369,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-61}</string>
                <key>spriteSize</key>
                <string>{369,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{0,320},{369,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gragon-0.png</string>
            <key>size</key>
            <string>{2022,1858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2915f5b537737b52498fa106f47b65f1:b07b323474a4db475273b417bdacfeef:b7b1e539af19894be0855c9632b170c2$</string>
            <key>textureFileName</key>
            <string>gragon-0.png</string>
        </dict>
    </dict>
</plist>
