<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-13}</string>
                <key>spriteSize</key>
                <string>{248,250}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{1778,1090},{248,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-13}</string>
                <key>spriteSize</key>
                <string>{252,250}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{1030,1018},{252,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{246,268}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{1,236},{246,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-16}</string>
                <key>spriteSize</key>
                <string>{250,242}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{1010,1768},{250,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-15}</string>
                <key>spriteSize</key>
                <string>{266,252}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{292,1},{266,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-13}</string>
                <key>spriteSize</key>
                <string>{248,250}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{1778,1090},{248,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{248,252}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{503,1271},{248,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{242,258}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1,1506},{242,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{240,262}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1284,1019},{240,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{244,254}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1526,1276},{244,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{240,256}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{245,1521},{240,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,2}</string>
                <key>spriteSize</key>
                <string>{250,256}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{774,766},{250,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{244,254}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1270,1283},{244,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1265,1529},{246,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{250,248}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1526,1026},{250,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{252,254}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1562,521},{252,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{250,254}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{516,767},{250,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{248,252}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{503,1271},{248,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,23}</string>
                <key>spriteSize</key>
                <string>{249,251}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{250,1270},{249,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,25}</string>
                <key>spriteSize</key>
                <string>{215,261}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1828,310},{215,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,20}</string>
                <key>spriteSize</key>
                <string>{215,259}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1818,573},{215,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,32}</string>
                <key>spriteSize</key>
                <string>{235,277}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1595,1},{235,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,28}</string>
                <key>spriteSize</key>
                <string>{231,281}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1595,238},{231,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-8}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1,1},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-29}</string>
                <key>spriteSize</key>
                <string>{307,167}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1874,1},{307,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-26}</string>
                <key>spriteSize</key>
                <string>{309,179}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{501,1771},{309,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-31}</string>
                <key>spriteSize</key>
                <string>{309,177}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1772,1340},{309,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-31}</string>
                <key>spriteSize</key>
                <string>{307,177}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1515,1532},{307,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-32}</string>
                <key>spriteSize</key>
                <string>{307,177}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1694,1651},{307,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-31}</string>
                <key>spriteSize</key>
                <string>{297,177}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1694,1830},{297,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{244,253}</string>
                <key>spriteSourceSize</key>
                <string>{248,271}</string>
                <key>textureRect</key>
                <string>{{1010,1522},{244,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{244,253}</string>
                <key>spriteSourceSize</key>
                <string>{248,271}</string>
                <key>textureRect</key>
                <string>{{1010,1522},{244,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{757,1519},{248,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{248,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,1766},{248,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{248,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{503,1521},{248,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{248,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{251,1763},{248,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{511,1019},{250,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{250,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{764,1267},{250,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{250,253}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1032,766},{250,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{252,255}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{788,259},{252,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{252,255}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1045,259},{252,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{252,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{257,768},{252,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{252,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,997},{252,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{254,247}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{255,1021},{254,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{254,247}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,1250},{254,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{256,247}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{772,1018},{256,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{560,1},{256,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{271,255},{256,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,484},{256,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{256,255}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1337,1},{256,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{819,1},{256,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1078,1},{256,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{788,513},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{516,514},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1046,513},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{256,253}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{530,259},{256,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{256,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1304,514},{256,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{254,255}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1337,258},{254,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{254,253}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{260,513},{254,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{254,253}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,742},{254,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{254,249}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1542,775},{254,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{254,249}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1798,834},{254,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{250,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1017,1270},{250,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{250,253}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1287,767},{250,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{757,1519},{248,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>12-1.png</string>
            <key>size</key>
            <string>{2048,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef128df92d465ae616a3b154e6305c8:bf1ea81d082a906e5ae9d7ce62a3b983:507c83c435e1465110b126b29e7593f5$</string>
            <key>textureFileName</key>
            <string>12-1.png</string>
        </dict>
    </dict>
</plist>
