<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,-17}</string>
                <key>spriteSize</key>
                <string>{244,240}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{266,237},{244,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,-15}</string>
                <key>spriteSize</key>
                <string>{234,242}</string>
                <key>spriteSourceSize</key>
                <string>{512,398}</string>
                <key>textureRect</key>
                <string>{{268,1},{234,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-2}</string>
                <key>spriteSize</key>
                <string>{248,262}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{1,1421},{248,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{248,258}</string>
                <key>spriteSourceSize</key>
                <string>{296,298}</string>
                <key>textureRect</key>
                <string>{{251,982},{248,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,27}</string>
                <key>spriteSize</key>
                <string>{215,265}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,29}</string>
                <key>spriteSize</key>
                <string>{215,263}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1,218},{215,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,18}</string>
                <key>spriteSize</key>
                <string>{253,257}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{251,1232},{253,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{263,233}</string>
                <key>spriteSourceSize</key>
                <string>{489,381}</string>
                <key>textureRect</key>
                <string>{{1,435},{263,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{248,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,1168},{248,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{253,733},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,919},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{250,247}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{1,670},{250,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{251,1487},{256,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{252,243}</string>
                <key>spriteSourceSize</key>
                <string>{274,287}</string>
                <key>textureRect</key>
                <string>{{266,479},{252,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>12-2.png</string>
            <key>size</key>
            <string>{511,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef128df92d465ae616a3b154e6305c8:bf1ea81d082a906e5ae9d7ce62a3b983:507c83c435e1465110b126b29e7593f5$</string>
            <key>textureFileName</key>
            <string>12-2.png</string>
        </dict>
    </dict>
</plist>
