<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,2}</string>
                <key>spriteSize</key>
                <string>{280,228}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{473,523},{280,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,2}</string>
                <key>spriteSize</key>
                <string>{280,226}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{473,241},{280,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,7}</string>
                <key>spriteSize</key>
                <string>{282,236}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1,544},{282,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,4}</string>
                <key>spriteSize</key>
                <string>{270,230}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{933,963},{270,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{264,220}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{937,741},{264,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{274,240}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{931,223},{274,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,16}</string>
                <key>spriteSize</key>
                <string>{278,256}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{274,240}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{937,465},{274,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,4}</string>
                <key>spriteSize</key>
                <string>{276,230}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1456,461},{276,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{248,220}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1203,738},{248,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-30}</string>
                <key>spriteSize</key>
                <string>{210,212}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1437,967},{210,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-46}</string>
                <key>spriteSize</key>
                <string>{226,182}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1722,1},{226,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-49}</string>
                <key>spriteSize</key>
                <string>{226,176}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1712,229},{226,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-52}</string>
                <key>spriteSize</key>
                <string>{226,170}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1,1111},{226,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-54}</string>
                <key>spriteSize</key>
                <string>{226,166}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{237,1107},{226,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-55}</string>
                <key>spriteSize</key>
                <string>{228,164}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1732,736},{228,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-56}</string>
                <key>spriteSize</key>
                <string>{228,162}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{701,1082},{228,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-56}</string>
                <key>spriteSize</key>
                <string>{228,162}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{469,1102},{228,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-57}</string>
                <key>spriteSize</key>
                <string>{228,160}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1649,967},{228,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-5}</string>
                <key>spriteSize</key>
                <string>{279,228}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{701,229},{279,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{281,238}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{281,1},{281,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{283,236}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1,259},{283,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-2}</string>
                <key>spriteSize</key>
                <string>{281,234}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1,828},{281,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-3}</string>
                <key>spriteSize</key>
                <string>{279,232}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{703,510},{279,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-2}</string>
                <key>spriteSize</key>
                <string>{275,234}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1435,225},{275,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-2}</string>
                <key>spriteSize</key>
                <string>{275,234}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1179,502},{275,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-4}</string>
                <key>spriteSize</key>
                <string>{275,230}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{469,825},{275,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-4}</string>
                <key>spriteSize</key>
                <string>{275,230}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{701,805},{275,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-4}</string>
                <key>spriteSize</key>
                <string>{275,230}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1205,960},{275,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-4}</string>
                <key>spriteSize</key>
                <string>{277,230}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{237,828},{277,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-6}</string>
                <key>spriteSize</key>
                <string>{277,226}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1207,223},{277,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-6}</string>
                <key>spriteSize</key>
                <string>{277,226}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1453,739},{277,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-3}</string>
                <key>spriteSize</key>
                <string>{281,232}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{239,259},{281,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-3}</string>
                <key>spriteSize</key>
                <string>{281,232}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{239,542},{281,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-7}</string>
                <key>spriteSize</key>
                <string>{273,222}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1688,461},{273,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-7}</string>
                <key>spriteSize</key>
                <string>{283,222}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1437,1},{283,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-8}</string>
                <key>spriteSize</key>
                <string>{287,220}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1148,1},{287,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{291,220}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{855,1},{291,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{289,226}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{564,1},{289,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-5}</string>
                <key>spriteSize</key>
                <string>{279,228}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{701,229},{279,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>21-0.png</string>
            <key>size</key>
            <string>{1911,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4033bc7546f3814870d1b4b6a170f38:db77a7cc503a61a107433a811efd24ca:6e830d20b1a0bf94fd83503ff9cd2181$</string>
            <key>textureFileName</key>
            <string>21-0.png</string>
        </dict>
    </dict>
</plist>
