<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{266,214}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1561,1},{266,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{278,250}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{846,899},{278,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{264,226}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1317,217},{264,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-22}</string>
                <key>spriteSize</key>
                <string>{232,224}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1,187},{232,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-25}</string>
                <key>spriteSize</key>
                <string>{216,226}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1829,1},{216,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-27}</string>
                <key>spriteSize</key>
                <string>{202,218}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{455,1},{202,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-28}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{901,1},{206,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-31}</string>
                <key>spriteSize</key>
                <string>{216,210}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1343,1},{216,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-34}</string>
                <key>spriteSize</key>
                <string>{222,206}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1119,1},{222,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-36}</string>
                <key>spriteSize</key>
                <string>{224,202}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{675,1},{224,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-40}</string>
                <key>spriteSize</key>
                <string>{224,194}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{229,1},{224,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-45}</string>
                <key>spriteSize</key>
                <string>{226,184}</string>
                <key>spriteSourceSize</key>
                <string>{370,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{281,228}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1,429},{281,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{281,238}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1692,923},{281,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-2}</string>
                <key>spriteSize</key>
                <string>{283,234}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1410,687},{283,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-2}</string>
                <key>spriteSize</key>
                <string>{283,234}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1695,687},{283,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-2}</string>
                <key>spriteSize</key>
                <string>{281,234}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1127,677},{281,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{281,228}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{284,431},{281,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{281,228}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{567,435},{281,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{281,236}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1126,913},{281,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-1}</string>
                <key>spriteSize</key>
                <string>{281,236}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1409,923},{281,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-3}</string>
                <key>spriteSize</key>
                <string>{279,232}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1,659},{279,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-3}</string>
                <key>spriteSize</key>
                <string>{279,232}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{282,661},{279,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-4}</string>
                <key>spriteSize</key>
                <string>{277,230}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1131,445},{277,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{277,230}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1410,455},{277,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-7}</string>
                <key>spriteSize</key>
                <string>{277,224}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{510,205},{277,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-7}</string>
                <key>spriteSize</key>
                <string>{277,224}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{789,209},{277,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{275,230}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1689,455},{275,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-1}</string>
                <key>spriteSize</key>
                <string>{279,236}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1,893},{279,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-1}</string>
                <key>spriteSize</key>
                <string>{279,236}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{282,895},{279,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-3}</string>
                <key>spriteSize</key>
                <string>{279,232}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{563,665},{279,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{281,232}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{844,665},{281,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-2}</string>
                <key>spriteSize</key>
                <string>{281,234}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{563,899},{281,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-5}</string>
                <key>spriteSize</key>
                <string>{279,228}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{850,435},{279,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{241,236}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1583,217},{241,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{247,224}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{1068,209},{247,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21_wait_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-7}</string>
                <key>spriteSize</key>
                <string>{281,222}</string>
                <key>spriteSourceSize</key>
                <string>{411,274}</string>
                <key>textureRect</key>
                <string>{{227,205},{281,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>21-1.png</string>
            <key>size</key>
            <string>{2046,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4033bc7546f3814870d1b4b6a170f38:db77a7cc503a61a107433a811efd24ca:6e830d20b1a0bf94fd83503ff9cd2181$</string>
            <key>textureFileName</key>
            <string>21-1.png</string>
        </dict>
    </dict>
</plist>
