<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{315,228}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{621,367},{315,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-25}</string>
                <key>spriteSize</key>
                <string>{317,204}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{972,162},{317,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{317,204}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1291,162},{317,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-34}</string>
                <key>spriteSize</key>
                <string>{319,202}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{324,162},{319,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-36}</string>
                <key>spriteSize</key>
                <string>{321,198}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1,160},{321,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,7}</string>
                <key>spriteSize</key>
                <string>{321,268}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{613,1352},{321,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,3}</string>
                <key>spriteSize</key>
                <string>{319,260}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1225,1108},{319,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{307,260}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{617,1089},{307,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{926,1089},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{313,247}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1,834},{313,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{309,229}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1221,368},{309,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{307,249}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{623,838},{307,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{301,249}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{932,838},{301,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1546,1108},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,9}</string>
                <key>spriteSize</key>
                <string>{331,237}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1,595},{331,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,6}</string>
                <key>spriteSize</key>
                <string>{327,229}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1532,387},{327,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,5}</string>
                <key>spriteSize</key>
                <string>{313,227}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{306,366},{313,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,3}</string>
                <key>spriteSize</key>
                <string>{303,223}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1,360},{303,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{281,229}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{938,368},{281,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{301,223}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1610,162},{301,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-42}</string>
                <key>spriteSize</key>
                <string>{325,203}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{645,162},{325,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-57}</string>
                <key>spriteSize</key>
                <string>{355,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{364,1},{355,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-54}</string>
                <key>spriteSize</key>
                <string>{361,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{721,1},{361,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-59}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{361,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-60}</string>
                <key>spriteSize</key>
                <string>{363,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1084,1},{363,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-63}</string>
                <key>spriteSize</key>
                <string>{363,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1449,1},{363,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{299,269}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{312,1346},{299,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{299,269}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{936,1370},{299,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{301,273}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1544,1371},{301,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,9}</string>
                <key>spriteSize</key>
                <string>{305,269}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1237,1370},{305,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{309,267}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1,1346},{309,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{315,259}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{300,1085},{315,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{319,249}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1235,857},{319,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{315,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{334,597},{315,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{651,599},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{966,599},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1281,618},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{311,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1596,618},{311,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{305,247}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{316,836},{305,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{305,249}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1556,857},{305,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{297,259}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1,1083},{297,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1-0.png</string>
            <key>size</key>
            <string>{1912,1645}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5bb6345559e3add25f633fc59058610:b07b323474a4db475273b417bdacfeef:0a598658e20ff296f2375a47ba1cc7e3$</string>
            <key>textureFileName</key>
            <string>1-0.png</string>
        </dict>
    </dict>
</plist>
