<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{297,262}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{630,811},{297,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{303,254}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{607,555},{303,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{319,210}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1630,432},{319,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-33}</string>
                <key>spriteSize</key>
                <string>{321,204}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1307,397},{321,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-38}</string>
                <key>spriteSize</key>
                <string>{317,196}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1690,234},{317,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{357,262}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1,1},{357,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,9}</string>
                <key>spriteSize</key>
                <string>{321,272}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1,265},{321,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-1}</string>
                <key>spriteSize</key>
                <string>{315,254}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1004,1},{315,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-2}</string>
                <key>spriteSize</key>
                <string>{323,252}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{360,1},{323,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{303,262}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1002,257},{303,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-11}</string>
                <key>spriteSize</key>
                <string>{301,217}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{256,1362},{301,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{299,231}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1587,1411},{299,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{299,233}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{671,1110},{299,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{295,233}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1191,1107},{295,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{285,225}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{1771,861},{285,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{309,239}</string>
                <key>spriteSourceSize</key>
                <string>{361,281}</string>
                <key>textureRect</key>
                <string>{{963,1405},{309,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,21}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{894,811},{297,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,12}</string>
                <key>spriteSize</key>
                <string>{311,243}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{718,1345},{311,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,7}</string>
                <key>spriteSize</key>
                <string>{329,233}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1321,1},{329,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,7}</string>
                <key>spriteSize</key>
                <string>{323,231}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1652,1},{323,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-4}</string>
                <key>spriteSize</key>
                <string>{293,217}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{972,1110},{293,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{285,231}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1426,1107},{285,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-33}</string>
                <key>spriteSize</key>
                <string>{313,215}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1624,644},{313,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-64}</string>
                <key>spriteSize</key>
                <string>{365,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{304,1183},{365,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-63}</string>
                <key>spriteSize</key>
                <string>{367,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{360,255},{367,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-63}</string>
                <key>spriteSize</key>
                <string>{367,159}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{1321,236},{367,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-62}</string>
                <key>spriteSize</key>
                <string>{369,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{304,812},{369,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-62}</string>
                <key>spriteSize</key>
                <string>{369,161}</string>
                <key>spriteSourceSize</key>
                <string>{441,303}</string>
                <key>textureRect</key>
                <string>{{467,812},{369,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1157,844},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{299,271}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{306,539},{299,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{299,271}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{729,254},{299,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{301,273}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1,812},{301,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{301,273}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1,1087},{301,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,10}</string>
                <key>spriteSize</key>
                <string>{303,271}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1,539},{303,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{317,251}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{685,1},{317,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{317,241}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{475,1346},{317,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{315,239}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1307,603},{315,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{313,237}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1456,861},{313,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{311,239}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1274,1404},{311,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{303,251}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1002,521},{303,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{301,253}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1,1362},{301,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1659,1148},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{363,295}</string>
                <key>textureRect</key>
                <string>{{1157,844},{297,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1-1.png</string>
            <key>size</key>
            <string>{2008,1664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5bb6345559e3add25f633fc59058610:b07b323474a4db475273b417bdacfeef:0a598658e20ff296f2375a47ba1cc7e3$</string>
            <key>textureFileName</key>
            <string>1-1.png</string>
        </dict>
    </dict>
</plist>
