<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-26}</string>
                <key>spriteSize</key>
                <string>{289,236}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{867,938},{289,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-27}</string>
                <key>spriteSize</key>
                <string>{315,234}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{289,233},{315,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-21}</string>
                <key>spriteSize</key>
                <string>{315,246}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1112,1414},{315,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-19}</string>
                <key>spriteSize</key>
                <string>{265,250}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{542,1661},{265,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-23}</string>
                <key>spriteSize</key>
                <string>{273,242}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{572,1414},{273,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-25}</string>
                <key>spriteSize</key>
                <string>{267,244}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{845,1414},{267,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-26}</string>
                <key>spriteSize</key>
                <string>{261,246}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1427,1414},{261,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-27}</string>
                <key>spriteSize</key>
                <string>{253,248}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{289,1661},{253,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-28}</string>
                <key>spriteSize</key>
                <string>{249,250}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{807,1661},{249,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-44}</string>
                <key>spriteSize</key>
                <string>{343,234}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{604,233},{343,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-44}</string>
                <key>spriteSize</key>
                <string>{343,234}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{947,233},{343,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-26}</string>
                <key>spriteSize</key>
                <string>{289,236}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1156,938},{289,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,12}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1290,233},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,12}</string>
                <key>spriteSize</key>
                <string>{301,235}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1579,233},{301,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,13}</string>
                <key>spriteSize</key>
                <string>{283,237}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1445,938},{283,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,14}</string>
                <key>spriteSize</key>
                <string>{283,239}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{885,1175},{283,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,13}</string>
                <key>spriteSize</key>
                <string>{279,241}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{0,1414},{279,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,10}</string>
                <key>spriteSize</key>
                <string>{277,247}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1688,1414},{277,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,8}</string>
                <key>spriteSize</key>
                <string>{273,253}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1584,1661},{273,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,12}</string>
                <key>spriteSize</key>
                <string>{283,251}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1056,1661},{283,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,14}</string>
                <key>spriteSize</key>
                <string>{289,247}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{0,1661},{289,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{293,241}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{279,1414},{293,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,14}</string>
                <key>spriteSize</key>
                <string>{293,239}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1168,1175},{293,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,13}</string>
                <key>spriteSize</key>
                <string>{293,237}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1728,938},{293,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,12}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{0,468},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,27}</string>
                <key>spriteSize</key>
                <string>{287,235}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{289,468},{287,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,41}</string>
                <key>spriteSize</key>
                <string>{311,237}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{0,1175},{311,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,56}</string>
                <key>spriteSize</key>
                <string>{315,239}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1461,1175},{315,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,69}</string>
                <key>spriteSize</key>
                <string>{305,237}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{311,1175},{305,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,46}</string>
                <key>spriteSize</key>
                <string>{269,237}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{616,1175},{269,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-65}</string>
                <key>spriteSize</key>
                <string>{245,251}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1339,1661},{245,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{287,235}</string>
                <key>spriteSourceSize</key>
                <string>{289,271}</string>
                <key>textureRect</key>
                <string>{{576,468},{287,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{287,235}</string>
                <key>spriteSourceSize</key>
                <string>{289,271}</string>
                <key>textureRect</key>
                <string>{{863,468},{287,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,17}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1150,468},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,17}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1439,468},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,17}</string>
                <key>spriteSize</key>
                <string>{291,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1728,468},{291,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,17}</string>
                <key>spriteSize</key>
                <string>{291,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,703},{291,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,17}</string>
                <key>spriteSize</key>
                <string>{291,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{291,703},{291,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,17}</string>
                <key>spriteSize</key>
                <string>{291,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{582,703},{291,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,17}</string>
                <key>spriteSize</key>
                <string>{291,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{873,703},{291,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,17}</string>
                <key>spriteSize</key>
                <string>{293,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1164,703},{293,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,17}</string>
                <key>spriteSize</key>
                <string>{293,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1457,703},{293,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,16}</string>
                <key>spriteSize</key>
                <string>{295,233}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,16}</string>
                <key>spriteSize</key>
                <string>{295,233}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{295,0},{295,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,16}</string>
                <key>spriteSize</key>
                <string>{295,233}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{590,0},{295,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,16}</string>
                <key>spriteSize</key>
                <string>{295,233}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{885,0},{295,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,16}</string>
                <key>spriteSize</key>
                <string>{291,233}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1180,0},{291,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,16}</string>
                <key>spriteSize</key>
                <string>{291,233}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1471,0},{291,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,16}</string>
                <key>spriteSize</key>
                <string>{289,233}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,233},{289,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,17}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1750,703},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,17}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,938},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,17}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{289,938},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,17}</string>
                <key>spriteSize</key>
                <string>{289,235}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{578,938},{289,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>7-1.png</string>
            <key>size</key>
            <string>{2039,1914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3965c3e1827ee8b70982b3d561188b73:7947b8b75965a81a843921a8e15c699b:e67435620d40f3ad295f0accbba54d4d$</string>
            <key>textureFileName</key>
            <string>7-1.png</string>
        </dict>
    </dict>
</plist>
