<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-9}</string>
                <key>spriteSize</key>
                <string>{252,235}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1511,1339},{252,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-2}</string>
                <key>spriteSize</key>
                <string>{234,287}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1551,738},{234,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,2}</string>
                <key>spriteSize</key>
                <string>{234,305}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1315,810},{234,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,6}</string>
                <key>spriteSize</key>
                <string>{230,323}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{656,1},{230,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,11}</string>
                <key>spriteSize</key>
                <string>{248,351}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1,935},{248,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,11}</string>
                <key>spriteSize</key>
                <string>{250,349}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{305,1},{250,349}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,11}</string>
                <key>spriteSize</key>
                <string>{250,347}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1,1288},{250,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,11}</string>
                <key>spriteSize</key>
                <string>{250,345}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{304,618},{250,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,11}</string>
                <key>spriteSize</key>
                <string>{252,343}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{251,935},{252,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,11}</string>
                <key>spriteSize</key>
                <string>{252,341}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{602,253},{252,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,11}</string>
                <key>spriteSize</key>
                <string>{252,339}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{253,1280},{252,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,11}</string>
                <key>spriteSize</key>
                <string>{254,337}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1,1637},{254,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,11}</string>
                <key>spriteSize</key>
                <string>{254,335}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{651,596},{254,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,12}</string>
                <key>spriteSize</key>
                <string>{256,333}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{505,870},{256,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,12}</string>
                <key>spriteSize</key>
                <string>{256,331}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{856,233},{256,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,12}</string>
                <key>spriteSize</key>
                <string>{256,329}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{257,1621},{256,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,4}</string>
                <key>spriteSize</key>
                <string>{266,299}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{988,566},{266,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{278,281}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{515,1507},{278,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{284,273}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{788,1142},{284,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{286,261}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1052,834},{286,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{280,255}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1063,1122},{280,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{272,249}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1065,1404},{272,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,9}</string>
                <key>spriteSize</key>
                <string>{271,251}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1793,453},{271,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{279,241}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1065,1678},{279,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{279,249}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1542,457},{279,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{277,243}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1687,208},{277,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{271,251}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1793,726},{271,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,13}</string>
                <key>spriteSize</key>
                <string>{265,259}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1787,999},{265,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,14}</string>
                <key>spriteSize</key>
                <string>{261,263}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1485,1593},{261,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,14}</string>
                <key>spriteSize</key>
                <string>{263,261}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1748,1266},{263,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,14}</string>
                <key>spriteSize</key>
                <string>{263,261}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1748,1529},{263,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{268,269}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{795,1428},{268,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{288,287}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{763,852},{288,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{306,301}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1,627},{306,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,31}</string>
                <key>spriteSize</key>
                <string>{302,311}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,33}</string>
                <key>spriteSize</key>
                <string>{300,311}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1,314},{300,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,30}</string>
                <key>spriteSize</key>
                <string>{302,297}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{303,314},{302,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,20}</string>
                <key>spriteSize</key>
                <string>{300,279}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{507,1205},{300,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{292,251}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1289,516},{292,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{296,255}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{515,1790},{296,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{298,265}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1114,216},{298,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{304,239}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1381,216},{304,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{308,213}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1297,1},{308,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-36}</string>
                <key>spriteSize</key>
                <string>{310,195}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1551,1027},{310,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-56}</string>
                <key>spriteSize</key>
                <string>{314,205}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1607,1},{314,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-77}</string>
                <key>spriteSize</key>
                <string>{314,213}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{981,1},{314,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-82}</string>
                <key>spriteSize</key>
                <string>{316,189}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1320,1117},{316,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-84}</string>
                <key>spriteSize</key>
                <string>{302,165}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1308,1743},{302,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1316,1435},{306,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{813,1699},{272,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{272,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1748,1792},{272,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>18-0.png</string>
            <key>size</key>
            <string>{2047,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa2e6801f321a17b50177b1abf40be4:197552b8715981d8d6a11d56b433a2bb:4c36de04a50555f5d1cd03d16aeca032$</string>
            <key>textureFileName</key>
            <string>18-0.png</string>
        </dict>
    </dict>
</plist>
