<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{258,247}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1614,1019},{258,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{254,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1331,1},{254,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{256,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1073,1},{256,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{252,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1587,1},{252,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-10}</string>
                <key>spriteSize</key>
                <string>{252,233}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1813,1268},{252,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{258,247}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1614,1019},{258,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,7}</string>
                <key>spriteSize</key>
                <string>{259,247}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1510,758},{259,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,13}</string>
                <key>spriteSize</key>
                <string>{261,261}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1,1},{261,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{261,261}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1,264},{261,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,14}</string>
                <key>spriteSize</key>
                <string>{261,261}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1,527},{261,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,13}</string>
                <key>spriteSize</key>
                <string>{261,259}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1,1055},{261,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{263,259}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1,790},{263,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,12}</string>
                <key>spriteSize</key>
                <string>{261,257}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1,1318},{261,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{261,255}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{737,1556},{261,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{261,255}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{264,1},{261,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{261,253}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{752,780},{261,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{261,251}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1007,771},{261,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{259,249}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1312,1282},{259,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_byatk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,7}</string>
                <key>spriteSize</key>
                <string>{259,247}</string>
                <key>spriteSourceSize</key>
                <string>{327,307}</string>
                <key>textureRect</key>
                <string>{{1510,758},{259,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1,1857},{306,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{309,1857},{306,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{617,1840},{306,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{925,1819},{306,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{259,249}</string>
                <key>spriteSourceSize</key>
                <string>{259,285}</string>
                <key>textureRect</key>
                <string>{{1530,1543},{259,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{259,249}</string>
                <key>spriteSourceSize</key>
                <string>{259,285}</string>
                <key>textureRect</key>
                <string>{{1530,1543},{259,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{258,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1563,1273},{258,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{258,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1759,754},{258,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{260,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1614,506},{260,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{260,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1746,242},{260,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{262,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1350,510},{262,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{264,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1064,1287},{264,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{264,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1264,1553},{264,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{266,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1082,515},{266,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{268,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{540,1058},{268,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{268,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{994,1555},{268,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{268,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1233,1801},{268,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{270,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1004,243},{270,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{272,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{521,1},{272,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{272,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{506,784},{272,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{272,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{810,1043},{272,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{274,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{536,536},{274,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{274,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{760,247},{274,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{276,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{260,1318},{276,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{276,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{493,1562},{276,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{276,240}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{795,1},{276,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{276,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{262,790},{276,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{276,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{262,1068},{276,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{276,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{538,1312},{276,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{274,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1,1581},{274,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{274,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{247,1581},{274,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{264,264},{270,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{264,536},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{512,264},{270,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{268,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{812,523},{268,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{266,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1250,242},{266,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{266,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{816,1287},{266,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{264,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1503,1801},{264,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{264,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1084,1034},{264,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{262,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1498,242},{262,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,17}</string>
                <key>spriteSize</key>
                <string>{262,246}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1350,1025},{262,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1769,1794},{260,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{260,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1260,763},{260,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{258,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1791,1533},{258,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{258,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1563,1273},{258,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>18-1.png</string>
            <key>size</key>
            <string>{2047,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa2e6801f321a17b50177b1abf40be4:197552b8715981d8d6a11d56b433a2bb:4c36de04a50555f5d1cd03d16aeca032$</string>
            <key>textureFileName</key>
            <string>18-1.png</string>
        </dict>
    </dict>
</plist>
