<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{254,247}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{252,245}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1,250},{252,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{250,243}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{255,250},{250,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{252,241}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{507,1},{252,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-8}</string>
                <key>spriteSize</key>
                <string>{250,237}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{761,255},{250,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-9}</string>
                <key>spriteSize</key>
                <string>{248,235}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{759,507},{248,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-8}</string>
                <key>spriteSize</key>
                <string>{252,237}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{507,244},{252,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-8}</string>
                <key>spriteSize</key>
                <string>{252,237}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{761,1},{252,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-8}</string>
                <key>spriteSize</key>
                <string>{252,237}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1,1002},{252,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-9}</string>
                <key>spriteSize</key>
                <string>{250,235}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{507,483},{250,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-9}</string>
                <key>spriteSize</key>
                <string>{250,235}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{255,495},{250,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-8}</string>
                <key>spriteSize</key>
                <string>{254,237}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{1,746},{254,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{352,373}</string>
                <key>textureRect</key>
                <string>{{257,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1,497},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-86}</string>
                <key>spriteSize</key>
                <string>{310,159}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{240,746},{310,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-79}</string>
                <key>spriteSize</key>
                <string>{300,149}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{1,1256},{300,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-78}</string>
                <key>spriteSize</key>
                <string>{296,151}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{611,1222},{296,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-79}</string>
                <key>spriteSize</key>
                <string>{294,163}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{548,1057},{294,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-83}</string>
                <key>spriteSize</key>
                <string>{298,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{739,757},{298,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{240,1058},{306,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{303,1227},{306,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{401,732},{306,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{306,167}</string>
                <key>spriteSourceSize</key>
                <string>{338,385}</string>
                <key>textureRect</key>
                <string>{{570,720},{306,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>18-2.png</string>
            <key>size</key>
            <string>{999,1406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa2e6801f321a17b50177b1abf40be4:197552b8715981d8d6a11d56b433a2bb:4c36de04a50555f5d1cd03d16aeca032$</string>
            <key>textureFileName</key>
            <string>18-2.png</string>
        </dict>
    </dict>
</plist>
