<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>23_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,3}</string>
                <key>spriteSize</key>
                <string>{211,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1470,1387},{211,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-7}</string>
                <key>spriteSize</key>
                <string>{219,266}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1700,1},{219,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-7}</string>
                <key>spriteSize</key>
                <string>{239,274}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1180,575},{239,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-5}</string>
                <key>spriteSize</key>
                <string>{247,274}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1221,1},{247,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-10}</string>
                <key>spriteSize</key>
                <string>{323,266}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{235,504},{323,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-9}</string>
                <key>spriteSize</key>
                <string>{321,264}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{469,1},{321,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-9}</string>
                <key>spriteSize</key>
                <string>{313,262}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{313,1146},{313,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-6}</string>
                <key>spriteSize</key>
                <string>{295,264}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{955,1},{295,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-3}</string>
                <key>spriteSize</key>
                <string>{238,257}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1726,700},{238,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{228,259}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1726,959},{228,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,3}</string>
                <key>spriteSize</key>
                <string>{222,259}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1683,1468},{222,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{248,263}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1700,222},{248,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,24}</string>
                <key>spriteSize</key>
                <string>{279,247}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{918,487},{279,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-8}</string>
                <key>spriteSize</key>
                <string>{285,213}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{577,1117},{285,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-16}</string>
                <key>spriteSize</key>
                <string>{269,211}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{1257,1387},{269,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-74}</string>
                <key>spriteSize</key>
                <string>{275,189}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{1167,298},{275,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-73}</string>
                <key>spriteSize</key>
                <string>{285,183}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{879,302},{285,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-74}</string>
                <key>spriteSize</key>
                <string>{299,181}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{545,816},{299,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-78}</string>
                <key>spriteSize</key>
                <string>{307,173}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{255,326},{307,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-84}</string>
                <key>spriteSize</key>
                <string>{313,165}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{503,501},{313,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-86}</string>
                <key>spriteSize</key>
                <string>{313,165}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{564,324},{313,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{213,279}</string>
                <key>spriteSourceSize</key>
                <string>{217,307}</string>
                <key>textureRect</key>
                <string>{{792,1075},{213,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{213,279}</string>
                <key>spriteSourceSize</key>
                <string>{217,307}</string>
                <key>textureRect</key>
                <string>{{792,1075},{213,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-21}</string>
                <key>spriteSize</key>
                <string>{232,479}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,504},{232,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-10}</string>
                <key>spriteSize</key>
                <string>{252,501}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,-23}</string>
                <key>spriteSize</key>
                <string>{310,475}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,985},{310,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-113}</string>
                <key>spriteSize</key>
                <string>{218,299}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{735,1},{218,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-143}</string>
                <key>spriteSize</key>
                <string>{246,259}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1683,1220},{246,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-152}</string>
                <key>spriteSize</key>
                <string>{216,283}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{728,790},{216,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-157}</string>
                <key>spriteSize</key>
                <string>{212,323}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{255,1},{212,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-149}</string>
                <key>spriteSize</key>
                <string>{230,315}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{313,829},{230,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-137}</string>
                <key>spriteSize</key>
                <string>{246,297}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{670,491},{246,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-126}</string>
                <key>spriteSize</key>
                <string>{232,277}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{946,768},{232,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-124}</string>
                <key>spriteSize</key>
                <string>{228,273}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1470,1},{228,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-124}</string>
                <key>spriteSize</key>
                <string>{226,273}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1577,472},{226,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-124}</string>
                <key>spriteSize</key>
                <string>{224,273}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1226,851},{224,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{217,274}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1358,277},{217,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1042,1325},{213,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{217,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{823,1356},{217,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,10}</string>
                <key>spriteSize</key>
                <string>{217,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1007,1047},{217,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{227,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1452,700},{227,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{227,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1452,929},{227,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{233,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1,1462},{233,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{233,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{275,1462},{233,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{233,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{549,1461},{233,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{227,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1257,1158},{227,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>23-1.png</string>
            <key>size</key>
            <string>{1967,1696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:795b8a602d82fb6c553f2020c4c646b0:b8b1a83b409605c941e8bf013d56b3b5:cb646fb84f8459069bd0846a49829fb3$</string>
            <key>textureFileName</key>
            <string>23-1.png</string>
        </dict>
    </dict>
</plist>
