<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>23_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,10}</string>
                <key>spriteSize</key>
                <string>{217,274}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1669,260},{217,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-103,-9}</string>
                <key>spriteSize</key>
                <string>{229,270}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{496,642},{229,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-13}</string>
                <key>spriteSize</key>
                <string>{359,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{555,1358},{359,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-11}</string>
                <key>spriteSize</key>
                <string>{323,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{916,1362},{323,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-3}</string>
                <key>spriteSize</key>
                <string>{281,266}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{272,1358},{281,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,1}</string>
                <key>spriteSize</key>
                <string>{269,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1,1352},{269,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,6}</string>
                <key>spriteSize</key>
                <string>{241,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1774,938},{241,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,6}</string>
                <key>spriteSize</key>
                <string>{236,257}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1791,1},{236,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{248,269}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1,1102},{248,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{248,273}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{272,1108},{248,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,25}</string>
                <key>spriteSize</key>
                <string>{225,277}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{1632,479},{225,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,30}</string>
                <key>spriteSize</key>
                <string>{219,273}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{1,417},{219,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-51}</string>
                <key>spriteSize</key>
                <string>{273,203}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{569,1},{273,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-63}</string>
                <key>spriteSize</key>
                <string>{281,201}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{286,1},{281,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-70}</string>
                <key>spriteSize</key>
                <string>{283,199}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{283,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-21}</string>
                <key>spriteSize</key>
                <string>{228,479}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{768,644},{228,479}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-19}</string>
                <key>spriteSize</key>
                <string>{234,483}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{754,874},{234,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-19}</string>
                <key>spriteSize</key>
                <string>{230,483}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1523,706},{230,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-19}</string>
                <key>spriteSize</key>
                <string>{220,483}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{828,422},{220,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-10}</string>
                <key>spriteSize</key>
                <string>{254,501}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1313,1181},{254,501}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-9}</string>
                <key>spriteSize</key>
                <string>{246,503}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{547,1110},{246,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-23}</string>
                <key>spriteSize</key>
                <string>{232,477}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,868},{232,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-31}</string>
                <key>spriteSize</key>
                <string>{226,493}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,640},{226,493}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-127}</string>
                <key>spriteSize</key>
                <string>{220,317}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1313,422},{220,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-117}</string>
                <key>spriteSize</key>
                <string>{378,311}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1241,1437},{378,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-116}</string>
                <key>spriteSize</key>
                <string>{388,311}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1621,1437},{388,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-143}</string>
                <key>spriteSize</key>
                <string>{248,259}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1052,1112},{248,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-144}</string>
                <key>spriteSize</key>
                <string>{240,259}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1513,938},{240,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-157}</string>
                <key>spriteSize</key>
                <string>{204,303}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{844,1},{204,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-160}</string>
                <key>spriteSize</key>
                <string>{204,315}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1149,1},{204,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-160}</string>
                <key>spriteSize</key>
                <string>{204,323}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1466,1},{204,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1,202},{213,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{279,204},{213,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{557,206},{213,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{835,207},{213,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1113,207},{213,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1391,207},{213,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{219,274}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{276,419},{219,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{229,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1249,644},{229,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{235,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1239,875},{235,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{233,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{480,873},{233,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{219,274}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{552,421},{219,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>23-2.png</string>
            <key>size</key>
            <string>{2043,1749}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:795b8a602d82fb6c553f2020c4c646b0:b8b1a83b409605c941e8bf013d56b3b5:cb646fb84f8459069bd0846a49829fb3$</string>
            <key>textureFileName</key>
            <string>23-2.png</string>
        </dict>
    </dict>
</plist>
