<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>23_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,8}</string>
                <key>spriteSize</key>
                <string>{215,270}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{548,210},{215,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,0}</string>
                <key>spriteSize</key>
                <string>{209,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1767,1},{209,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-4}</string>
                <key>spriteSize</key>
                <string>{207,260}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{280,1},{207,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-2}</string>
                <key>spriteSize</key>
                <string>{249,272}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{262,1119},{249,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-12}</string>
                <key>spriteSize</key>
                <string>{325,270}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1,1370},{325,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{255,266}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1769,1148},{255,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,8}</string>
                <key>spriteSize</key>
                <string>{223,270}</string>
                <key>spriteSourceSize</key>
                <string>{469,306}</string>
                <key>textureRect</key>
                <string>{{1129,429},{223,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,15}</string>
                <key>spriteSize</key>
                <string>{216,273}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1374,211},{216,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{230,259}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1034,654},{230,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,7}</string>
                <key>spriteSize</key>
                <string>{252,265}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{536,1123},{252,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,16}</string>
                <key>spriteSize</key>
                <string>{238,275}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1034,887},{238,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,16}</string>
                <key>spriteSize</key>
                <string>{230,275}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1295,655},{230,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,15}</string>
                <key>spriteSize</key>
                <string>{216,273}</string>
                <key>spriteSourceSize</key>
                <string>{316,321}</string>
                <key>textureRect</key>
                <string>{{1374,211},{216,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-38}</string>
                <key>spriteSize</key>
                <string>{277,207}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{542,1},{277,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-45}</string>
                <key>spriteSize</key>
                <string>{277,205}</string>
                <key>spriteSourceSize</key>
                <string>{459,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{277,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-124}</string>
                <key>spriteSize</key>
                <string>{216,273}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1649,212},{216,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-127}</string>
                <key>spriteSize</key>
                <string>{214,267}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{279,210},{214,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-47}</string>
                <key>spriteSize</key>
                <string>{208,439}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{821,1},{208,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-35}</string>
                <key>spriteSize</key>
                <string>{252,461}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1306,1127},{252,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{236,483}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,880},{236,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{238,483}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1311,887},{238,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-19}</string>
                <key>spriteSize</key>
                <string>{228,483}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{549,651},{228,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-9}</string>
                <key>spriteSize</key>
                <string>{208,503}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1262,1},{208,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-10}</string>
                <key>spriteSize</key>
                <string>{250,501}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{803,1127},{250,501}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-9}</string>
                <key>spriteSize</key>
                <string>{282,503}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{807,1381},{282,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,-23}</string>
                <key>spriteSize</key>
                <string>{280,477}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{328,1379},{280,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-116}</string>
                <key>spriteSize</key>
                <string>{220,301}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{276,427},{220,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,-119}</string>
                <key>spriteSize</key>
                <string>{368,317}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1710,1405},{368,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-117}</string>
                <key>spriteSize</key>
                <string>{396,309}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1312,1381},{396,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-143}</string>
                <key>spriteSize</key>
                <string>{240,259}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{773,881},{240,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-143}</string>
                <key>spriteSize</key>
                <string>{242,259}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1796,887},{242,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_skill_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-144}</string>
                <key>spriteSize</key>
                <string>{248,259}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,1118},{248,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-145}</string>
                <key>spriteSize</key>
                <string>{230,259}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1572,655},{230,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-129}</string>
                <key>spriteSize</key>
                <string>{236,285}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{486,881},{236,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-124}</string>
                <key>spriteSize</key>
                <string>{220,273}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1,423},{220,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_skill_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-124}</string>
                <key>spriteSize</key>
                <string>{216,273}</string>
                <key>spriteSourceSize</key>
                <string>{580,727}</string>
                <key>textureRect</key>
                <string>{{1649,212},{216,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{215,274}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{820,211},{215,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{213,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1,208},{213,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{215,276}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1096,211},{215,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{221,274}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{579,428},{221,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{223,274}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1401,430},{223,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{229,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1,645},{229,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{229,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{275,649},{229,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{223,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{1677,430},{223,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{221,272}</string>
                <key>spriteSourceSize</key>
                <string>{247,308}</string>
                <key>textureRect</key>
                <string>{{855,428},{221,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>23-3.png</string>
            <key>size</key>
            <string>{2039,1774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:795b8a602d82fb6c553f2020c4c646b0:b8b1a83b409605c941e8bf013d56b3b5:cb646fb84f8459069bd0846a49829fb3$</string>
            <key>textureFileName</key>
            <string>23-3.png</string>
        </dict>
    </dict>
</plist>
