<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-178,-140}</string>
                <key>spriteSize</key>
                <string>{335,266}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1753,1502},{335,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-175,-138}</string>
                <key>spriteSize</key>
                <string>{327,274}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1057,1718},{327,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,-138}</string>
                <key>spriteSize</key>
                <string>{339,268}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{703,1752},{339,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-196,-139}</string>
                <key>spriteSize</key>
                <string>{347,264}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{354,1782},{347,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-224,-155}</string>
                <key>spriteSize</key>
                <string>{351,264}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1782},{351,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-215,-150}</string>
                <key>spriteSize</key>
                <string>{333,290}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1634,871},{333,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{589,568}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,607},{589,568}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-12}</string>
                <key>spriteSize</key>
                <string>{577,604}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1},{577,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{541,582}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1198},{541,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{549,580}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{580,1},{549,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-29}</string>
                <key>spriteSize</key>
                <string>{535,520}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{580,583},{535,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-14}</string>
                <key>spriteSize</key>
                <string>{511,552}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{544,1198},{511,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-15}</string>
                <key>spriteSize</key>
                <string>{517,554}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1131,1},{517,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-68}</string>
                <key>spriteSize</key>
                <string>{515,422}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1117,863},{515,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-12}</string>
                <key>spriteSize</key>
                <string>{343,327}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1664,542},{343,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,22}</string>
                <key>spriteSize</key>
                <string>{337,266}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1753,1163},{337,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,68}</string>
                <key>spriteSize</key>
                <string>{307,280}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1421,1688},{307,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-35}</string>
                <key>spriteSize</key>
                <string>{362,429}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1057,1287},{362,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-33}</string>
                <key>spriteSize</key>
                <string>{312,539}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1650,1},{312,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-15}</string>
                <key>spriteSize</key>
                <string>{304,531}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1131,557},{304,531}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-91}</string>
                <key>spriteSize</key>
                <string>{330,399}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1421,1287},{330,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11-0.png</string>
            <key>size</key>
            <string>{2020,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0841469da3672b5c9e8077d196065087:9451335a8690084b4df231bfcd027881:f0d4bd1c5661b41d1366716eabeffdd0$</string>
            <key>textureFileName</key>
            <string>11-0.png</string>
        </dict>
    </dict>
</plist>
