<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-31}</string>
                <key>spriteSize</key>
                <string>{525,522}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1},{525,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-64}</string>
                <key>spriteSize</key>
                <string>{505,454}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1057,1},{505,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-61}</string>
                <key>spriteSize</key>
                <string>{517,448}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1054},{517,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,-63}</string>
                <key>spriteSize</key>
                <string>{503,436}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{755,457},{503,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-65}</string>
                <key>spriteSize</key>
                <string>{507,440}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1573},{507,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-64}</string>
                <key>spriteSize</key>
                <string>{527,448}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,525},{527,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-63}</string>
                <key>spriteSize</key>
                <string>{527,444}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{528,1},{527,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-65}</string>
                <key>spriteSize</key>
                <string>{515,418}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{763,895},{515,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,14}</string>
                <key>spriteSize</key>
                <string>{363,269}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1260,457},{363,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{338,495}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1501,997},{338,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{346,495}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1531,649},{346,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-51}</string>
                <key>spriteSize</key>
                <string>{358,459}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{510,1573},{358,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-28}</string>
                <key>spriteSize</key>
                <string>{312,529}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{870,1412},{312,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{302,531}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{451,525},{302,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-17}</string>
                <key>spriteSize</key>
                <string>{304,523}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1184,1406},{304,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{304,523}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1501,1337},{304,523}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{310,513}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{451,1058},{310,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-24}</string>
                <key>spriteSize</key>
                <string>{316,509}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1183,895},{316,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-40}</string>
                <key>spriteSize</key>
                <string>{320,475}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1564,327},{320,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-40}</string>
                <key>spriteSize</key>
                <string>{324,475}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1564,1},{324,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-84}</string>
                <key>spriteSize</key>
                <string>{324,389}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1490,1643},{324,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11-1.png</string>
            <key>size</key>
            <string>{2040,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0841469da3672b5c9e8077d196065087:9451335a8690084b4df231bfcd027881:f0d4bd1c5661b41d1366716eabeffdd0$</string>
            <key>textureFileName</key>
            <string>11-1.png</string>
        </dict>
    </dict>
</plist>
