<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-185,-145}</string>
                <key>spriteSize</key>
                <string>{343,252}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1072,1},{343,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-202,-142}</string>
                <key>spriteSize</key>
                <string>{361,258}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1314,1476},{361,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-210,-146}</string>
                <key>spriteSize</key>
                <string>{365,252}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{705,1},{365,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-219,-149}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-223,-155}</string>
                <key>spriteSize</key>
                <string>{347,282}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1030,1280},{347,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-220,-154}</string>
                <key>spriteSize</key>
                <string>{343,292}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1722,1218},{343,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-184,-146}</string>
                <key>spriteSize</key>
                <string>{343,252}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1417,1},{343,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-185,-145}</string>
                <key>spriteSize</key>
                <string>{343,252}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1072,1},{343,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,38}</string>
                <key>spriteSize</key>
                <string>{343,253}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1036,255},{343,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{377,287}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1,1534},{377,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-9}</string>
                <key>spriteSize</key>
                <string>{361,311}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{380,1537},{361,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,32}</string>
                <key>spriteSize</key>
                <string>{341,261}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1379,817},{341,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,38}</string>
                <key>spriteSize</key>
                <string>{343,253}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1036,255},{343,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,58}</string>
                <key>spriteSize</key>
                <string>{343,252}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1,249},{343,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,55}</string>
                <key>spriteSize</key>
                <string>{309,320}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1715,651},{309,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{343,251}</string>
                <key>spriteSourceSize</key>
                <string>{343,303}</string>
                <key>textureRect</key>
                <string>{{360,1},{343,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{343,251}</string>
                <key>spriteSourceSize</key>
                <string>{343,303}</string>
                <key>textureRect</key>
                <string>{{360,1},{343,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-111}</string>
                <key>spriteSize</key>
                <string>{342,253}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1381,255},{342,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-115}</string>
                <key>spriteSize</key>
                <string>{328,255}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1762,1},{328,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-113}</string>
                <key>spriteSize</key>
                <string>{318,281}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1725,331},{318,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-86}</string>
                <key>spriteSize</key>
                <string>{328,391}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1677,1563},{328,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-89}</string>
                <key>spriteSize</key>
                <string>{328,393}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{743,1629},{328,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-136}</string>
                <key>spriteSize</key>
                <string>{330,305}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1383,510},{330,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-111}</string>
                <key>spriteSize</key>
                <string>{342,253}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1381,255},{342,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{343,252}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{346,254},{343,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{343,252}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{691,255},{343,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{343,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,503},{343,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{343,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{346,508},{343,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{343,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{691,509},{343,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{343,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,759},{343,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{345,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1036,510},{345,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{343,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{346,764},{343,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{343,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{691,765},{343,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{343,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{687,1021},{343,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{343,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1032,1022},{343,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{343,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1377,1218},{343,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,1271},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{344,1276},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{687,1279},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{341,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1036,766},{341,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{341,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1642,962},{341,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{341,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,1015},{341,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{341,254}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{344,1020},{341,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{343,252}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{346,254},{343,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11-2.png</string>
            <key>size</key>
            <string>{2036,1958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0841469da3672b5c9e8077d196065087:9451335a8690084b4df231bfcd027881:f0d4bd1c5661b41d1366716eabeffdd0$</string>
            <key>textureFileName</key>
            <string>11-2.png</string>
        </dict>
    </dict>
</plist>
