<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-181,-142}</string>
                <key>spriteSize</key>
                <string>{339,260}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1358,1041},{339,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-218,-154}</string>
                <key>spriteSize</key>
                <string>{339,294}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1,1561},{339,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-216,-153}</string>
                <key>spriteSize</key>
                <string>{335,294}</string>
                <key>spriteSourceSize</key>
                <string>{805,638}</string>
                <key>textureRect</key>
                <string>{{1699,1109},{335,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-12}</string>
                <key>spriteSize</key>
                <string>{335,333}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{677,1578},{335,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-11}</string>
                <key>spriteSize</key>
                <string>{335,337}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1351,1600},{335,337}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{333,335}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1014,1582},{333,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{329,333}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{342,1561},{329,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{333,295}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{1363,1303},{333,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,26}</string>
                <key>spriteSize</key>
                <string>{339,277}</string>
                <key>spriteSourceSize</key>
                <string>{413,359}</string>
                <key>textureRect</key>
                <string>{{682,1299},{339,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,37}</string>
                <key>spriteSize</key>
                <string>{337,260}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1,1293},{337,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,-76}</string>
                <key>spriteSize</key>
                <string>{289,292}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1706,521},{289,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_skill_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-110}</string>
                <key>spriteSize</key>
                <string>{340,257}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1020,259},{340,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-110}</string>
                <key>spriteSize</key>
                <string>{338,259}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1018,1038},{338,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-111}</string>
                <key>spriteSize</key>
                <string>{336,257}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1362,259},{336,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-112}</string>
                <key>spriteSize</key>
                <string>{334,257}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1700,262},{334,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-118}</string>
                <key>spriteSize</key>
                <string>{324,259}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1708,1},{324,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-105}</string>
                <key>spriteSize</key>
                <string>{336,277}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1698,1405},{336,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-130}</string>
                <key>spriteSize</key>
                <string>{334,295}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1700,812},{334,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-123}</string>
                <key>spriteSize</key>
                <string>{338,277}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{1023,1303},{338,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_skill_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-117}</string>
                <key>spriteSize</key>
                <string>{340,261}</string>
                <key>spriteSourceSize</key>
                <string>{784,611}</string>
                <key>textureRect</key>
                <string>{{340,1298},{340,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{339,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{344,1},{339,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{339,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{685,1},{339,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{339,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1026,1},{339,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{339,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,513},{339,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{339,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{342,517},{339,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{339,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{683,518},{339,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{339,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1024,518},{339,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{339,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1365,521},{339,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{339,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,773},{339,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{339,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{342,777},{339,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,18}</string>
                <key>spriteSize</key>
                <string>{337,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{683,778},{337,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{337,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1022,778},{337,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{337,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1361,781},{337,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{337,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,1033},{337,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{337,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{340,1037},{337,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{337,258}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{679,1038},{337,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{337,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{342,259},{337,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{337,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{681,259},{337,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{339,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1367,1},{339,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{339,256}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,255},{339,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{341,252}</string>
                <key>spriteSourceSize</key>
                <string>{355,310}</string>
                <key>textureRect</key>
                <string>{{1,1},{341,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11-3.png</string>
            <key>size</key>
            <string>{2035,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0841469da3672b5c9e8077d196065087:9451335a8690084b4df231bfcd027881:f0d4bd1c5661b41d1366716eabeffdd0$</string>
            <key>textureFileName</key>
            <string>11-3.png</string>
        </dict>
    </dict>
</plist>
