<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-84}</string>
                <key>spriteSize</key>
                <string>{285,278}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1,1},{285,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-84}</string>
                <key>spriteSize</key>
                <string>{285,278}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1,281},{285,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-83}</string>
                <key>spriteSize</key>
                <string>{285,280}</string>
                <key>spriteSourceSize</key>
                <string>{497,466}</string>
                <key>textureRect</key>
                <string>{{1,561},{285,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11-5.png</string>
            <key>size</key>
            <string>{287,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0841469da3672b5c9e8077d196065087:9451335a8690084b4df231bfcd027881:f0d4bd1c5661b41d1366716eabeffdd0$</string>
            <key>textureFileName</key>
            <string>11-5.png</string>
        </dict>
    </dict>
</plist>
