<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,5}</string>
                <key>spriteSize</key>
                <string>{232,254}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1786,970},{232,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,5}</string>
                <key>spriteSize</key>
                <string>{220,254}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{0,1224},{220,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,5}</string>
                <key>spriteSize</key>
                <string>{210,254}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{220,1224},{210,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,4}</string>
                <key>spriteSize</key>
                <string>{200,252}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{928,970},{200,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{202,252}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1128,970},{202,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{214,252}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1330,970},{214,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,250}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{466,970},{226,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{232,248}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{0,970},{232,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{234,248}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{232,970},{234,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{234,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1132,724},{234,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{230,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1366,724},{230,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{226,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1596,724},{226,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{224,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{1822,724},{224,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{226,244}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{680,724},{226,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{226,244}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{906,724},{226,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{226,242}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{216,724},{226,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{236,250}</string>
                <key>spriteSourceSize</key>
                <string>{360,334}</string>
                <key>textureRect</key>
                <string>{{692,970},{236,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,5}</string>
                <key>spriteSize</key>
                <string>{238,254}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{430,1224},{238,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,5}</string>
                <key>spriteSize</key>
                <string>{242,252}</string>
                <key>spriteSourceSize</key>
                <string>{334,320}</string>
                <key>textureRect</key>
                <string>{{1544,970},{242,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,9}</string>
                <key>spriteSize</key>
                <string>{248,254}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{668,1224},{248,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,35}</string>
                <key>spriteSize</key>
                <string>{238,242}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{442,724},{238,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,24}</string>
                <key>spriteSize</key>
                <string>{216,238}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{0,724},{216,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,12}</string>
                <key>spriteSize</key>
                <string>{202,236}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1644,488},{202,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-6}</string>
                <key>spriteSize</key>
                <string>{208,234}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1436,488},{208,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-20}</string>
                <key>spriteSize</key>
                <string>{262,218}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1174,488},{262,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-50}</string>
                <key>spriteSize</key>
                <string>{270,180}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{314,488},{270,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-85}</string>
                <key>spriteSize</key>
                <string>{288,212}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{886,488},{288,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-78}</string>
                <key>spriteSize</key>
                <string>{302,184}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{584,488},{302,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-64}</string>
                <key>spriteSize</key>
                <string>{306,166}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{304,320},{306,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-62}</string>
                <key>spriteSize</key>
                <string>{306,168}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1238,320},{306,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-66}</string>
                <key>spriteSize</key>
                <string>{304,164}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{0,320},{304,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-67}</string>
                <key>spriteSize</key>
                <string>{306,168}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1544,320},{306,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-70}</string>
                <key>spriteSize</key>
                <string>{312,166}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{610,320},{312,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-77}</string>
                <key>spriteSize</key>
                <string>{314,168}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{0,488},{314,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-78}</string>
                <key>spriteSize</key>
                <string>{316,166}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{922,320},{316,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-80}</string>
                <key>spriteSize</key>
                <string>{316,162}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1264,158},{316,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-80}</string>
                <key>spriteSize</key>
                <string>{316,162}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1580,158},{316,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-81}</string>
                <key>spriteSize</key>
                <string>{316,160}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{0,158},{316,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-81}</string>
                <key>spriteSize</key>
                <string>{316,160}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{316,158},{316,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-81}</string>
                <key>spriteSize</key>
                <string>{316,160}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{632,158},{316,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-81}</string>
                <key>spriteSize</key>
                <string>{316,160}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{948,158},{316,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-82}</string>
                <key>spriteSize</key>
                <string>{318,158}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{954,0},{318,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-82}</string>
                <key>spriteSize</key>
                <string>{318,158}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1272,0},{318,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-82}</string>
                <key>spriteSize</key>
                <string>{318,158}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{1590,0},{318,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-83}</string>
                <key>spriteSize</key>
                <string>{318,156}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{0,0},{318,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-83}</string>
                <key>spriteSize</key>
                <string>{318,156}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{318,0},{318,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-83}</string>
                <key>spriteSize</key>
                <string>{318,156}</string>
                <key>spriteSourceSize</key>
                <string>{504,418}</string>
                <key>textureRect</key>
                <string>{{636,0},{318,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{916,1224},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1170,1224},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1426,1224},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1682,1224},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{258,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{0,1478},{258,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{258,1478},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{514,1478},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{258,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{770,1478},{258,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1028,1478},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1284,1478},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1540,1478},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{0,1732},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{256,1732},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{512,1732},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{766,1732},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{252,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1020,1732},{252,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{252,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1272,1732},{252,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{250,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1524,1732},{250,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{248,254}</string>
                <key>spriteSourceSize</key>
                <string>{262,302}</string>
                <key>textureRect</key>
                <string>{{1774,1732},{248,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>6-0.png</string>
            <key>size</key>
            <string>{2046,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f382031b79baf0be4cd51395cfb87a9a:91bd508ef6aa50f915bdf1b9f2ab9585:9a80eba86e4aaea9342fd8cf65601893$</string>
            <key>textureFileName</key>
            <string>6-0.png</string>
        </dict>
    </dict>
</plist>
