<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-8}</string>
                <key>spriteSize</key>
                <string>{233,255}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{242,621},{233,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,17}</string>
                <key>spriteSize</key>
                <string>{233,283}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{756,652},{233,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,49}</string>
                <key>spriteSize</key>
                <string>{207,345}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{980,1},{207,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-21}</string>
                <key>spriteSize</key>
                <string>{295,245}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{1,1094},{295,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-24}</string>
                <key>spriteSize</key>
                <string>{287,247}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{1331,1134},{287,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-18}</string>
                <key>spriteSize</key>
                <string>{399,217}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{850,210},{399,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-16}</string>
                <key>spriteSize</key>
                <string>{403,221}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{768,429},{403,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-49}</string>
                <key>spriteSize</key>
                <string>{217,329}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{1,173},{217,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-8}</string>
                <key>spriteSize</key>
                <string>{233,255}</string>
                <key>spriteSourceSize</key>
                <string>{551,531}</string>
                <key>textureRect</key>
                <string>{{499,641},{233,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,27}</string>
                <key>spriteSize</key>
                <string>{226,237}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{1703,431},{226,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,27}</string>
                <key>spriteSize</key>
                <string>{238,235}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{1807,659},{238,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,16}</string>
                <key>spriteSize</key>
                <string>{250,255}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{1620,1138},{250,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{246,259}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{546,1124},{246,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{240,259}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{1787,896},{240,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{236,261}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{1004,892},{236,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{246,261}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{807,1130},{246,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{246,259}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{1070,1131},{246,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,19}</string>
                <key>spriteSize</key>
                <string>{238,257}</string>
                <key>spriteSourceSize</key>
                <string>{304,295}</string>
                <key>textureRect</key>
                <string>{{1528,894},{238,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,46}</string>
                <key>spriteSize</key>
                <string>{233,254}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{1041,657},{233,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,56}</string>
                <key>spriteSize</key>
                <string>{237,238}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{1,851},{237,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,69}</string>
                <key>spriteSize</key>
                <string>{239,234}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{1,615},{239,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,73}</string>
                <key>spriteSize</key>
                <string>{245,246}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{298,1113},{245,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,63}</string>
                <key>spriteSize</key>
                <string>{255,218}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{1775,211},{255,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,57}</string>
                <key>spriteSize</key>
                <string>{261,208}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{1327,1},{261,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,50}</string>
                <key>spriteSize</key>
                <string>{273,208}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{1590,1},{273,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-21}</string>
                <key>spriteSize</key>
                <string>{243,236}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{241,856},{243,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-31}</string>
                <key>spriteSize</key>
                <string>{307,194}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{671,1},{307,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-44}</string>
                <key>spriteSize</key>
                <string>{323,174}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{346,1},{323,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-49}</string>
                <key>spriteSize</key>
                <string>{343,170}</string>
                <key>spriteSourceSize</key>
                <string>{399,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{233,253}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1297,657},{233,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{233,253}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1552,659},{233,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{223,251}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{252,396},{223,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{221,249}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1,392},{221,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{217,257}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{332,177},{217,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,11}</string>
                <key>spriteSize</key>
                <string>{217,257}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{591,197},{217,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,10}</string>
                <key>spriteSize</key>
                <string>{217,259}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1251,211},{217,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{217,261}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1512,211},{217,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{223,261}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{505,416},{223,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{225,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1173,430},{225,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{225,263}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1438,430},{225,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{237,259}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1267,892},{237,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{235,257}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{486,876},{235,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,12}</string>
                <key>spriteSize</key>
                <string>{235,257}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{745,887},{235,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{233,253}</string>
                <key>spriteSourceSize</key>
                <string>{245,281}</string>
                <key>textureRect</key>
                <string>{{1297,657},{233,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2-2.png</string>
            <key>size</key>
            <string>{2047,1389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ef66aa182f727720851170024c74a1:061488aafd94653ef3806bb1742d6dc2:b60b5b0d13bfc0ef27ea81320d1bf09a$</string>
            <key>textureFileName</key>
            <string>2-2.png</string>
        </dict>
    </dict>
</plist>
