<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-32}</string>
                <key>spriteSize</key>
                <string>{277,259}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{975,1},{277,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-30}</string>
                <key>spriteSize</key>
                <string>{243,263}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1733,807},{243,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-29}</string>
                <key>spriteSize</key>
                <string>{239,261}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1286,1096},{239,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-31}</string>
                <key>spriteSize</key>
                <string>{229,259}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1508,543},{229,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-38}</string>
                <key>spriteSize</key>
                <string>{281,245}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{728,1},{281,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-39}</string>
                <key>spriteSize</key>
                <string>{283,241}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{495,307},{283,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,10}</string>
                <key>spriteSize</key>
                <string>{223,331}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,1},{223,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,8}</string>
                <key>spriteSize</key>
                <string>{221,325}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,334},{221,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,7}</string>
                <key>spriteSize</key>
                <string>{227,323}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,661},{227,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-4}</string>
                <key>spriteSize</key>
                <string>{241,305}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{226,1},{241,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-2}</string>
                <key>spriteSize</key>
                <string>{224,253}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1034,1386},{224,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{266,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1741,1},{266,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{294,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1,1282},{294,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-1}</string>
                <key>spriteSize</key>
                <string>{290,253}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{292,938},{290,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{292,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{230,644},{292,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{294,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{260,1282},{294,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,1}</string>
                <key>spriteSize</key>
                <string>{276,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{519,1230},{276,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,15}</string>
                <key>spriteSize</key>
                <string>{276,257}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{547,933},{276,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{266,253}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1741,269},{266,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,6}</string>
                <key>spriteSize</key>
                <string>{304,257}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{469,1},{304,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,15}</string>
                <key>spriteSize</key>
                <string>{308,269}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{224,334},{308,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,28}</string>
                <key>spriteSize</key>
                <string>{294,289}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1,986},{294,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,32}</string>
                <key>spriteSize</key>
                <string>{272,287}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{489,644},{272,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,9}</string>
                <key>spriteSize</key>
                <string>{280,243}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{738,284},{280,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,6}</string>
                <key>spriteSize</key>
                <string>{274,239}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{763,566},{274,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,1}</string>
                <key>spriteSize</key>
                <string>{268,231}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1492,1},{268,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-25}</string>
                <key>spriteSize</key>
                <string>{234,223}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1508,804},{234,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-44}</string>
                <key>spriteSize</key>
                <string>{236,177}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1314,815},{236,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-52}</string>
                <key>spriteSize</key>
                <string>{240,171}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1527,1040},{240,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-56}</string>
                <key>spriteSize</key>
                <string>{244,157}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1758,1360},{244,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-55}</string>
                <key>spriteSize</key>
                <string>{248,151}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1700,1207},{248,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-56}</string>
                <key>spriteSize</key>
                <string>{248,151}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1605,1360},{248,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-57}</string>
                <key>spriteSize</key>
                <string>{248,153}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1700,1052},{248,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-58}</string>
                <key>spriteSize</key>
                <string>{248,155}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1448,1359},{248,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-60}</string>
                <key>spriteSize</key>
                <string>{248,157}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1289,1359},{248,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1004,554},{270,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1237,273},{270,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1034,1114},{270,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{268,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1062,826},{268,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{268,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1256,545},{268,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{268,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1489,273},{268,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{268,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1741,537},{268,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{270,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1236,1},{270,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{270,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{778,1211},{270,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{270,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{806,842},{270,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{983,280},{272,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>15-0.png</string>
            <key>size</key>
            <string>{1999,1611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39b7f92025730ba9ede2dddf64ccbfc4:ad33dd15cd3548d063467e6f5c0b324d:846b88207f9a22a37daf5ac744efc690$</string>
            <key>textureFileName</key>
            <string>15-0.png</string>
        </dict>
    </dict>
</plist>
