<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-32}</string>
                <key>spriteSize</key>
                <string>{305,259}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{543,1204},{305,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-31}</string>
                <key>spriteSize</key>
                <string>{313,259}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{850,1210},{313,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-30}</string>
                <key>spriteSize</key>
                <string>{261,261}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,1174},{261,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-32}</string>
                <key>spriteSize</key>
                <string>{215,257}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1704,1},{215,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-36}</string>
                <key>spriteSize</key>
                <string>{261,249}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{880,443},{261,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,4}</string>
                <key>spriteSize</key>
                <string>{229,319}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{324,208},{229,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,8}</string>
                <key>spriteSize</key>
                <string>{229,327}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{645,212},{229,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,9}</string>
                <key>spriteSize</key>
                <string>{209,329}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{796,1},{209,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,9}</string>
                <key>spriteSize</key>
                <string>{205,329}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{465,1},{205,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,8}</string>
                <key>spriteSize</key>
                <string>{209,327}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1127,1},{209,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,7}</string>
                <key>spriteSize</key>
                <string>{229,323}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{974,212},{229,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,6}</string>
                <key>spriteSize</key>
                <string>{231,321}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1299,216},{231,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,6}</string>
                <key>spriteSize</key>
                <string>{231,321}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1622,218},{231,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,5}</string>
                <key>spriteSize</key>
                <string>{227,321}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,188},{227,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-15}</string>
                <key>spriteSize</key>
                <string>{249,285}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1143,449},{249,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-33}</string>
                <key>spriteSize</key>
                <string>{277,259}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{264,1196},{277,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{296,259}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1165,1213},{296,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{294,259}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1463,1213},{294,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{288,259}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1759,1213},{288,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{284,245}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1,417},{284,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,43}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{567,443},{248,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,10}</string>
                <key>spriteSize</key>
                <string>{278,245}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{287,439},{278,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{246,213}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1456,1},{246,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-30}</string>
                <key>spriteSize</key>
                <string>{224,185}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{239,1},{224,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-49}</string>
                <key>spriteSize</key>
                <string>{236,177}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{272,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1,664},{272,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{274,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{275,686},{274,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{276,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{551,947},{276,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,7}</string>
                <key>spriteSize</key>
                <string>{276,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{829,948},{276,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{278,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1107,954},{278,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{280,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1387,957},{280,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{280,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{551,693},{280,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,7}</string>
                <key>spriteSize</key>
                <string>{282,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{833,694},{282,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{282,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1117,700},{282,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{282,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1669,957},{282,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,5}</string>
                <key>spriteSize</key>
                <string>{282,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1401,703},{282,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{282,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1685,703},{282,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,5}</string>
                <key>spriteSize</key>
                <string>{282,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1430,451},{282,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{280,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1714,451},{280,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{272,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1,918},{272,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{274,254}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{275,940},{274,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>15-1.png</string>
            <key>size</key>
            <string>{2048,1473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39b7f92025730ba9ede2dddf64ccbfc4:ad33dd15cd3548d063467e6f5c0b324d:846b88207f9a22a37daf5ac744efc690$</string>
            <key>textureFileName</key>
            <string>15-1.png</string>
        </dict>
    </dict>
</plist>
