<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{321,261}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{560,1224},{321,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-35}</string>
                <key>spriteSize</key>
                <string>{219,253}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{923,1},{219,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-42}</string>
                <key>spriteSize</key>
                <string>{275,237}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1090,222},{275,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-42}</string>
                <key>spriteSize</key>
                <string>{263,237}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1367,222},{263,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,10}</string>
                <key>spriteSize</key>
                <string>{217,331}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{328,1},{217,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,8}</string>
                <key>spriteSize</key>
                <string>{215,325}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,8}</string>
                <key>spriteSize</key>
                <string>{219,325}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1178,1},{219,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,4}</string>
                <key>spriteSize</key>
                <string>{221,319}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1727,1},{221,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,3}</string>
                <key>spriteSize</key>
                <string>{233,319}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,218},{233,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-28}</string>
                <key>spriteSize</key>
                <string>{263,261}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1,1218},{263,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-29}</string>
                <key>spriteSize</key>
                <string>{273,261}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{883,1224},{273,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-30}</string>
                <key>spriteSize</key>
                <string>{277,261}</string>
                <key>spriteSourceSize</key>
                <string>{383,409}</string>
                <key>textureRect</key>
                <string>{{1158,1227},{277,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,1}</string>
                <key>spriteSize</key>
                <string>{276,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1469,970},{276,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{236,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{588,220},{236,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-1}</string>
                <key>spriteSize</key>
                <string>{238,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1632,224},{238,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-1}</string>
                <key>spriteSize</key>
                <string>{288,257}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1747,970},{288,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{284,255}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{1,961},{284,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{290,255}</string>
                <key>spriteSourceSize</key>
                <string>{362,307}</string>
                <key>textureRect</key>
                <string>{{287,964},{290,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{264,233}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{322,220},{264,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,2}</string>
                <key>spriteSize</key>
                <string>{304,255}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{579,967},{304,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,1}</string>
                <key>spriteSize</key>
                <string>{292,259}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{266,1221},{292,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,3}</string>
                <key>spriteSize</key>
                <string>{300,255}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{885,967},{300,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,38}</string>
                <key>spriteSize</key>
                <string>{266,305}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1742,1229},{266,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,41}</string>
                <key>spriteSize</key>
                <string>{262,303}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1437,1229},{262,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,16}</string>
                <key>spriteSize</key>
                <string>{280,255}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1187,970},{280,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{260,217}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{661,1},{260,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-37}</string>
                <key>spriteSize</key>
                <string>{220,219}</string>
                <key>spriteSourceSize</key>
                <string>{404,451}</string>
                <key>textureRect</key>
                <string>{{1505,1},{220,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{241,236}</string>
                <key>spriteSourceSize</key>
                <string>{279,288}</string>
                <key>textureRect</key>
                <string>{{847,222},{241,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{241,236}</string>
                <key>spriteSourceSize</key>
                <string>{279,288}</string>
                <key>textureRect</key>
                <string>{{847,222},{241,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{280,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{277,707},{280,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{280,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{829,713},{280,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,4}</string>
                <key>spriteSize</key>
                <string>{278,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1,453},{278,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,3}</string>
                <key>spriteSize</key>
                <string>{278,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{281,455},{278,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,3}</string>
                <key>spriteSize</key>
                <string>{276,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{561,458},{276,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{274,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1,705},{274,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{274,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{839,461},{274,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{272,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1115,461},{272,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{272,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1389,464},{272,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,3}</string>
                <key>spriteSize</key>
                <string>{270,250}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1663,464},{270,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{268,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{559,710},{268,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{268,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1111,713},{268,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{270,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1381,716},{270,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{270,252}</string>
                <key>spriteSourceSize</key>
                <string>{312,288}</string>
                <key>textureRect</key>
                <string>{{1653,716},{270,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>15-2.png</string>
            <key>size</key>
            <string>{2048,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39b7f92025730ba9ede2dddf64ccbfc4:ad33dd15cd3548d063467e6f5c0b324d:846b88207f9a22a37daf5ac744efc690$</string>
            <key>textureFileName</key>
            <string>15-2.png</string>
        </dict>
    </dict>
</plist>
