<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,1}</string>
                <key>spriteSize</key>
                <string>{201,252}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{531,688},{201,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,2}</string>
                <key>spriteSize</key>
                <string>{207,254}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1421,688},{207,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,2}</string>
                <key>spriteSize</key>
                <string>{213,252}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{732,688},{213,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-137,3}</string>
                <key>spriteSize</key>
                <string>{215,254}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1628,688},{215,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-145,2}</string>
                <key>spriteSize</key>
                <string>{219,252}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{945,688},{219,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-154,1}</string>
                <key>spriteSize</key>
                <string>{221,250}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1134,438},{221,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-164,0}</string>
                <key>spriteSize</key>
                <string>{221,248}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{913,438},{221,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-170,-3}</string>
                <key>spriteSize</key>
                <string>{231,242}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{682,438},{231,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-175,-7}</string>
                <key>spriteSize</key>
                <string>{241,234}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{0,438},{241,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-176,-11}</string>
                <key>spriteSize</key>
                <string>{243,226}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{733,208},{243,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-177,-14}</string>
                <key>spriteSize</key>
                <string>{245,220}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{488,208},{245,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-177,-18}</string>
                <key>spriteSize</key>
                <string>{245,212}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{243,208},{245,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-177,-21}</string>
                <key>spriteSize</key>
                <string>{245,206}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{839,0},{245,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-178,-20}</string>
                <key>spriteSize</key>
                <string>{247,208}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1576,0},{247,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-176,-21}</string>
                <key>spriteSize</key>
                <string>{243,208}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{0,208},{243,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-175,-21}</string>
                <key>spriteSize</key>
                <string>{239,206}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1084,0},{239,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-174,-22}</string>
                <key>spriteSize</key>
                <string>{237,204}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{602,0},{237,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-172,-24}</string>
                <key>spriteSize</key>
                <string>{233,200}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{0,0},{233,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,65}</string>
                <key>spriteSize</key>
                <string>{267,378}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1520,1266},{267,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-21}</string>
                <key>spriteSize</key>
                <string>{441,234}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{241,438},{441,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-75}</string>
                <key>spriteSize</key>
                <string>{513,332}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{0,1266},{513,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-47}</string>
                <key>spriteSize</key>
                <string>{509,336}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{513,1266},{509,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-41}</string>
                <key>spriteSize</key>
                <string>{525,324}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1447,942},{525,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-11}</string>
                <key>spriteSize</key>
                <string>{541,286}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{906,942},{541,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-4}</string>
                <key>spriteSize</key>
                <string>{535,272}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{0,942},{535,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-2}</string>
                <key>spriteSize</key>
                <string>{531,250}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1355,438},{531,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-2}</string>
                <key>spriteSize</key>
                <string>{531,250}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{0,688},{531,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{483,230}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{976,208},{483,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{479,230}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1459,208},{479,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-23}</string>
                <key>spriteSize</key>
                <string>{253,206}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1323,0},{253,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,-58}</string>
                <key>spriteSize</key>
                <string>{257,252}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1164,688},{257,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-97}</string>
                <key>spriteSize</key>
                <string>{213,336}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1022,1266},{213,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-96}</string>
                <key>spriteSize</key>
                <string>{285,338}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1235,1266},{285,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-67}</string>
                <key>spriteSize</key>
                <string>{371,284}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{535,942},{371,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{369,202}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{233,0},{369,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3-0.png</string>
            <key>size</key>
            <string>{1972,1644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baec0e15f6e9ed6171a702b236875f81:ae75244caeffaaead85515cd3345f1da:9b4d255f4e0a6d0fcaee32cee2ff9666$</string>
            <key>textureFileName</key>
            <string>3-0.png</string>
        </dict>
    </dict>
</plist>
