<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,21}</string>
                <key>spriteSize</key>
                <string>{317,292}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{0,0},{317,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,25}</string>
                <key>spriteSize</key>
                <string>{277,298}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{317,0},{277,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,22}</string>
                <key>spriteSize</key>
                <string>{233,292}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{594,0},{233,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,17}</string>
                <key>spriteSize</key>
                <string>{181,282}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{827,0},{181,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,10}</string>
                <key>spriteSize</key>
                <string>{175,268}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1008,0},{175,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_atk_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,1}</string>
                <key>spriteSize</key>
                <string>{201,252}</string>
                <key>spriteSourceSize</key>
                <string>{715,646}</string>
                <key>textureRect</key>
                <string>{{1183,0},{201,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{201,253}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{1384,0},{201,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-8}</string>
                <key>spriteSize</key>
                <string>{171,251}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{1585,0},{171,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{185,251}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{1756,0},{185,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-11}</string>
                <key>spriteSize</key>
                <string>{211,245}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{0,298},{211,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-14}</string>
                <key>spriteSize</key>
                <string>{215,239}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{211,298},{215,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-18}</string>
                <key>spriteSize</key>
                <string>{219,231}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{426,298},{219,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-21}</string>
                <key>spriteSize</key>
                <string>{221,227}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{645,298},{221,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-27}</string>
                <key>spriteSize</key>
                <string>{223,229}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{866,298},{223,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{223,225}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{1089,298},{223,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-26}</string>
                <key>spriteSize</key>
                <string>{223,217}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{1312,298},{223,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-27}</string>
                <key>spriteSize</key>
                <string>{223,213}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{1535,298},{223,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-21}</string>
                <key>spriteSize</key>
                <string>{221,225}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{1758,298},{221,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-16}</string>
                <key>spriteSize</key>
                <string>{219,235}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{0,543},{219,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-12}</string>
                <key>spriteSize</key>
                <string>{215,243}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{219,543},{215,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{209,249}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{434,543},{209,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{201,253}</string>
                <key>spriteSourceSize</key>
                <string>{383,337}</string>
                <key>textureRect</key>
                <string>{{643,543},{201,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{202,253}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{844,543},{202,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,5}</string>
                <key>spriteSize</key>
                <string>{168,253}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1046,543},{168,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,7}</string>
                <key>spriteSize</key>
                <string>{160,251}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1214,543},{160,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,9}</string>
                <key>spriteSize</key>
                <string>{184,247}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1374,543},{184,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,16}</string>
                <key>spriteSize</key>
                <string>{208,233}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1558,543},{208,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,24}</string>
                <key>spriteSize</key>
                <string>{226,217}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1766,543},{226,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,27}</string>
                <key>spriteSize</key>
                <string>{244,209}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{0,796},{244,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,30}</string>
                <key>spriteSize</key>
                <string>{260,203}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{244,796},{260,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,12}</string>
                <key>spriteSize</key>
                <string>{312,219}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{504,796},{312,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{342,235}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{816,796},{342,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-24}</string>
                <key>spriteSize</key>
                <string>{366,279}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1158,796},{366,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-26}</string>
                <key>spriteSize</key>
                <string>{368,277}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1524,796},{368,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-29}</string>
                <key>spriteSize</key>
                <string>{368,269}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{0,1075},{368,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-32}</string>
                <key>spriteSize</key>
                <string>{370,253}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{368,1075},{370,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-37}</string>
                <key>spriteSize</key>
                <string>{370,235}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{738,1075},{370,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-46}</string>
                <key>spriteSize</key>
                <string>{372,223}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1108,1075},{372,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-57}</string>
                <key>spriteSize</key>
                <string>{374,207}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1480,1075},{374,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-77}</string>
                <key>spriteSize</key>
                <string>{384,173}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{0,1344},{384,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-88}</string>
                <key>spriteSize</key>
                <string>{396,151}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{384,1344},{396,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-95}</string>
                <key>spriteSize</key>
                <string>{396,137}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{780,1344},{396,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-104}</string>
                <key>spriteSize</key>
                <string>{396,123}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1176,1344},{396,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-104}</string>
                <key>spriteSize</key>
                <string>{396,127}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1572,1344},{396,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-104}</string>
                <key>spriteSize</key>
                <string>{394,133}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{0,1517},{394,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-104}</string>
                <key>spriteSize</key>
                <string>{394,137}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{394,1517},{394,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-106}</string>
                <key>spriteSize</key>
                <string>{394,133}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{788,1517},{394,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-107}</string>
                <key>spriteSize</key>
                <string>{394,131}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1182,1517},{394,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-108}</string>
                <key>spriteSize</key>
                <string>{394,129}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1576,1517},{394,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-109}</string>
                <key>spriteSize</key>
                <string>{394,127}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{0,1654},{394,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-108}</string>
                <key>spriteSize</key>
                <string>{396,127}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{394,1654},{396,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-108}</string>
                <key>spriteSize</key>
                <string>{394,127}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{790,1654},{394,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-108}</string>
                <key>spriteSize</key>
                <string>{394,125}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1184,1654},{394,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-108}</string>
                <key>spriteSize</key>
                <string>{394,125}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1578,1654},{394,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-108}</string>
                <key>spriteSize</key>
                <string>{394,125}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{0,1781},{394,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-107}</string>
                <key>spriteSize</key>
                <string>{394,125}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{394,1781},{394,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-107}</string>
                <key>spriteSize</key>
                <string>{394,125}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{788,1781},{394,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_die_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-107}</string>
                <key>spriteSize</key>
                <string>{394,123}</string>
                <key>spriteSourceSize</key>
                <string>{484,371}</string>
                <key>textureRect</key>
                <string>{{1182,1781},{394,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,23}</string>
                <key>spriteSize</key>
                <string>{204,209}</string>
                <key>spriteSourceSize</key>
                <string>{226,273}</string>
                <key>textureRect</key>
                <string>{{1576,1781},{204,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,23}</string>
                <key>spriteSize</key>
                <string>{204,209}</string>
                <key>spriteSourceSize</key>
                <string>{226,273}</string>
                <key>textureRect</key>
                <string>{{1780,1781},{204,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3-1.png</string>
            <key>size</key>
            <string>{1992,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baec0e15f6e9ed6171a702b236875f81:ae75244caeffaaead85515cd3345f1da:9b4d255f4e0a6d0fcaee32cee2ff9666$</string>
            <key>textureFileName</key>
            <string>3-1.png</string>
        </dict>
    </dict>
</plist>
