<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>28_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-111}</string>
                <key>spriteSize</key>
                <string>{253,260}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{951,1667},{253,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-32}</string>
                <key>spriteSize</key>
                <string>{261,418}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1514,431},{261,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-20}</string>
                <key>spriteSize</key>
                <string>{287,442}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{358,449},{287,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-12}</string>
                <key>spriteSize</key>
                <string>{321,458}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1,1357},{321,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-14}</string>
                <key>spriteSize</key>
                <string>{341,454}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1,901},{341,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-16}</string>
                <key>spriteSize</key>
                <string>{355,450}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1,449},{355,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-18}</string>
                <key>spriteSize</key>
                <string>{361,446}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1,1},{361,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-21}</string>
                <key>spriteSize</key>
                <string>{359,440}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{364,1},{359,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-23}</string>
                <key>spriteSize</key>
                <string>{355,436}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{725,1},{355,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-25}</string>
                <key>spriteSize</key>
                <string>{349,432}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1082,1},{349,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-27}</string>
                <key>spriteSize</key>
                <string>{343,428}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1433,1},{343,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-30}</string>
                <key>spriteSize</key>
                <string>{337,422}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1175,435},{337,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-32}</string>
                <key>spriteSize</key>
                <string>{331,418}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{589,893},{331,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-74}</string>
                <key>spriteSize</key>
                <string>{351,332}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1195,859},{351,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_atk_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-107}</string>
                <key>spriteSize</key>
                <string>{325,266}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1206,1580},{325,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{302,256}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{1448,1212},{302,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-15}</string>
                <key>spriteSize</key>
                <string>{264,262}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{1732,1474},{264,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{302,256}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{1448,1212},{302,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-38}</string>
                <key>spriteSize</key>
                <string>{344,231}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{605,1691},{344,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-35}</string>
                <key>spriteSize</key>
                <string>{366,249}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1197,1212},{366,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-22}</string>
                <key>spriteSize</key>
                <string>{382,269}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{926,1283},{382,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,6}</string>
                <key>spriteSize</key>
                <string>{376,319}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{605,1313},{376,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-15}</string>
                <key>spriteSize</key>
                <string>{430,277}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{896,439},{430,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,-30}</string>
                <key>spriteSize</key>
                <string>{436,247}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{647,443},{436,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,-35}</string>
                <key>spriteSize</key>
                <string>{444,243}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{344,901},{444,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-49}</string>
                <key>spriteSize</key>
                <string>{450,261}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1778,1},{450,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,-64}</string>
                <key>spriteSize</key>
                <string>{452,279}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{324,1357},{452,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-54}</string>
                <key>spriteSize</key>
                <string>{410,271}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{922,871},{410,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-53}</string>
                <key>spriteSize</key>
                <string>{292,265}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1706,1207},{292,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-59}</string>
                <key>spriteSize</key>
                <string>{296,213}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1474,1814},{296,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-77}</string>
                <key>spriteSize</key>
                <string>{290,211}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1,1817},{290,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-80}</string>
                <key>spriteSize</key>
                <string>{284,201}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1772,1738},{284,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-82}</string>
                <key>spriteSize</key>
                <string>{276,183}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{324,1811},{276,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,19}</string>
                <key>spriteSize</key>
                <string>{296,256}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1474,1516},{296,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,17}</string>
                <key>spriteSize</key>
                <string>{268,252}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1777,453},{268,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,16}</string>
                <key>spriteSize</key>
                <string>{266,250}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1777,955},{266,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,14}</string>
                <key>spriteSize</key>
                <string>{266,246}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1529,851},{266,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,14}</string>
                <key>spriteSize</key>
                <string>{268,246}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1777,707},{268,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>28-0.png</string>
            <key>size</key>
            <string>{2046,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ade993817e919f565b1afb5a1f120a7:87fab25cad4f2d58157f9396a175d619:15fa443471d698f0432b31554491cff8$</string>
            <key>textureFileName</key>
            <string>28-0.png</string>
        </dict>
    </dict>
</plist>
