<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>28_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-113}</string>
                <key>spriteSize</key>
                <string>{295,254}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{321,299},{295,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-113}</string>
                <key>spriteSize</key>
                <string>{289,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{411,1487},{289,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-113}</string>
                <key>spriteSize</key>
                <string>{281,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{922,1161},{281,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-113}</string>
                <key>spriteSize</key>
                <string>{281,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{927,1444},{281,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-113}</string>
                <key>spriteSize</key>
                <string>{279,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{831,576},{279,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-113}</string>
                <key>spriteSize</key>
                <string>{281,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{831,293},{281,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-113}</string>
                <key>spriteSize</key>
                <string>{275,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1463,257},{275,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-113}</string>
                <key>spriteSize</key>
                <string>{273,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1463,771},{273,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-113}</string>
                <key>spriteSize</key>
                <string>{269,256}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1463,1531},{269,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-112}</string>
                <key>spriteSize</key>
                <string>{263,258}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1180,1},{263,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-112}</string>
                <key>spriteSize</key>
                <string>{261,258}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1180,261},{261,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-112}</string>
                <key>spriteSize</key>
                <string>{257,258}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1089,521},{257,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-111}</string>
                <key>spriteSize</key>
                <string>{245,260}</string>
                <key>spriteSourceSize</key>
                <string>{505,558}</string>
                <key>textureRect</key>
                <string>{{1734,1611},{245,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{1735,1093},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-12}</string>
                <key>spriteSize</key>
                <string>{252,258}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{1735,1351},{252,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-19}</string>
                <key>spriteSize</key>
                <string>{290,252}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{577,297},{290,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-16}</string>
                <key>spriteSize</key>
                <string>{276,252}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{1185,1696},{276,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-14}</string>
                <key>spriteSize</key>
                <string>{286,244}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{585,589},{286,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{296,252}</string>
                <key>spriteSourceSize</key>
                <string>{602,532}</string>
                <key>textureRect</key>
                <string>{{1,901},{296,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-34}</string>
                <key>spriteSize</key>
                <string>{276,277}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1185,1417},{276,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-56}</string>
                <key>spriteSize</key>
                <string>{294,239}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1,1495},{294,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-100}</string>
                <key>spriteSize</key>
                <string>{294,167}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{242,1495},{294,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-100}</string>
                <key>spriteSize</key>
                <string>{296,163}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{162,601},{296,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-99}</string>
                <key>spriteSize</key>
                <string>{298,161}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1,301},{298,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-98}</string>
                <key>spriteSize</key>
                <string>{298,159}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1,601},{298,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-97}</string>
                <key>spriteSize</key>
                <string>{296,155}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{164,301},{296,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-97}</string>
                <key>spriteSize</key>
                <string>{296,155}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{257,1},{296,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-97}</string>
                <key>spriteSize</key>
                <string>{294,155}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{289,1791},{294,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_die_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-97}</string>
                <key>spriteSize</key>
                <string>{292,155}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{255,1193},{292,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_die_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-96}</string>
                <key>spriteSize</key>
                <string>{286,157}</string>
                <key>spriteSourceSize</key>
                <string>{716,619}</string>
                <key>textureRect</key>
                <string>{{1,1791},{286,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{294,256}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{414,1},{294,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,18}</string>
                <key>spriteSize</key>
                <string>{290,256}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{327,596},{290,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,18}</string>
                <key>spriteSize</key>
                <string>{288,256}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{412,1193},{288,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{284,256}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{669,1483},{284,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{282,256}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{761,877},{282,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{280,254}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{924,1},{280,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{278,254}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1019,857},{278,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{276,254}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1463,1},{276,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{274,254}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1463,515},{274,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,17}</string>
                <key>spriteSize</key>
                <string>{270,252}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1738,821},{270,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,17}</string>
                <key>spriteSize</key>
                <string>{270,252}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1463,1029},{270,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,15}</string>
                <key>spriteSize</key>
                <string>{264,248}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1739,555},{264,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,14}</string>
                <key>spriteSize</key>
                <string>{270,246}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1463,1283},{270,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,15}</string>
                <key>spriteSize</key>
                <string>{274,248}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1740,279},{274,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{276,248}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1741,1},{276,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{278,248}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1180,1137},{278,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{670,1178},{284,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{288,250}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{509,888},{288,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{290,250}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{672,1},{290,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,17}</string>
                <key>spriteSize</key>
                <string>{292,252}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{255,899},{292,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,17}</string>
                <key>spriteSize</key>
                <string>{294,252}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1,1199},{294,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>28_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,18}</string>
                <key>spriteSize</key>
                <string>{298,254}</string>
                <key>spriteSourceSize</key>
                <string>{336,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>28-2.png</string>
            <key>size</key>
            <string>{1991,1949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ade993817e919f565b1afb5a1f120a7:87fab25cad4f2d58157f9396a175d619:15fa443471d698f0432b31554491cff8$</string>
            <key>textureFileName</key>
            <string>28-2.png</string>
        </dict>
    </dict>
</plist>
