<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{252,301}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{280,1793},{252,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-45}</string>
                <key>spriteSize</key>
                <string>{246,297}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1799,1587},{246,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,2}</string>
                <key>spriteSize</key>
                <string>{290,309}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1282,896},{290,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,54}</string>
                <key>spriteSize</key>
                <string>{228,305}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1819,306},{228,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,76}</string>
                <key>spriteSize</key>
                <string>{238,307}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1799,1278},{238,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,73}</string>
                <key>spriteSize</key>
                <string>{248,305}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1189,1788},{248,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,71}</string>
                <key>spriteSize</key>
                <string>{256,301}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{886,1788},{256,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,69}</string>
                <key>spriteSize</key>
                <string>{252,301}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{583,1793},{252,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,-57}</string>
                <key>spriteSize</key>
                <string>{364,303}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1,326},{364,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,-45}</string>
                <key>spriteSize</key>
                <string>{372,301}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{359,300},{372,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-42}</string>
                <key>spriteSize</key>
                <string>{356,323}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-42}</string>
                <key>spriteSize</key>
                <string>{356,315}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{739,1},{356,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-42}</string>
                <key>spriteSize</key>
                <string>{354,309}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1097,1},{354,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-46}</string>
                <key>spriteSize</key>
                <string>{364,299}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1453,298},{364,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-46}</string>
                <key>spriteSize</key>
                <string>{378,297}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{359,1},{378,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-48}</string>
                <key>spriteSize</key>
                <string>{370,295}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1453,1},{370,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-50}</string>
                <key>spriteSize</key>
                <string>{356,295}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{733,318},{356,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-52}</string>
                <key>spriteSize</key>
                <string>{358,295}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1097,312},{358,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-52}</string>
                <key>spriteSize</key>
                <string>{358,295}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1394,599},{358,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-53}</string>
                <key>spriteSize</key>
                <string>{360,293}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1754,613},{360,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-59}</string>
                <key>spriteSize</key>
                <string>{342,283}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1,692},{342,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-56}</string>
                <key>spriteSize</key>
                <string>{334,291}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{306,603},{334,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-53}</string>
                <key>spriteSize</key>
                <string>{324,295}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{642,615},{324,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-49}</string>
                <key>spriteSize</key>
                <string>{312,299}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{286,896},{312,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-45}</string>
                <key>spriteSize</key>
                <string>{300,301}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{285,1197},{300,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,14}</string>
                <key>spriteSize</key>
                <string>{298,299}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{906,973},{298,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,14}</string>
                <key>spriteSize</key>
                <string>{312,299}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{968,672},{312,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,15}</string>
                <key>spriteSize</key>
                <string>{304,301}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{600,912},{304,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{294,303}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{588,1215},{294,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,15}</string>
                <key>spriteSize</key>
                <string>{292,301}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{284,1499},{292,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{292,299}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{1503,1188},{292,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,16}</string>
                <key>spriteSize</key>
                <string>{282,303}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{1,1036},{282,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{282,301}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{1197,1504},{282,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,14}</string>
                <key>spriteSize</key>
                <string>{278,301}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{894,1508},{278,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,22}</string>
                <key>spriteSize</key>
                <string>{281,303}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1,1341},{281,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,23}</string>
                <key>spriteSize</key>
                <string>{277,305}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1,1646},{277,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,23}</string>
                <key>spriteSize</key>
                <string>{275,305}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{587,1511},{275,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-21}</string>
                <key>spriteSize</key>
                <string>{259,289}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1496,1788},{259,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,-50}</string>
                <key>spriteSize</key>
                <string>{301,243}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1797,975},{301,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-54}</string>
                <key>spriteSize</key>
                <string>{301,233}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{893,1273},{301,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-59}</string>
                <key>spriteSize</key>
                <string>{303,219}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1825,1},{303,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-58}</string>
                <key>spriteSize</key>
                <string>{305,229}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1196,1273},{305,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{282,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1500,1504},{282,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>30-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94337e309f8e477977a5d5461916f751:96e1eae0990198f80ba02afecaec782b:16d7587c56b2d36b76845594f6dc5d7f$</string>
            <key>textureFileName</key>
            <string>30-0.png</string>
        </dict>
    </dict>
</plist>
