<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-44}</string>
                <key>spriteSize</key>
                <string>{244,299}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{607,1791},{244,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-43}</string>
                <key>spriteSize</key>
                <string>{278,283}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1763,1},{278,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-43}</string>
                <key>spriteSize</key>
                <string>{290,287}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1150,1468},{290,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,30}</string>
                <key>spriteSize</key>
                <string>{260,313}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{908,1787},{260,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,70}</string>
                <key>spriteSize</key>
                <string>{272,293}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1751,584},{272,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-41}</string>
                <key>spriteSize</key>
                <string>{290,301}</string>
                <key>spriteSourceSize</key>
                <string>{580,463}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{290,301}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{1,304},{290,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{290,301}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{1,607},{290,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,15}</string>
                <key>spriteSize</key>
                <string>{286,301}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{290,1520},{286,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{286,303}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{1,1215},{286,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,16}</string>
                <key>spriteSize</key>
                <string>{284,303}</string>
                <key>spriteSourceSize</key>
                <string>{380,337}</string>
                <key>textureRect</key>
                <string>{{290,910},{284,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,20}</string>
                <key>spriteSize</key>
                <string>{283,301}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{293,1},{283,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,20}</string>
                <key>spriteSize</key>
                <string>{287,301}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1,1520},{287,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,21}</string>
                <key>spriteSize</key>
                <string>{287,303}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1,910},{287,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,22}</string>
                <key>spriteSize</key>
                <string>{285,303}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{289,1215},{285,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,-47}</string>
                <key>spriteSize</key>
                <string>{299,243}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1804,1727},{299,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,-59}</string>
                <key>spriteSize</key>
                <string>{299,219}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{306,1823},{299,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-58}</string>
                <key>spriteSize</key>
                <string>{303,223}</string>
                <key>spriteSourceSize</key>
                <string>{505,353}</string>
                <key>textureRect</key>
                <string>{{1,1823},{303,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{278,299}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1223,1760},{278,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{278,299}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1439,1464},{278,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{278,299}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1716,1167},{278,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{278,299}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1729,866},{278,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,16}</string>
                <key>spriteSize</key>
                <string>{278,299}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1524,1744},{278,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{280,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1447,868},{280,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{280,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1452,584},{280,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{282,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1165,1},{282,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{282,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1432,1167},{282,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{284,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{864,896},{284,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{284,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{864,1193},{284,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{286,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{293,304},{286,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{286,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{578,1},{286,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{286,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{293,601},{286,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{286,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{576,898},{286,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{286,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{576,1195},{286,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{284,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{864,1490},{284,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{284,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{867,287},{284,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{284,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{867,584},{284,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{284,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1150,881},{284,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{284,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{578,1492},{284,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{284,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{581,298},{284,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{284,295}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1153,287},{284,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{284,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{866,1},{284,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{284,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{581,597},{284,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{282,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1153,584},{282,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{282,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1439,285},{282,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{282,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1464,1},{282,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>30_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{280,297}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1723,285},{280,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{280,299}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1150,1167},{280,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,16}</string>
                <key>spriteSize</key>
                <string>{278,299}</string>
                <key>spriteSourceSize</key>
                <string>{292,331}</string>
                <key>textureRect</key>
                <string>{{1740,1447},{278,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>30-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94337e309f8e477977a5d5461916f751:96e1eae0990198f80ba02afecaec782b:16d7587c56b2d36b76845594f6dc5d7f$</string>
            <key>textureFileName</key>
            <string>30-1.png</string>
        </dict>
    </dict>
</plist>
