<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>24_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-11}</string>
                <key>spriteSize</key>
                <string>{277,226}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1658,1269},{277,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,50}</string>
                <key>spriteSize</key>
                <string>{203,348}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1257,539},{203,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-7}</string>
                <key>spriteSize</key>
                <string>{343,230}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1578,1497},{343,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-8}</string>
                <key>spriteSize</key>
                <string>{313,230}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{238,1592},{313,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-9}</string>
                <key>spriteSize</key>
                <string>{283,226}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,1359},{283,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-9}</string>
                <key>spriteSize</key>
                <string>{281,226}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{286,1364},{281,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-11}</string>
                <key>spriteSize</key>
                <string>{281,226}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{569,1390},{281,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-17}</string>
                <key>spriteSize</key>
                <string>{273,232}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1037,1626},{273,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-32}</string>
                <key>spriteSize</key>
                <string>{397,202}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{219,505},{397,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{397,200}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{239,303},{397,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-28}</string>
                <key>spriteSize</key>
                <string>{397,200}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{878,333},{397,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-28}</string>
                <key>spriteSize</key>
                <string>{397,200}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1277,337},{397,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-27}</string>
                <key>spriteSize</key>
                <string>{397,202}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{858,535},{397,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-67}</string>
                <key>spriteSize</key>
                <string>{215,322}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1714,830},{215,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-33}</string>
                <key>spriteSize</key>
                <string>{209,274}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{243,709},{209,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,14}</string>
                <key>spriteSize</key>
                <string>{217,229}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1209,956},{217,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,13}</string>
                <key>spriteSize</key>
                <string>{239,227}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{852,1390},{239,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,12}</string>
                <key>spriteSize</key>
                <string>{231,235}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1,1587},{231,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{231,243}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{553,1618},{231,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{215,247}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1,920},{215,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{215,245}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{250,920},{215,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{221,243}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1413,1230},{221,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{227,239}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1093,1397},{227,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,10}</string>
                <key>spriteSize</key>
                <string>{231,237}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{798,1619},{231,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,14}</string>
                <key>spriteSize</key>
                <string>{217,229}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1209,956},{217,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,28}</string>
                <key>spriteSize</key>
                <string>{216,203}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1,501},{216,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,39}</string>
                <key>spriteSize</key>
                <string>{222,209}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{519,713},{222,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,48}</string>
                <key>spriteSize</key>
                <string>{236,209}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{743,739},{236,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,35}</string>
                <key>spriteSize</key>
                <string>{250,191}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{967,140},{250,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,28}</string>
                <key>spriteSize</key>
                <string>{266,191}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1219,140},{266,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{254,181}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1755,1},{254,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-6}</string>
                <key>spriteSize</key>
                <string>{228,195}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1487,140},{228,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-26}</string>
                <key>spriteSize</key>
                <string>{210,239}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1231,744},{210,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-30}</string>
                <key>spriteSize</key>
                <string>{248,209}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{981,739},{248,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-52}</string>
                <key>spriteSize</key>
                <string>{308,165}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{657,140},{308,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-56}</string>
                <key>spriteSize</key>
                <string>{322,161}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{333,140},{322,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-62}</string>
                <key>spriteSize</key>
                <string>{330,157}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1,140},{330,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-72}</string>
                <key>spriteSize</key>
                <string>{336,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{339,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{693,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1047,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1401,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{242,229}</string>
                <key>spriteSourceSize</key>
                <string>{244,255}</string>
                <key>textureRect</key>
                <string>{{1334,1453},{242,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{242,229}</string>
                <key>spriteSourceSize</key>
                <string>{244,255}</string>
                <key>textureRect</key>
                <string>{{1334,1453},{242,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{497,924},{216,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,15}</string>
                <key>spriteSize</key>
                <string>{204,230}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1607,590},{204,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,14}</string>
                <key>spriteSize</key>
                <string>{202,232}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1676,386},{202,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,11}</string>
                <key>spriteSize</key>
                <string>{200,234}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1717,184},{200,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{200,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1,299},{200,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{200,238}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{638,307},{200,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,9}</string>
                <key>spriteSize</key>
                <string>{202,238}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{618,509},{202,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{208,240}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1,709},{208,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{208,238}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1839,590},{208,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{212,240}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1472,796},{212,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{216,240}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{727,950},{216,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{216,238}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{969,950},{216,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{218,240}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1440,1010},{218,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{220,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1682,1047},{220,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{220,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1,1137},{220,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{220,236}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{239,1137},{220,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{220,234}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{477,1142},{220,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{220,232}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{713,1168},{220,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{220,232}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{947,1168},{220,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{220,230}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1181,1175},{220,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>24-0.png</string>
            <key>size</key>
            <string>{2048,1859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbed1d067e1d88fa332c662432d89d7a:a66324336698809734bd014fe8119cae:997ea89f3326cb363ca54c617a406dba$</string>
            <key>textureFileName</key>
            <string>24-0.png</string>
        </dict>
    </dict>
</plist>
