<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>24_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-7}</string>
                <key>spriteSize</key>
                <string>{217,230}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,954},{217,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-8}</string>
                <key>spriteSize</key>
                <string>{247,230}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1094,1465},{247,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-10}</string>
                <key>spriteSize</key>
                <string>{271,228}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{821,1429},{271,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,16}</string>
                <key>spriteSize</key>
                <string>{213,284}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1306,800},{213,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,53}</string>
                <key>spriteSize</key>
                <string>{227,350}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{232,1404},{227,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,24}</string>
                <key>spriteSize</key>
                <string>{323,292}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1341,1709},{323,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-4}</string>
                <key>spriteSize</key>
                <string>{375,238}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,1633},{375,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-7}</string>
                <key>spriteSize</key>
                <string>{367,230}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1624,1477},{367,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-14}</string>
                <key>spriteSize</key>
                <string>{279,230}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1343,1475},{279,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,36}</string>
                <key>spriteSize</key>
                <string>{285,336}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1003,1697},{285,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-23}</string>
                <key>spriteSize</key>
                <string>{399,204}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{630,540},{399,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-26}</string>
                <key>spriteSize</key>
                <string>{401,202}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1589,390},{401,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-30}</string>
                <key>spriteSize</key>
                <string>{399,194}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{329,140},{399,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-31}</string>
                <key>spriteSize</key>
                <string>{397,196}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{730,140},{397,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-28}</string>
                <key>spriteSize</key>
                <string>{397,198}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1599,190},{397,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-28}</string>
                <key>spriteSize</key>
                <string>{397,200}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,336},{397,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-28}</string>
                <key>spriteSize</key>
                <string>{397,200}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{712,338},{397,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-27}</string>
                <key>spriteSize</key>
                <string>{397,202}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,538},{397,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-26}</string>
                <key>spriteSize</key>
                <string>{369,210}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,742},{369,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-43}</string>
                <key>spriteSize</key>
                <string>{323,254}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{378,1644},{323,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-59}</string>
                <key>spriteSize</key>
                <string>{265,298}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{703,1659},{265,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-65}</string>
                <key>spriteSize</key>
                <string>{193,326}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,140},{193,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-53}</string>
                <key>spriteSize</key>
                <string>{201,310}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{400,336},{201,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-7}</string>
                <key>spriteSize</key>
                <string>{217,230}</string>
                <key>spriteSourceSize</key>
                <string>{479,460}</string>
                <key>textureRect</key>
                <string>{{1,954},{217,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,14}</string>
                <key>spriteSize</key>
                <string>{225,231}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{923,1196},{225,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,14}</string>
                <key>spriteSize</key>
                <string>{231,229}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1,1395},{231,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,15}</string>
                <key>spriteSize</key>
                <string>{227,229}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{694,1184},{227,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{223,247}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1150,1240},{223,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,12}</string>
                <key>spriteSize</key>
                <string>{227,235}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{584,1415},{227,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,13}</string>
                <key>spriteSize</key>
                <string>{223,233}</string>
                <key>spriteSourceSize</key>
                <string>{259,265}</string>
                <key>textureRect</key>
                <string>{{1399,1250},{223,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,36}</string>
                <key>spriteSize</key>
                <string>{218,229}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{233,957},{218,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,37}</string>
                <key>spriteSize</key>
                <string>{224,223}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1824,802},{224,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,49}</string>
                <key>spriteSize</key>
                <string>{230,211}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{844,751},{230,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,54}</string>
                <key>spriteSize</key>
                <string>{238,225}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1634,1250},{238,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,41}</string>
                <key>spriteSize</key>
                <string>{242,201}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1111,342},{242,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-26}</string>
                <key>spriteSize</key>
                <string>{224,227}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{465,1178},{224,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-39}</string>
                <key>spriteSize</key>
                <string>{292,187}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1751,1},{292,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-67}</string>
                <key>spriteSize</key>
                <string>{332,147}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1417,1},{332,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{355,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{709,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-72}</string>
                <key>spriteSize</key>
                <string>{352,137}</string>
                <key>spriteSourceSize</key>
                <string>{380,355}</string>
                <key>textureRect</key>
                <string>{{1063,1},{352,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{464,958},{218,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{694,964},{218,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{924,976},{218,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{214,230}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1592,802},{214,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{212,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1076,762},{212,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{210,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{372,745},{210,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1731,594},{206,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{204,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{400,539},{204,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,16}</string>
                <key>spriteSize</key>
                <string>{204,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1031,545},{204,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{204,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1261,556},{204,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{202,232}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1355,352},{202,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,12}</string>
                <key>spriteSize</key>
                <string>{200,232}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1129,140},{200,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,12}</string>
                <key>spriteSize</key>
                <string>{200,234}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1363,150},{200,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{204,238}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1491,594},{204,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{210,240}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{602,746},{210,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1384,1018},{220,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{220,238}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1624,1028},{220,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,15}</string>
                <key>spriteSize</key>
                <string>{220,230}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1,1173},{220,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{220,230}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{233,1178},{220,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,16}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{1154,1015},{218,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{464,958},{218,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>24-1.png</string>
            <key>size</key>
            <string>{2048,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbed1d067e1d88fa332c662432d89d7a:a66324336698809734bd014fe8119cae:997ea89f3326cb363ca54c617a406dba$</string>
            <key>textureFileName</key>
            <string>24-1.png</string>
        </dict>
    </dict>
</plist>
