<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>26_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-40}</string>
                <key>spriteSize</key>
                <string>{274,297}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1365,300},{274,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-37}</string>
                <key>spriteSize</key>
                <string>{296,291}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1641,622},{296,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-27}</string>
                <key>spriteSize</key>
                <string>{324,273}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{713,298},{324,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-21}</string>
                <key>spriteSize</key>
                <string>{322,261}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1641,298},{322,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-22}</string>
                <key>spriteSize</key>
                <string>{314,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1020,1251},{314,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-23}</string>
                <key>spriteSize</key>
                <string>{314,261}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{680,1567},{314,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-23}</string>
                <key>spriteSize</key>
                <string>{302,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1641,1214},{302,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-21}</string>
                <key>spriteSize</key>
                <string>{316,269}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{688,1296},{316,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-14}</string>
                <key>spriteSize</key>
                <string>{326,263}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{385,298},{326,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-13}</string>
                <key>spriteSize</key>
                <string>{324,267}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1039,300},{324,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{358,297}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1115,1},{358,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-27}</string>
                <key>spriteSize</key>
                <string>{360,301}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,1516},{360,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{366,303}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,1211},{366,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{352,295}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1475,1},{352,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{370,301}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,908},{370,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,5}</string>
                <key>spriteSize</key>
                <string>{376,301}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,605},{376,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-2}</string>
                <key>spriteSize</key>
                <string>{360,295}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{753,1},{360,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{378,301}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,302},{378,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,4}</string>
                <key>spriteSize</key>
                <string>{382,299}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,1},{382,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-4}</string>
                <key>spriteSize</key>
                <string>{366,295}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{385,1},{366,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-16}</string>
                <key>spriteSize</key>
                <string>{326,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{381,563},{326,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-16}</string>
                <key>spriteSize</key>
                <string>{326,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{709,573},{326,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-16}</string>
                <key>spriteSize</key>
                <string>{324,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{379,824},{324,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-41}</string>
                <key>spriteSize</key>
                <string>{298,297}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1641,915},{298,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-52}</string>
                <key>spriteSize</key>
                <string>{288,315}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{363,1541},{288,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_atk_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-40}</string>
                <key>spriteSize</key>
                <string>{274,297}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1365,300},{274,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,20}</string>
                <key>spriteSize</key>
                <string>{274,296}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1343,1197},{274,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,25}</string>
                <key>spriteSize</key>
                <string>{256,318}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{705,834},{256,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,16}</string>
                <key>spriteSize</key>
                <string>{264,308}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1641,1475},{264,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{202,320}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{698,1092},{202,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{222,322}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1,1819},{222,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,6}</string>
                <key>spriteSize</key>
                <string>{250,316}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1025,999},{250,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,4}</string>
                <key>spriteSize</key>
                <string>{306,286}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1317,1737},{306,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,16}</string>
                <key>spriteSize</key>
                <string>{304,298}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1625,1741},{304,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,20}</string>
                <key>spriteSize</key>
                <string>{274,296}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1343,1197},{274,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,30}</string>
                <key>spriteSize</key>
                <string>{252,317}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{369,1287},{252,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{264,309}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1006,1512},{264,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,10}</string>
                <key>spriteSize</key>
                <string>{190,321}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1039,569},{190,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,10}</string>
                <key>spriteSize</key>
                <string>{200,323}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{373,1085},{200,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,8}</string>
                <key>spriteSize</key>
                <string>{236,317}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1037,761},{236,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,1}</string>
                <key>spriteSize</key>
                <string>{262,303}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1336,1473},{262,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,0}</string>
                <key>spriteSize</key>
                <string>{262,269}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{996,1778},{262,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,25}</string>
                <key>spriteSize</key>
                <string>{216,263}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{325,1831},{216,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,32}</string>
                <key>spriteSize</key>
                <string>{218,247}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1829,1},{218,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,-16}</string>
                <key>spriteSize</key>
                <string>{280,213}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{590,1831},{280,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{277,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1362,599},{277,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{283,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1356,898},{283,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>26-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17eb70a9845d2f70f9ccde312e83ed17:659ae020fbb502d852744db632c68175:cd33782c8150a83357e339edae9991f8$</string>
            <key>textureFileName</key>
            <string>26-0.png</string>
        </dict>
    </dict>
</plist>
