<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>26_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-32}</string>
                <key>spriteSize</key>
                <string>{312,283}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{589,1266},{312,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-22}</string>
                <key>spriteSize</key>
                <string>{318,261}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1416,746},{318,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-21}</string>
                <key>spriteSize</key>
                <string>{282,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{277,689},{282,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-20}</string>
                <key>spriteSize</key>
                <string>{246,255}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1099,203},{246,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-22}</string>
                <key>spriteSize</key>
                <string>{238,261}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{539,194},{238,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-21}</string>
                <key>spriteSize</key>
                <string>{326,297}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1009,1570},{326,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-23}</string>
                <key>spriteSize</key>
                <string>{338,297}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{669,1567},{338,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-25}</string>
                <key>spriteSize</key>
                <string>{346,297}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{321,1551},{346,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-34}</string>
                <key>spriteSize</key>
                <string>{318,293}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,1523},{318,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-43}</string>
                <key>spriteSize</key>
                <string>{310,307}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1647,1586},{310,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,3}</string>
                <key>spriteSize</key>
                <string>{266,286}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1128,739},{266,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-4}</string>
                <key>spriteSize</key>
                <string>{258,274}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1,680},{258,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-2}</string>
                <key>spriteSize</key>
                <string>{270,282}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{292,957},{270,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-1}</string>
                <key>spriteSize</key>
                <string>{284,284}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1198,1284},{284,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,10}</string>
                <key>spriteSize</key>
                <string>{308,292}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1484,1292},{308,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{308,298}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1337,1586},{308,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,-8}</string>
                <key>spriteSize</key>
                <string>{274,281}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{576,957},{274,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,-18}</string>
                <key>spriteSize</key>
                <string>{274,255}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{871,451},{274,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-19}</string>
                <key>spriteSize</key>
                <string>{274,253}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{302,434},{274,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,-15}</string>
                <key>spriteSize</key>
                <string>{274,257}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1709,487},{274,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-10}</string>
                <key>spriteSize</key>
                <string>{272,263}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{854,708},{272,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,4}</string>
                <key>spriteSize</key>
                <string>{256,267}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1147,481},{256,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,31}</string>
                <key>spriteSize</key>
                <string>{200,253}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1109,1},{200,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{238,239}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1,186},{238,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,13}</string>
                <key>spriteSize</key>
                <string>{272,245}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1653,240},{272,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,1}</string>
                <key>spriteSize</key>
                <string>{282,235}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1364,1},{282,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-37}</string>
                <key>spriteSize</key>
                <string>{274,185}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{279,1},{274,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-45}</string>
                <key>spriteSize</key>
                <string>{276,193}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{831,1},{276,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-46}</string>
                <key>spriteSize</key>
                <string>{274,191}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{555,1},{274,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,-51}</string>
                <key>spriteSize</key>
                <string>{276,183}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{270,289}</string>
                <key>spriteSourceSize</key>
                <string>{274,293}</string>
                <key>textureRect</key>
                <string>{{1,950},{270,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{270,289}</string>
                <key>spriteSourceSize</key>
                <string>{274,293}</string>
                <key>textureRect</key>
                <string>{{1,950},{270,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{273,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1420,1009},{273,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{283,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{903,1282},{283,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{281,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{294,1240},{281,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{275,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1,1229},{275,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{273,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{852,973},{273,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{271,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1127,1009},{271,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{267,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1736,746},{267,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{263,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{561,692},{263,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{257,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1416,487},{257,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{255,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{578,435},{255,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,22}</string>
                <key>spriteSize</key>
                <string>{237,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1648,1},{237,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,22}</string>
                <key>spriteSize</key>
                <string>{237,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{242,188},{237,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,22}</string>
                <key>spriteSize</key>
                <string>{239,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1356,240},{239,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,21}</string>
                <key>spriteSize</key>
                <string>{237,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{802,196},{237,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{251,299}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1,427},{251,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{275,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1719,1015},{275,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>26-1.png</string>
            <key>size</key>
            <string>{2028,1894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17eb70a9845d2f70f9ccde312e83ed17:659ae020fbb502d852744db632c68175:cd33782c8150a83357e339edae9991f8$</string>
            <key>textureFileName</key>
            <string>26-1.png</string>
        </dict>
    </dict>
</plist>
