<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>26_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-21}</string>
                <key>spriteSize</key>
                <string>{256,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1780,1},{256,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-20}</string>
                <key>spriteSize</key>
                <string>{242,255}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{811,1158},{242,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-21}</string>
                <key>spriteSize</key>
                <string>{236,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1780,259},{236,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-23}</string>
                <key>spriteSize</key>
                <string>{236,259}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1068,1169},{236,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-22}</string>
                <key>spriteSize</key>
                <string>{242,263}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1579,1505},{242,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-13}</string>
                <key>spriteSize</key>
                <string>{282,293}</string>
                <key>spriteSourceSize</key>
                <string>{572,577}</string>
                <key>textureRect</key>
                <string>{{1,902},{282,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,4}</string>
                <key>spriteSize</key>
                <string>{266,302}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{287,299},{266,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-4}</string>
                <key>spriteSize</key>
                <string>{252,276}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1310,1054},{252,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-3}</string>
                <key>spriteSize</key>
                <string>{258,282}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{811,874},{258,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,0}</string>
                <key>spriteSize</key>
                <string>{294,286}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{299,1},{294,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,2}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1,299},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_byatk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,17}</string>
                <key>spriteSize</key>
                <string>{296,296}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_byatk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{286,292}</string>
                <key>spriteSourceSize</key>
                <string>{410,380}</string>
                <key>textureRect</key>
                <string>{{1486,1},{286,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,26}</string>
                <key>spriteSize</key>
                <string>{274,297}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1,1492},{274,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-6}</string>
                <key>spriteSize</key>
                <string>{268,265}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1310,787},{268,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,9}</string>
                <key>spriteSize</key>
                <string>{248,267}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1588,989},{248,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,18}</string>
                <key>spriteSize</key>
                <string>{234,267}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1014,1674},{234,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,29}</string>
                <key>spriteSize</key>
                <string>{234,241}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1283,1680},{234,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,26}</string>
                <key>spriteSize</key>
                <string>{242,243}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1060,1430},{242,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,23}</string>
                <key>spriteSize</key>
                <string>{246,245}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1588,1258},{246,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,19}</string>
                <key>spriteSize</key>
                <string>{254,245}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{804,1402},{254,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-44}</string>
                <key>spriteSize</key>
                <string>{272,183}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1305,1495},{272,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-51}</string>
                <key>spriteSize</key>
                <string>{270,183}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{829,1649},{270,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,-52}</string>
                <key>spriteSize</key>
                <string>{272,183}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1823,1541},{272,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,-51}</string>
                <key>spriteSize</key>
                <string>{274,185}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1838,989},{274,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-48}</string>
                <key>spriteSize</key>
                <string>{274,187}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{277,1785},{274,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-47}</string>
                <key>spriteSize</key>
                <string>{274,187}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{553,1787},{274,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,-47}</string>
                <key>spriteSize</key>
                <string>{274,185}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1836,1265},{274,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_die_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,-49}</string>
                <key>spriteSize</key>
                <string>{274,185}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1306,1308},{274,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_die_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,-52}</string>
                <key>spriteSize</key>
                <string>{274,183}</string>
                <key>spriteSourceSize</key>
                <string>{512,391}</string>
                <key>textureRect</key>
                <string>{{1,1791},{274,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{281,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1,603},{281,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{285,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{595,1},{285,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{285,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{892,1},{285,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{285,295}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1189,1},{285,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{279,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1,1197},{279,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{277,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{285,902},{277,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{277,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{282,1197},{277,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{277,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{277,1492},{277,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{277,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{796,288},{277,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{277,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1075,288},{277,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,22}</string>
                <key>spriteSize</key>
                <string>{251,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{796,581},{251,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,22}</string>
                <key>spriteSize</key>
                <string>{249,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1049,581},{249,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,22}</string>
                <key>spriteSize</key>
                <string>{245,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{564,902},{245,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,22}</string>
                <key>spriteSize</key>
                <string>{241,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{561,1197},{241,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,22}</string>
                <key>spriteSize</key>
                <string>{241,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{556,1492},{241,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,21}</string>
                <key>spriteSize</key>
                <string>{237,293}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1071,874},{237,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,22}</string>
                <key>spriteSize</key>
                <string>{239,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{555,289},{239,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,21}</string>
                <key>spriteSize</key>
                <string>{237,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1354,548},{237,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,21}</string>
                <key>spriteSize</key>
                <string>{241,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1653,746},{241,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,20}</string>
                <key>spriteSize</key>
                <string>{243,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{551,603},{243,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,19}</string>
                <key>spriteSize</key>
                <string>{247,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1653,497},{247,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{257,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{1354,289},{257,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{265,297}</string>
                <key>spriteSourceSize</key>
                <string>{291,341}</string>
                <key>textureRect</key>
                <string>{{284,603},{265,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>26-2.png</string>
            <key>size</key>
            <string>{2040,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17eb70a9845d2f70f9ccde312e83ed17:659ae020fbb502d852744db632c68175:cd33782c8150a83357e339edae9991f8$</string>
            <key>textureFileName</key>
            <string>26-2.png</string>
        </dict>
    </dict>
</plist>
