<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>22_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,0}</string>
                <key>spriteSize</key>
                <string>{327,254}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{1,741},{327,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,-1}</string>
                <key>spriteSize</key>
                <string>{309,252}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{659,493},{309,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126,-2}</string>
                <key>spriteSize</key>
                <string>{293,252}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{970,493},{293,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-6}</string>
                <key>spriteSize</key>
                <string>{277,238}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{245,1},{277,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,-6}</string>
                <key>spriteSize</key>
                <string>{275,240}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{889,1},{275,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-128,-4}</string>
                <key>spriteSize</key>
                <string>{277,248}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{663,243},{277,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-3}</string>
                <key>spriteSize</key>
                <string>{419,254}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{658,747},{419,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{391,266}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{722,1263},{391,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,3}</string>
                <key>spriteSize</key>
                <string>{389,268}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{1411,1264},{389,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,1}</string>
                <key>spriteSize</key>
                <string>{379,262}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{1,1256},{379,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,1}</string>
                <key>spriteSize</key>
                <string>{355,258}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{969,1003},{355,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,0}</string>
                <key>spriteSize</key>
                <string>{337,254}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{1079,747},{337,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,0}</string>
                <key>spriteSize</key>
                <string>{327,254}</string>
                <key>spriteSourceSize</key>
                <string>{551,310}</string>
                <key>textureRect</key>
                <string>{{1,741},{327,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,4}</string>
                <key>spriteSize</key>
                <string>{326,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{330,742},{326,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{294,248}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{942,243},{294,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,2}</string>
                <key>spriteSize</key>
                <string>{326,248}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{1238,243},{326,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{330,246}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{1,241},{330,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{328,246}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{333,242},{328,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{334,240}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{1166,1},{334,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{338,240}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{1502,1},{338,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{334,248}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{1566,243},{334,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_byatk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,4}</string>
                <key>spriteSize</key>
                <string>{326,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,288}</string>
                <key>textureRect</key>
                <string>{{330,742},{326,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,14}</string>
                <key>spriteSize</key>
                <string>{338,265}</string>
                <key>spriteSourceSize</key>
                <string>{396,335}</string>
                <key>textureRect</key>
                <string>{{382,1262},{338,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{314,257}</string>
                <key>spriteSourceSize</key>
                <string>{396,335}</string>
                <key>textureRect</key>
                <string>{{653,1003},{314,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,14}</string>
                <key>spriteSize</key>
                <string>{294,267}</string>
                <key>spriteSourceSize</key>
                <string>{396,335}</string>
                <key>textureRect</key>
                <string>{{1115,1263},{294,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{264,255}</string>
                <key>spriteSourceSize</key>
                <string>{396,335}</string>
                <key>textureRect</key>
                <string>{{1747,747},{264,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-28}</string>
                <key>spriteSize</key>
                <string>{242,237}</string>
                <key>spriteSourceSize</key>
                <string>{396,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{363,239}</string>
                <key>spriteSourceSize</key>
                <string>{363,263}</string>
                <key>textureRect</key>
                <string>{{524,1},{363,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{363,239}</string>
                <key>spriteSourceSize</key>
                <string>{363,263}</string>
                <key>textureRect</key>
                <string>{{524,1},{363,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,8}</string>
                <key>spriteSize</key>
                <string>{327,254}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1418,747},{327,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{331,258}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1326,1003},{331,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,10}</string>
                <key>spriteSize</key>
                <string>{331,258}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1659,1004},{331,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,7}</string>
                <key>spriteSize</key>
                <string>{331,252}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1265,493},{331,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,8}</string>
                <key>spriteSize</key>
                <string>{331,252}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1598,493},{331,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,10}</string>
                <key>spriteSize</key>
                <string>{331,256}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{320,998},{331,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,9}</string>
                <key>spriteSize</key>
                <string>{317,254}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1,997},{317,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,6}</string>
                <key>spriteSize</key>
                <string>{327,250}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1,489},{327,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,6}</string>
                <key>spriteSize</key>
                <string>{327,250}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{330,490},{327,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,8}</string>
                <key>spriteSize</key>
                <string>{327,254}</string>
                <key>spriteSourceSize</key>
                <string>{391,280}</string>
                <key>textureRect</key>
                <string>{{1418,747},{327,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>22-2.png</string>
            <key>size</key>
            <string>{2012,1533}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3defd20666c3f39ab685beb2a94068df:05da23e7c3aa657c07b155080239ceef:da2aed84e66045baf7c669b70b1ac5de$</string>
            <key>textureFileName</key>
            <string>22-2.png</string>
        </dict>
    </dict>
</plist>
