<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_skill_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-141}</string>
                <key>spriteSize</key>
                <string>{201,253}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1215,800},{201,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-139}</string>
                <key>spriteSize</key>
                <string>{187,257}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1617,800},{187,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-139}</string>
                <key>spriteSize</key>
                <string>{173,257}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1804,800},{173,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-138}</string>
                <key>spriteSize</key>
                <string>{165,257}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{0,1057},{165,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-138}</string>
                <key>spriteSize</key>
                <string>{189,257}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{165,1057},{189,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-136}</string>
                <key>spriteSize</key>
                <string>{217,261}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{519,1057},{217,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-136}</string>
                <key>spriteSize</key>
                <string>{237,261}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{736,1057},{237,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-119}</string>
                <key>spriteSize</key>
                <string>{271,295}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1474,1057},{271,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-111}</string>
                <key>spriteSize</key>
                <string>{289,311}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1745,1057},{289,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-85}</string>
                <key>spriteSize</key>
                <string>{259,365}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{0,1368},{259,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-63}</string>
                <key>spriteSize</key>
                <string>{235,407}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{259,1368},{235,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-45}</string>
                <key>spriteSize</key>
                <string>{221,459}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{494,1368},{221,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-21}</string>
                <key>spriteSize</key>
                <string>{221,503}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{715,1368},{221,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-17}</string>
                <key>spriteSize</key>
                <string>{229,503}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{936,1368},{229,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-13}</string>
                <key>spriteSize</key>
                <string>{229,507}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1165,1368},{229,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-10}</string>
                <key>spriteSize</key>
                <string>{229,513}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1394,1368},{229,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{229,519}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1623,1368},{229,519}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-135}</string>
                <key>spriteSize</key>
                <string>{167,265}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1138,1057},{167,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-135}</string>
                <key>spriteSize</key>
                <string>{169,265}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1305,1057},{169,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-137}</string>
                <key>spriteSize</key>
                <string>{165,259}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{354,1057},{165,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-137}</string>
                <key>spriteSize</key>
                <string>{165,261}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{973,1057},{165,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-147}</string>
                <key>spriteSize</key>
                <string>{145,241}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{314,800},{145,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-147}</string>
                <key>spriteSize</key>
                <string>{153,241}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{459,800},{153,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-168}</string>
                <key>spriteSize</key>
                <string>{213,199}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{888,394},{213,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-170}</string>
                <key>spriteSize</key>
                <string>{221,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1573,0},{221,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-170}</string>
                <key>spriteSize</key>
                <string>{231,195}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{0,0},{231,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-170}</string>
                <key>spriteSize</key>
                <string>{229,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1794,0},{229,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-170}</string>
                <key>spriteSize</key>
                <string>{229,195}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{231,0},{229,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-170}</string>
                <key>spriteSize</key>
                <string>{225,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{0,197},{225,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-169}</string>
                <key>spriteSize</key>
                <string>{223,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{225,197},{223,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-169}</string>
                <key>spriteSize</key>
                <string>{223,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{448,197},{223,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-170}</string>
                <key>spriteSize</key>
                <string>{217,195}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{460,0},{217,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-169}</string>
                <key>spriteSize</key>
                <string>{211,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{671,197},{211,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-168}</string>
                <key>spriteSize</key>
                <string>{215,199}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1101,394},{215,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-168}</string>
                <key>spriteSize</key>
                <string>{217,199}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1316,394},{217,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-168}</string>
                <key>spriteSize</key>
                <string>{221,199}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1533,394},{221,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-167}</string>
                <key>spriteSize</key>
                <string>{225,201}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{442,593},{225,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-169}</string>
                <key>spriteSize</key>
                <string>{227,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{882,197},{227,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-170}</string>
                <key>spriteSize</key>
                <string>{227,195}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{677,0},{227,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-170}</string>
                <key>spriteSize</key>
                <string>{227,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1109,197},{227,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-169}</string>
                <key>spriteSize</key>
                <string>{223,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1336,197},{223,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-169}</string>
                <key>spriteSize</key>
                <string>{223,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1559,197},{223,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-170}</string>
                <key>spriteSize</key>
                <string>{223,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1782,197},{223,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-170}</string>
                <key>spriteSize</key>
                <string>{217,195}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{904,0},{217,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-169}</string>
                <key>spriteSize</key>
                <string>{211,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{0,394},{211,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-168}</string>
                <key>spriteSize</key>
                <string>{215,199}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1754,394},{215,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-168}</string>
                <key>spriteSize</key>
                <string>{217,201}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{667,593},{217,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-168}</string>
                <key>spriteSize</key>
                <string>{221,199}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{0,593},{221,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-167}</string>
                <key>spriteSize</key>
                <string>{225,201}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{884,593},{225,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-169}</string>
                <key>spriteSize</key>
                <string>{227,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{211,394},{227,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-170}</string>
                <key>spriteSize</key>
                <string>{227,195}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1121,0},{227,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-170}</string>
                <key>spriteSize</key>
                <string>{225,195}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1348,0},{225,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-169}</string>
                <key>spriteSize</key>
                <string>{225,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{438,394},{225,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-169}</string>
                <key>spriteSize</key>
                <string>{225,197}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{663,394},{225,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-168}</string>
                <key>spriteSize</key>
                <string>{221,199}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{221,593},{221,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-166}</string>
                <key>spriteSize</key>
                <string>{215,203}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1109,593},{215,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-165}</string>
                <key>spriteSize</key>
                <string>{199,205}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1324,593},{199,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-164}</string>
                <key>spriteSize</key>
                <string>{189,207}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1678,593},{189,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-164}</string>
                <key>spriteSize</key>
                <string>{173,207}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{0,800},{173,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-164}</string>
                <key>spriteSize</key>
                <string>{155,205}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1523,593},{155,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-163}</string>
                <key>spriteSize</key>
                <string>{141,207}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{173,800},{141,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_skill_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-141}</string>
                <key>spriteSize</key>
                <string>{201,253}</string>
                <key>spriteSourceSize</key>
                <string>{377,597}</string>
                <key>textureRect</key>
                <string>{{1416,800},{201,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{201,252}</string>
                <key>spriteSourceSize</key>
                <string>{241,288}</string>
                <key>textureRect</key>
                <string>{{612,800},{201,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{201,252}</string>
                <key>spriteSourceSize</key>
                <string>{241,288}</string>
                <key>textureRect</key>
                <string>{{813,800},{201,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{201,252}</string>
                <key>spriteSourceSize</key>
                <string>{241,288}</string>
                <key>textureRect</key>
                <string>{{1014,800},{201,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3-2.png</string>
            <key>size</key>
            <string>{2034,1887}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baec0e15f6e9ed6171a702b236875f81:ae75244caeffaaead85515cd3345f1da:9b4d255f4e0a6d0fcaee32cee2ff9666$</string>
            <key>textureFileName</key>
            <string>3-2.png</string>
        </dict>
    </dict>
</plist>
