<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-50}</string>
                <key>spriteSize</key>
                <string>{303,236}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{640,936},{303,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-51}</string>
                <key>spriteSize</key>
                <string>{291,234}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{640,466},{291,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-50}</string>
                <key>spriteSize</key>
                <string>{301,234}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{931,466},{301,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-50}</string>
                <key>spriteSize</key>
                <string>{303,236}</string>
                <key>spriteSourceSize</key>
                <string>{409,448}</string>
                <key>textureRect</key>
                <string>{{943,936},{303,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,11}</string>
                <key>spriteSize</key>
                <string>{302,237}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{1549,936},{302,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,11}</string>
                <key>spriteSize</key>
                <string>{302,237}</string>
                <key>spriteSourceSize</key>
                <string>{454,329}</string>
                <key>textureRect</key>
                <string>{{0,1173},{302,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,30}</string>
                <key>spriteSize</key>
                <string>{303,236}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1246,936},{303,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,28}</string>
                <key>spriteSize</key>
                <string>{319,234}</string>
                <key>spriteSourceSize</key>
                <string>{481,368}</string>
                <key>textureRect</key>
                <string>{{1232,466},{319,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{299,233}</string>
                <key>spriteSourceSize</key>
                <string>{301,273}</string>
                <key>textureRect</key>
                <string>{{0,0},{299,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,2}</string>
                <key>spriteSize</key>
                <string>{302,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{302,1173},{302,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,1}</string>
                <key>spriteSize</key>
                <string>{302,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1551,466},{302,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,1}</string>
                <key>spriteSize</key>
                <string>{302,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{0,701},{302,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,1}</string>
                <key>spriteSize</key>
                <string>{302,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{302,701},{302,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,1}</string>
                <key>spriteSize</key>
                <string>{300,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{604,701},{300,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,0}</string>
                <key>spriteSize</key>
                <string>{300,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{299,0},{300,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,0}</string>
                <key>spriteSize</key>
                <string>{300,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{599,0},{300,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{302,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{899,0},{302,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{302,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1201,0},{302,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,0}</string>
                <key>spriteSize</key>
                <string>{306,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1503,0},{306,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,0}</string>
                <key>spriteSize</key>
                <string>{306,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{0,233},{306,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,0}</string>
                <key>spriteSize</key>
                <string>{308,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{306,233},{308,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,0}</string>
                <key>spriteSize</key>
                <string>{312,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{614,233},{312,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{314,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{926,233},{314,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{314,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1240,233},{314,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,0}</string>
                <key>spriteSize</key>
                <string>{318,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1554,233},{318,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,0}</string>
                <key>spriteSize</key>
                <string>{320,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{0,466},{320,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,0}</string>
                <key>spriteSize</key>
                <string>{320,233}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{320,466},{320,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,1}</string>
                <key>spriteSize</key>
                <string>{322,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{904,701},{322,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,1}</string>
                <key>spriteSize</key>
                <string>{322,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1226,701},{322,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,1}</string>
                <key>spriteSize</key>
                <string>{322,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1548,701},{322,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,1}</string>
                <key>spriteSize</key>
                <string>{322,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{0,936},{322,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,2}</string>
                <key>spriteSize</key>
                <string>{320,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{604,1173},{320,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,1}</string>
                <key>spriteSize</key>
                <string>{318,235}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{322,936},{318,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,2}</string>
                <key>spriteSize</key>
                <string>{318,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{924,1173},{318,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,2}</string>
                <key>spriteSize</key>
                <string>{316,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1242,1173},{316,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,2}</string>
                <key>spriteSize</key>
                <string>{316,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1558,1173},{316,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,2}</string>
                <key>spriteSize</key>
                <string>{314,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{0,1410},{314,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,3}</string>
                <key>spriteSize</key>
                <string>{312,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1224,1410},{312,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,3}</string>
                <key>spriteSize</key>
                <string>{310,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1536,1410},{310,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,3}</string>
                <key>spriteSize</key>
                <string>{308,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{0,1649},{308,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,3}</string>
                <key>spriteSize</key>
                <string>{308,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{308,1649},{308,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,3}</string>
                <key>spriteSize</key>
                <string>{308,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{616,1649},{308,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,3}</string>
                <key>spriteSize</key>
                <string>{306,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{924,1649},{306,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,3}</string>
                <key>spriteSize</key>
                <string>{306,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1230,1649},{306,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,3}</string>
                <key>spriteSize</key>
                <string>{306,239}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{1536,1649},{306,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,2}</string>
                <key>spriteSize</key>
                <string>{304,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{314,1410},{304,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,2}</string>
                <key>spriteSize</key>
                <string>{304,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{618,1410},{304,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,2}</string>
                <key>spriteSize</key>
                <string>{302,237}</string>
                <key>spriteSourceSize</key>
                <string>{406,311}</string>
                <key>textureRect</key>
                <string>{{922,1410},{302,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>10-1.png</string>
            <key>size</key>
            <string>{1874,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb7f396c7efc4a2a7eb5b9deda6ba1b:07eb4d8f1e10cde47b8e7b7f8a61cf31:0c8b3e23a614db966914813dd88031ab$</string>
            <key>textureFileName</key>
            <string>10-1.png</string>
        </dict>
    </dict>
</plist>
