<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>29_atk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,4}</string>
                <key>spriteSize</key>
                <string>{212,301}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{616,198},{212,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-2}</string>
                <key>spriteSize</key>
                <string>{212,315}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{919,198},{212,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{224,315}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{293,410},{224,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-12}</string>
                <key>spriteSize</key>
                <string>{246,313}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{561,870},{246,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-10}</string>
                <key>spriteSize</key>
                <string>{268,311}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1177,1136},{268,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{230,297}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1194,414},{230,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,19}</string>
                <key>spriteSize</key>
                <string>{232,285}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,627},{232,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,15}</string>
                <key>spriteSize</key>
                <string>{246,275}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,861},{246,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,9}</string>
                <key>spriteSize</key>
                <string>{284,277}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1447,1191},{284,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{282,287}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{596,1380},{282,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{278,307}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1733,1361},{278,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{272,311}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,1378},{272,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,5}</string>
                <key>spriteSize</key>
                <string>{214,312}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1236,198},{214,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{258,306}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{299,1118},{258,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-10}</string>
                <key>spriteSize</key>
                <string>{280,278}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{314,1378},{280,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_byatk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-7}</string>
                <key>spriteSize</key>
                <string>{272,268}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{903,1136},{272,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_byatk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-3}</string>
                <key>spriteSize</key>
                <string>{264,266}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1769,837},{264,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,17}</string>
                <key>spriteSize</key>
                <string>{230,305}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{288,636},{230,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,22}</string>
                <key>spriteSize</key>
                <string>{210,311}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{303,198},{210,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-1}</string>
                <key>spriteSize</key>
                <string>{256,291}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1747,1103},{256,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,9}</string>
                <key>spriteSize</key>
                <string>{246,281}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{278,868},{246,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{246,277}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{876,872},{246,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{260,259}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1550,198},{260,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-17}</string>
                <key>spriteSize</key>
                <string>{270,235}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1783,565},{270,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-43}</string>
                <key>spriteSize</key>
                <string>{272,215}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1817,1},{272,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-55}</string>
                <key>spriteSize</key>
                <string>{300,207}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1,194},{300,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-68}</string>
                <key>spriteSize</key>
                <string>{310,191}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-63}</string>
                <key>spriteSize</key>
                <string>{304,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{313,1},{304,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-68}</string>
                <key>spriteSize</key>
                <string>{296,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{619,1},{296,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-68}</string>
                <key>spriteSize</key>
                <string>{298,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{917,1},{298,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-68}</string>
                <key>spriteSize</key>
                <string>{298,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1217,1},{298,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-68}</string>
                <key>spriteSize</key>
                <string>{298,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1517,1},{298,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{224,292}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{610,412},{224,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{222,290}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1,403},{222,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{222,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1812,275},{222,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{224,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{904,412},{224,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{230,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1493,459},{230,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{232,290}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{889,638},{232,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{240,290}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1181,646},{240,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{246,292}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1155,888},{246,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{607,1120},{258,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{256,296}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1,1116},{256,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{254,296}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1449,935},{254,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{242,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1473,691},{242,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{230,292}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{595,638},{230,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>29-0.png</string>
            <key>size</key>
            <string>{2041,1663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01169a85cde48cbf11ef063615620d8:49bf7145da89323a490168c841bde7d9:c06e8e1fca9620222e89e5289f38555d$</string>
            <key>textureFileName</key>
            <string>29-0.png</string>
        </dict>
    </dict>
</plist>
