<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>29_atk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,6}</string>
                <key>spriteSize</key>
                <string>{226,291}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,414},{226,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{198,311}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1479,1},{198,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-6}</string>
                <key>spriteSize</key>
                <string>{236,313}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1140,649},{236,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{242,313}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,878},{242,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{248,315}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{316,878},{248,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-12}</string>
                <key>spriteSize</key>
                <string>{248,313}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{633,885},{248,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{284,309}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{592,1397},{284,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,20}</string>
                <key>spriteSize</key>
                <string>{234,279}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,642},{234,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,1}</string>
                <key>spriteSize</key>
                <string>{248,285}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{948,887},{248,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-3}</string>
                <key>spriteSize</key>
                <string>{260,293}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1187,1139},{260,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{284,299}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{903,1401},{284,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{280,271}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1482,1273},{280,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{280,277}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1764,1273},{280,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{282,299}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{291,1388},{282,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,6}</string>
                <key>spriteSize</key>
                <string>{226,289}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{294,414},{226,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,6}</string>
                <key>spriteSize</key>
                <string>{226,291}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,414},{226,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,9}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{585,414},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-4}</string>
                <key>spriteSize</key>
                <string>{214,318}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1,198},{214,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{284,288}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1,1382},{284,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,1}</string>
                <key>spriteSize</key>
                <string>{248,264}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1792,1},{248,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_byatk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,4}</string>
                <key>spriteSize</key>
                <string>{236,276}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{862,647},{236,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,12}</string>
                <key>spriteSize</key>
                <string>{238,268}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1790,267},{238,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_byatk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,11}</string>
                <key>spriteSize</key>
                <string>{236,276}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1455,651},{236,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,8}</string>
                <key>spriteSize</key>
                <string>{234,286}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{282,642},{234,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{226,288}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{879,419},{226,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,9}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{585,414},{226,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,22}</string>
                <key>spriteSize</key>
                <string>{226,291}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1169,421},{226,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,16}</string>
                <key>spriteSize</key>
                <string>{214,315}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{321,198},{214,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,1}</string>
                <key>spriteSize</key>
                <string>{248,307}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1235,889},{248,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,19}</string>
                <key>spriteSize</key>
                <string>{230,281}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1755,537},{230,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,12}</string>
                <key>spriteSize</key>
                <string>{214,285}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{638,198},{214,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,9}</string>
                <key>spriteSize</key>
                <string>{220,281}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1507,201},{220,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,-47}</string>
                <key>spriteSize</key>
                <string>{290,217}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{925,200},{290,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-66}</string>
                <key>spriteSize</key>
                <string>{294,197}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1183,1},{294,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,-68}</string>
                <key>spriteSize</key>
                <string>{296,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-68}</string>
                <key>spriteSize</key>
                <string>{294,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{299,1},{294,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-68}</string>
                <key>spriteSize</key>
                <string>{292,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{595,1},{292,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-68}</string>
                <key>spriteSize</key>
                <string>{292,195}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{889,1},{292,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_shihua_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,21}</string>
                <key>spriteSize</key>
                <string>{226,291}</string>
                <key>spriteSourceSize</key>
                <string>{234,351}</string>
                <key>textureRect</key>
                <string>{{1462,423},{226,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_shihua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,21}</string>
                <key>spriteSize</key>
                <string>{226,291}</string>
                <key>spriteSourceSize</key>
                <string>{234,351}</string>
                <key>textureRect</key>
                <string>{{1462,423},{226,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{218,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1217,201},{218,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{234,290}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{570,642},{234,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{254,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1544,1017},{254,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1,1122},{258,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{297,1128},{258,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{258,296}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{593,1135},{258,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{891,1137},{258,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{246,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1733,769},{246,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>29-1.png</string>
            <key>size</key>
            <string>{2042,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01169a85cde48cbf11ef063615620d8:49bf7145da89323a490168c841bde7d9:c06e8e1fca9620222e89e5289f38555d$</string>
            <key>textureFileName</key>
            <string>29-1.png</string>
        </dict>
    </dict>
</plist>
