<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>29_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{202,307}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{615,267},{202,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{292,305}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,20}</string>
                <key>spriteSize</key>
                <string>{234,271}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1505,1336},{234,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{274,297}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,896},{274,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{288,295}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,308},{288,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{288,289}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1,605},{288,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,15}</string>
                <key>spriteSize</key>
                <string>{274,269}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{1083,497},{274,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{276,271}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{805,497},{276,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{264,311}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{606,1},{264,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,3}</string>
                <key>spriteSize</key>
                <string>{252,307}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{919,1},{252,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,5}</string>
                <key>spriteSize</key>
                <string>{240,297}</string>
                <key>spriteSourceSize</key>
                <string>{372,381}</string>
                <key>textureRect</key>
                <string>{{924,255},{240,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,5}</string>
                <key>spriteSize</key>
                <string>{200,318}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{295,271},{200,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,0}</string>
                <key>spriteSize</key>
                <string>{242,276}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1722,616},{242,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_byatk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{230,290}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{297,1468},{230,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_byatk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{228,286}</string>
                <key>spriteSourceSize</key>
                <string>{410,374}</string>
                <key>textureRect</key>
                <string>{{1275,1352},{228,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,22}</string>
                <key>spriteSize</key>
                <string>{198,319}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1820,1},{198,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-3}</string>
                <key>spriteSize</key>
                <string>{268,309}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{295,1},{268,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-8}</string>
                <key>spriteSize</key>
                <string>{270,295}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1,1195},{270,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,16}</string>
                <key>spriteSize</key>
                <string>{238,279}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1035,1064},{238,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,16}</string>
                <key>spriteSize</key>
                <string>{222,287}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{573,1061},{222,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,11}</string>
                <key>spriteSize</key>
                <string>{236,283}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{797,1064},{236,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-62}</string>
                <key>spriteSize</key>
                <string>{300,201}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{291,769},{300,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-60}</string>
                <key>spriteSize</key>
                <string>{294,207}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1,1492},{294,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-62}</string>
                <key>spriteSize</key>
                <string>{290,203}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{593,769},{290,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-64}</string>
                <key>spriteSize</key>
                <string>{292,201}</string>
                <key>spriteSourceSize</key>
                <string>{496,405}</string>
                <key>textureRect</key>
                <string>{{1815,322},{292,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{589,1350},{226,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,15}</string>
                <key>spriteSize</key>
                <string>{222,290}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1278,768},{222,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{218,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1502,743},{218,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{218,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1722,894},{218,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,13}</string>
                <key>spriteSize</key>
                <string>{218,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1502,1033},{218,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{220,286}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1722,1114},{220,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{220,286}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1275,1064},{220,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{228,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1045,1345},{228,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{236,290}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1359,505},{236,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{248,292}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{798,770},{248,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{252,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1228,1},{252,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{256,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{273,1210},{256,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{260,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{291,473},{260,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{252,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1524,1},{252,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{250,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{553,473},{250,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{248,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1519,255},{248,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{240,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1223,255},{240,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{236,294}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{277,972},{236,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29_wait_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{228,292}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{1048,770},{228,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_wait_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{226,292}</string>
                <key>spriteSourceSize</key>
                <string>{274,362}</string>
                <key>textureRect</key>
                <string>{{817,1349},{226,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>29-2.png</string>
            <key>size</key>
            <string>{2019,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01169a85cde48cbf11ef063615620d8:49bf7145da89323a490168c841bde7d9:c06e8e1fca9620222e89e5289f38555d$</string>
            <key>textureFileName</key>
            <string>29-2.png</string>
        </dict>
    </dict>
</plist>
