<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_atk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-28}</string>
                <key>spriteSize</key>
                <string>{325,232}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{0,1794},{325,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-55}</string>
                <key>spriteSize</key>
                <string>{335,212}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{795,201},{335,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-49}</string>
                <key>spriteSize</key>
                <string>{337,224}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{965,419},{337,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-45}</string>
                <key>spriteSize</key>
                <string>{341,232}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{325,1794},{341,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-45}</string>
                <key>spriteSize</key>
                <string>{341,232}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{666,1794},{341,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-46}</string>
                <key>spriteSize</key>
                <string>{339,230}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{291,1332},{339,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-47}</string>
                <key>spriteSize</key>
                <string>{337,228}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1166,645},{337,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-48}</string>
                <key>spriteSize</key>
                <string>{335,226}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1637,419},{335,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-49}</string>
                <key>spriteSize</key>
                <string>{335,224}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1302,419},{335,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-51}</string>
                <key>spriteSize</key>
                <string>{335,220}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{0,419},{335,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-51}</string>
                <key>spriteSize</key>
                <string>{325,214}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1389,201},{325,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-46}</string>
                <key>spriteSize</key>
                <string>{319,218}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1714,201},{319,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-43}</string>
                <key>spriteSize</key>
                <string>{317,220}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{335,419},{317,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-39}</string>
                <key>spriteSize</key>
                <string>{313,222}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{652,419},{313,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-35}</string>
                <key>spriteSize</key>
                <string>{311,226}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{0,645},{311,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-32}</string>
                <key>spriteSize</key>
                <string>{305,226}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{311,645},{305,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-29}</string>
                <key>spriteSize</key>
                <string>{301,230}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{630,1332},{301,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-28}</string>
                <key>spriteSize</key>
                <string>{295,232}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{1007,1794},{295,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,11}</string>
                <key>spriteSize</key>
                <string>{315,233}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1302,1794},{315,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{327,231}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{931,1332},{327,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_byatk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,11}</string>
                <key>spriteSize</key>
                <string>{319,233}</string>
                <key>spriteSourceSize</key>
                <string>{385,295}</string>
                <key>textureRect</key>
                <string>{{1617,1794},{319,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,24}</string>
                <key>spriteSize</key>
                <string>{293,231}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1258,1332},{293,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,55}</string>
                <key>spriteSize</key>
                <string>{285,229}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1503,645},{285,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-80}</string>
                <key>spriteSize</key>
                <string>{255,227}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{616,645},{255,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-87}</string>
                <key>spriteSize</key>
                <string>{259,213}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1130,201},{259,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-95}</string>
                <key>spriteSize</key>
                <string>{261,197}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{0,0},{261,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-94}</string>
                <key>spriteSize</key>
                <string>{261,199}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{261,0},{261,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-93}</string>
                <key>spriteSize</key>
                <string>{261,201}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{785,0},{261,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-93}</string>
                <key>spriteSize</key>
                <string>{263,201}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1046,0},{263,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-93}</string>
                <key>spriteSize</key>
                <string>{263,201}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1309,0},{263,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-93}</string>
                <key>spriteSize</key>
                <string>{263,201}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{1572,0},{263,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-94}</string>
                <key>spriteSize</key>
                <string>{263,199}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{522,0},{263,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-94}</string>
                <key>spriteSize</key>
                <string>{265,201}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{0,201},{265,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-93}</string>
                <key>spriteSize</key>
                <string>{265,203}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{265,201},{265,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-93}</string>
                <key>spriteSize</key>
                <string>{265,203}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{530,201},{265,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,15}</string>
                <key>spriteSize</key>
                <string>{295,231}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1551,1332},{295,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,15}</string>
                <key>spriteSize</key>
                <string>{295,231}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,1563},{295,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,15}</string>
                <key>spriteSize</key>
                <string>{295,231}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{295,1563},{295,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{295,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,874},{295,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{295,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{295,874},{295,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{297,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{590,874},{297,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{297,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{887,874},{297,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,14}</string>
                <key>spriteSize</key>
                <string>{295,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1184,874},{295,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,14}</string>
                <key>spriteSize</key>
                <string>{295,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1479,874},{295,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,13}</string>
                <key>spriteSize</key>
                <string>{295,227}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{871,645},{295,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{295,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,1103},{295,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{295,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{295,1103},{295,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{295,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{590,1103},{295,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{293,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{885,1103},{293,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{293,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1178,1103},{293,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{293,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1471,1103},{293,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{291,229}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{0,1332},{291,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,15}</string>
                <key>spriteSize</key>
                <string>{293,231}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{590,1563},{293,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,15}</string>
                <key>spriteSize</key>
                <string>{291,231}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{883,1563},{291,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,15}</string>
                <key>spriteSize</key>
                <string>{291,231}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1174,1563},{291,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_wait_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,15}</string>
                <key>spriteSize</key>
                <string>{291,231}</string>
                <key>spriteSourceSize</key>
                <string>{369,273}</string>
                <key>textureRect</key>
                <string>{{1465,1563},{291,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>7-0.png</string>
            <key>size</key>
            <string>{2033,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3965c3e1827ee8b70982b3d561188b73:7947b8b75965a81a843921a8e15c699b:e67435620d40f3ad295f0accbba54d4d$</string>
            <key>textureFileName</key>
            <string>7-0.png</string>
        </dict>
    </dict>
</plist>
