<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_atk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{289,286}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{229,281},{289,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,10}</string>
                <key>spriteSize</key>
                <string>{239,308}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{434,582},{239,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,14}</string>
                <key>spriteSize</key>
                <string>{201,316}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{0,892},{201,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,7}</string>
                <key>spriteSize</key>
                <string>{197,302}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{0,582},{197,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,4}</string>
                <key>spriteSize</key>
                <string>{205,298}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{518,281},{205,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-2}</string>
                <key>spriteSize</key>
                <string>{229,284}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{0,281},{229,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-11}</string>
                <key>spriteSize</key>
                <string>{249,266}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{0,0},{249,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_atk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,11}</string>
                <key>spriteSize</key>
                <string>{221,310}</string>
                <key>spriteSourceSize</key>
                <string>{509,390}</string>
                <key>textureRect</key>
                <string>{{673,582},{221,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,28}</string>
                <key>spriteSize</key>
                <string>{257,275}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{488,0},{257,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,11}</string>
                <key>spriteSize</key>
                <string>{237,303}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{197,582},{237,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-6}</string>
                <key>spriteSize</key>
                <string>{221,319}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{440,892},{221,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-22}</string>
                <key>spriteSize</key>
                <string>{237,323}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{661,892},{237,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-30}</string>
                <key>spriteSize</key>
                <string>{239,317}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{201,892},{239,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-38}</string>
                <key>spriteSize</key>
                <string>{237,301}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{723,281},{237,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-44}</string>
                <key>spriteSize</key>
                <string>{243,281}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{745,0},{243,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-53}</string>
                <key>spriteSize</key>
                <string>{239,269}</string>
                <key>spriteSourceSize</key>
                <string>{451,397}</string>
                <key>textureRect</key>
                <string>{{249,0},{239,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>7-2.png</string>
            <key>size</key>
            <string>{988,1215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3965c3e1827ee8b70982b3d561188b73:7947b8b75965a81a843921a8e15c699b:e67435620d40f3ad295f0accbba54d4d$</string>
            <key>textureFileName</key>
            <string>7-2.png</string>
        </dict>
    </dict>
</plist>
